section.finance-section
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    .finance-wrapper
      h1 Финансовые операции
      form.filter-wrapper.new-form-style
        label(for='filter-select') Фильтровать:
        select#filter-select(name='filter-select').custom-combobox-input
          option(disabled selected) Тип операции
          option Оплата услуг
          option Накопительный бонус
          option Реферальный бонус
          option Возврат средств
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" id="resetSelect"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.18849 5.00002L9.75386 1.43465C10.0821 1.10646 10.0821 0.574344 9.75386 0.246195C9.42567 -0.0820022 8.8936 -0.0820022 8.56541 0.246195L4.99999 3.81161L1.43457 0.246148C1.10637 -0.0820492 0.574309 -0.0820492 0.246112 0.246148C-0.0820374 0.574344 -0.0820374 1.10646 0.246112 1.4346L3.81153 4.99998L0.246112 8.5654C-0.0820374 8.89359 -0.0820374 9.4257 0.246112 9.75385C0.574309 10.082 1.10637 10.082 1.43457 9.75385L4.99999 6.18843L8.56541 9.75385C8.89356 10.082 9.42567 10.082 9.75386 9.75385C10.0821 9.42566 10.0821 8.89359 9.75386 8.5654L6.18849 5.00002Z" fill="black"/></svg>
      .table-scroll-wrapper
        .table-wrapper
          table
            tr
              th Дата
              th Тип операции
              th Тип счёта
              th Комментарий
              th Сумма
            tr
              td 13.01.2019
              td Оплата услуг
              td Бонусный
              td №12123
                span.tooltip(title="Here you can see tooltip text Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see Here you can see") ?
              td 400 грн
            tr
              td 13.01.2019
              td Возврат средств
              td Бонусный
              td №1223
              td 200 грн
            tr
              td 13.01.2019
              td Оплата услуг
              td Основной
              td -
              td 456 грн
            tr
              td 13.01.2019
              td Накопительный бонус
              td Бонусный
              td №123
                span.tooltip(title="Here you can see tooltip text") ?
              td 555 грн
            tr
              td 13.01.2019
              td Реферальный бонус
              td Бонусный
              td -
              td 312 грн
            tr
              td 13.01.2019
              td Возврат средств
              td Бонусный
              td №12
              td 1234 грн
            tr
              td 13.01.2019
              td Реферальный бонус
              td Основной
              td -
              td 6000 грн
            tr
              td 13.01.2019
              td Оплата услуг
              td Основной
              td №1223
              td 223 грн
            tr
              td 13.01.2019
              td Оплата услуг
              td Бонусный
              td №121234
              td 13 грн
            tr
              td 13.01.2019
              td Возврат средств
              td Основной
              td №12123
              td 313 грн
            tr
              td 13.01.2019
              td Накопительный бонус
              td Бонусный
              td 
                span.tooltip(title="Here you can see tooltip text") ?
              td 3312 грн
            tr
              td 13.01.2019
              td Накопительный бонус
              td Бонусный
              td №12123
              td 333 грн
            tr
              td 13.01.2019
              td Оплата услуг
              td Основной
              td 
                span.tooltip(title="Here you can see tooltip text") ?
              td 132 грн
      .pagination-wrapper
        ul
          li.active
            a(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
          li
            a(href="#") 4