@import _mixins

.error-page
	padding: 0
	height: 100vh
	.container
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		h1
			font-size: 17vw
		    line-height: 1
			padding-top: 0
		.text
			padding: 0

		a
			background-color: #12c77f
			-webkit-border-radius: 15px
			border-radius: 15px
			color: #ffffff
			padding: 7px 36px
			width: 140px
			margin: 0 auto