.register-body1
  .error
    position: absolute
    bottom: 18px
  .error-wrapper,
  .title-questions
    position: relative
    .error
      bottom: -18px
      margin-bottom: 0
.register-body
  padding: 50px 20px
  max-width: 542px
  margin: 0 auto
  margin-top: 86px
  color: #000
  min-width: 320px
  position: relative
  font-family: RobotoCondensed
  p
    font-size: 16px
    line-height: 23px
    text-align: justify

.container-353
  width: 100%
  max-width: 353px
  margin: 0 auto

.container-435
  width: 100%
  max-width: 435px
  margin: 0 auto
.container-512
  width: 100%
  max-width: 512px
  margin: 0 auto

.register-autor__title
  margin-bottom: 20px
  font-size: 18px
  font-weight: 700

.register-autor__title--second
  margin-bottom: 8px
  font-size: 16px

.register-container__step--2

  .personal-data

    .custom-combobox-input
      width: 100%
      display: block
      margin: 0 0 20px 0
      border: 0.5px solid #291954



  .custom-select
    cursor: pointer
    margin: 0 0 20px 0
.last-input
  margin-bottom: 15px!important

.register-progress__bar
  display: flex
  flex-direction: row
  justify-content: space-between
  position: relative
  width: 100%
  max-width: 463px
  margin: 0 auto
  height: 36px
  margin-bottom: 50px
  .stage
    width: 34px
    height: 34px
    border: 1px solid #B6B6B6
    line-height: 1.9
    border-radius: 50%
    display: inline-block
    text-align: center
    background-color: #fff
    position: relative
    &:before
      content: ''
      position: absolute
      height: 4px
      background-color: #fff
      width: 5px
      right: -4px
      top: calc(50% + 1px)
      transform: translateY(-50%)
    &:after
      content: ''
      position: absolute
      height: 4px
      background-color: #fff
      width: 5px
      left: -4px
      top: calc(50% + 1px)
      transform: translateY(-50%)
    &:last-child
      &:before
        content: none
    &.active
      background-color: #40297B
      color: #fff
      border: 1px solid transparent
      &:after
        content: none
      &:before
        content: none

.line-progress
  position: absolute
  width: 99.8%
  top: 50%
  transform: translateY(-50%)
  height: 6px
  border: 1px solid #B6B6B6
  background-color: #fff
  &:before
    content: ''
    position: absolute
    top: 50%
    height: 6px
    width: 0
    transform: translateY(-50%)
    background-color: #40297B
    z-index: 2
.wrap-for__icon
  margin-bottom: 20px
.step-1
  &:before
    width: 0

.step-2
  &:before
    width: 32%

.step-3
  &:before
    width: 65%
.step-4
  &:before
    width: 100%
.btn-next
  margin: 0 auto
  margin-top: 50px
  display: block
  width: 100%
  max-width: 202px

.input-file__register
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

.input-file__register
  + .clip-label
    font-weight: 400
    color: #40297B
    background-color: transparent
    display: inline-block
    cursor: pointer
    font-size: 16px
    line-height: 19px
    height: 38px
    position: relative
    margin-left: 38px
    &:before
      content: ''
      position: absolute
      cursor: pointer
      top: 12px
      transform: translate(-50%, -50%)
      left: -15px
      width: 18px
      height: 18px
      -webkit-background-size: cover
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      background-image: url('/img/icons/clip.svg')
  &:focus + .clip-label, + .clip-label:hover
    cursor: pointer

.important
  width: 100%
  max-width: 463px
  margin: 0 auto
  background-color: rgba(228, 118, 118, 0.3)
  border-radius: 10px
  padding: 30px 55px
  margin-bottom: 50px

.inputs-together__1
  max-width: 249px
.inputs-together__2
  max-width: 82px
.wrap-inputs
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: space-between

.register-container__step--3
  .new-form-style
    .custom-combobox-input
      width: 100%
      display: block
      margin: 0 0 20px 0
      border: 0.5px solid #291954
  .register-progress__bar
    max-width: 458px

.contain-label
  display: block
  position: relative
  padding-left: 23px
  cursor: pointer
  line-height: 1.2
  font-size: 12px
  color: #B6B6B6
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

  input:checked ~ .checkbox-custom__reg:after
    display: block
  .checkbox-custom__reg
    &:after
      left: 1px
      top: 1px
      font-family: FontAwesome
      content: "\f00c"
      font-weight: normal
      line-height: 1
      font-size: 11px


.contain-label input ~ .checkbox-custom__reg
  background-color: #fff

.checkbox-custom__reg
  position: absolute
  top: 0
  left: 0
  height: 15px
  width: 15px
  border: 1px solid #d6d6d6
  color: #000
  border-radius: 5px
  background-color: #fff
  &:after
    content: ""
    position: absolute
    display: none

.register-container__step--1
  .new-form-style
    position: relative
    .custom-combobox-input
      margin-top: 0
      margin-bottom: 10px
    label.error
      position: static
      margin-bottom: 10px
      line-height: 1.2
      margin-top: -10px


.button_add
  label
    cursor: pointer
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    width: 353px
    margin-left: 10px
  .add_cont
    padding: 0
    -moz-text-align-last: left
    text-align-last: left
    background-color: #fff
    font-family: "RobotoCondensed"
    font-style: normal
    font-weight: normal
    line-height: normal
    font-size: 16px
    color: #40297B
    margin-left: 10px
    margin-top: -4px
.files-inputed
  margin-top: 10px
  text-align: left
  width: 353px
  .files-added
    line-height: normal !important
    width: 100%
    overflow: hidden
    margin: 8px 0
    color: #b6b6b6
    padding-left: 30px
    a
      margin-right: 18px
      font-size: 13px
.copied
  margin-bottom: 30px
.wrap-add__education
  width: 100%
  text-align: center
  margin: 30px 0
  .add-education
    color: #000
    font-size: 16px
    cursor: pointer
.n-visible
  display: none
.title-questions
  font-size: 16px
  margin-bottom: 16px
.arr-check
  margin-bottom: 30px
  .contain-label
    font-size: 16px
    color: #000
    margin-bottom: 12px
  &:last-child
    .title-questions
      margin-bottom: 7px
  .sub-title
    font-size: 14px
    color: #b6b6b6
    margin-bottom: 20px
.disNone
  display: none!important
.form-search
  position: relative
.placeholder
  color: #333
select:required:invalid
  color: gray

option[value=""][disabled]
  display: none

option[default]
  display: none
.register-body1,
.register-body
  .form-search
    .custom-combobox
      width: 100%
  .ui-widget.ui-widget-content
    max-height: 150px
    outline: none
    border: 0.5px solid #291954
    border-radius: 5px
    max-width: 435px
    @media (max-width: 500px)
      max-width: 90%
  .ui-menu-item
    padding: 6px 0 10px 0
    background-color: #fff
    width: 100%
    transition: .3s all ease
    z-index: 1
    &:hover
      background-color: #40297B
      transition: .3s all ease
      color: #fff
      cursor: pointer

.register-container__step--3
  .new-form-style
    .search-input
      padding-left: 45px
    .search-result
      display: none
      position: absolute
      top: 43px
      left: 0
      padding: 6px 0 10px 0
      background-color: #fff
      border: 0.5px solid #291954
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25)
      border-radius: 5px
      width: 100%
      transition: .3s all ease
      z-index: 1
      &.open
        display: block
        transition: .3s all ease
        li
          padding: 5px 13px
          transition: .3s all ease
          &:hover
            background-color: #40297B
            transition: .3s all ease
            a
              color: #fff
        a
          color: #000
          transition: .3s all ease
          span
            color: #b6b6b6
.wrap-for__icon
  position: relative
  &:before
    content: ''
    background: url('/img/icons/icon-search.svg') center no-repeat
    -webkit-background-size: cover
    background-size: cover
    width: 16px
    height: 16px
    position: absolute
    top: 50%
    left: 13px
    transform: translateY(-50%)
  &:after
    content: ''
    width: 20px
    height: 20px
    position: absolute
    right: 5px
    top: 50%
    transform: translateY(-50%)
    background-color: #fff
  .custom-combobox
    input
      padding-left: 40px
      width: 100%
.new-form-style
  .wrap-for__icon
    .custom-combobox-input
      margin-top: 0

.register-body
  .nice-select
    .list
      border: 0.5px solid #291954
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25)
      padding-bottom: 10px
      .option
        height: 30px
        line-height: 30px
        min-height: 30px
        font-size: 17px
        &.selected
          background-color: #40297B
        &:hover
          background-color: #40297B
          transition: .3s all ease
          color: #fff
span.current
  top: 50%
  transform: translateY(-50%)
.add-items__title
  display: flex
  flex-direction: row
  justify-content: space-between
  border-bottom: 1px solid #b6b6b6
  padding-bottom: 8px
  span
    font-size: 16px
    &:last-child
      letter-spacing: .2px
.dell
  color: red
  cursor: pointer
  display: none
  &.removeVisible
    display: block
.tree
  input:checked ~ ul
    display: block
.wrap-tree
  display: flex
  justify-content: space-between
  padding-top: 20px
.register-container__step--2
  .custom-select
    display: block
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &:before
      background: #fff
      border: none
      content: ''
      position: absolute
      right: 10px
      top: 12px
      width: 10px
      height: 13px
.tree
  input ~ ul
    display: none
ul.tree
  width: 41%
  *
    cursor: pointer
    font-size: 16px
  .main-branch
    position: relative
    padding-left: 14px
    margin-bottom: 7px
  li
    padding-left: 20px
    position: relative

    ul
      position: relative
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 1px
        bottom: 10px
        background-color: #40297B

      li
        position: relative
        min-height: 25px
        padding: 5px 0 0 22px
        &:before
          content: ''
          position: absolute
          left: 0
          top: 14px
          width: 6px
          height: 1px
          background-color: #40297B
        &:last-child
          &:after
            content: ''
            position: absolute
            left: 0
            top: 15px
            bottom: 0
            width: 10px
            background-color: #fff


.tree
  .contain-label
    padding-left: 20px
    font-size: 16px
    color: #000
    margin-left: -9px
    &:before
      content: none
  .checkbox-custom__reg
    top: 50%
    transform: translateY(-50%)

.tree-label
  position: relative
  letter-spacing: -.5px

  &:before
    content: '+'
    position: absolute
    top: 0
    left: -10px
.tree-input
  display: none

.tree
  input
    &:checked ~ label.tree-label
      position: relative
      letter-spacing: -.7px
      &:before
        content: '-'
        position: absolute
        top: 0
        left: -10px

.register-succsess
  padding: 20px 10px
  text-align: center
  background-color: #18C783
  border-radius: 10px
  color: #fff
  margin-bottom: 10px
  .register-succsess__text
    font-size: 16px
    max-width: 310px
    margin: 0 auto
    text-align: center
    line-height: normal
    color: #fff

.register-succsess__title
  font-size: 18px
  margin-bottom: 10px
  font-weight: 700
  color: #fff
.register-succsess__questions
  text-align: center
  color: #B6B6B6
  margin: 0
  padding: 0
  font-size: 14px
  line-height: normal
  margin-bottom: 50px
  max-width: 320px

.register-succsess__text
  max-width: 276px
  margin: 0 auto
  text-align: center
  font-size: 16px
  color: #000
  margin-bottom: 20px
  line-height: normal
.wrap-btn
  width: 100%
  text-align: center
  .btn-details
    margin:  0 auto
.three-checked
  .contain-label input ~ .checkbox-custom__reg
    background-color: #747474
  .contain-label .checkbox-custom__reg:after
    content: none


.add-items__title--media
  display: none

@media (max-width: 495px)
  .register-container__step--1
    .important
      padding: 10px 25px
  .register-container__step--2
    .personal-data
      .inputs-together__1
        margin: 0 20px 20px 0

@media (max-width: 373px)
  .add-items__title
    span
      &:last-child
        display: none
  ul.tree
    width: 100%
  .wrap-tree
    flex-direction: column
  .tree-view
    margin-bottom: 20px
  .add-items__title--media
    display: block
    width: 100%
    border-bottom: 1px solid #b6b6b6
    padding-bottom: 8px
    margin-bottom: 20px
    font-size: 16px

@media (max-width: 360px)
  .register-container__step--2
    .button_add
      label
        max-width: 295px
