@import _mixins

.about
  margin-bottom: 100px
  @media (max-width: 575px)
    margin-bottom: 50px
  .container
    @media (max-width: 1220px)
      padding: 0
  position: relative
  // &:before
  //   content: ''
  //   position: absolute
  //   background-image: url("../img/foto.png")
  //   background-repeat: no-repeat
  //   background-size: 70%
  //   background-position: 100% 100%
  //   right: 0
  //   bottom: 0
  //   width: 773px
  //   height: 894px
  //   z-index: 9
  //   @media (max-width: 1920px)
  //     background-size: 65%
  //   @media (max-width: 1700px)
  //     background-size: 60%
  //   @media (max-width: 1290px)
  //     background-size: 55%
  //   @media (max-width: 1220px)
  //     background: none
  .block-desc
    background-color: #320d51
    position: relative
  h2
    padding-top: 69px
    padding-bottom: 55px
    color: #ffffff
    @media (max-width: 1220px)
      padding: 40px
    @media (max-width: 860px)
      padding: 30px
  .description-company
    padding: 0 0 100px 140px
    width: 88%
    p
      font-size: 16px
    @media (max-width: 1620px)
      width: 85%
    @media (max-width: 1500px)
      width: 80%
    @media (max-width: 1220px)
      width: 80%
      padding: 0 0 69px
      margin: auto
    @media (max-width: 860px)
      width: 90%
      padding-bottom: 60px

  .signature
    color: #360e53
    position: absolute
    left: 70%
    bottom: 40px
    color: #ffffff
    font-size: 30px
    @media (max-width: 2050px)
      left: 70%
    @media (max-width: 1600px)
      left: 65%
    @media (max-width: 1500px)
      left: 60%
    @media (max-width: 1320px)
      left: 58%
      //bottom: 20px
    @media (max-width: 1220px)
      left: 70%
    @media (max-width: 750px)
      left: auto
      bottom: 20px
      right: 10%
    img
      width: 70%
      height: auto
  //text-align: right
  //padding-top: 20px
  //padding-bottom: 50px
  //width: 68%


  //@media (max-width: 1220px)
    display: none
  .social
    width: 50%
    color: #360e53
    text-align: center
    h4
      margin-top: 80px
      font-size: 24px
      font-weight: bold
      @media (max-width: 1220px)
        margin-top: 0px
    @media (max-width: 1220px)
      width: 100%
      padding-top: 28px
    ul
      padding-bottom: 100px
      @media (max-width: 1920px)
        //padding-bottom: 170px
        padding-bottom: 100px
        &:last-child
          padding-right: 0
      @media (max-width: 1220px)
        padding-bottom: 40px
        &:last-child
          padding-right: 0
      li
        padding-right: 58px
        @media (max-width: 400px)
          padding-right: 10px
        &:last-child
          padding-right: 0
    a
      color: #360e53
//width: 50px!important
//height: 50px


