@import _mixins


.advantage
	position: relative
	&:after
		content: ''
		position: absolute
		background-image: url("../img/bg/left-bg.png")
		background-repeat: no-repeat
		left: 30px
		bottom: -33px
		width: 373px
		height: 651px
		background-size: 95%
		@media (max-width: 1720px)
			background-size: 90%
			bottom: 0
			background-position: 0 100%
		@media (max-width: 1680px)
			background-size: 80%
		@media (max-width: 1520px)
			background-size: 70%
		@media (max-width: 1200px)
			background-size: 68%
		@media (max-width: 980px)
			display: none
	&:before
		content: ''
		position: absolute
		background-image: url("../img/bg/right.png")
		background-repeat: no-repeat
		background-size: 100%
		right: 10px
		bottom: 0
		width: 508px
		height: 611px
		@media (max-width: 1720px)
			bottom: -71px
			width: 449px
		@media (max-width: 1680px)
			bottom: -142px
			width: 390px
		@media (max-width: 1520px)
			bottom: -184px
			width: 355px
		@media (max-width: 1200px)
			//background-size: 68%
		@media (max-width: 980px)
			display: none
	.list_plus
		display: flex
		flex-flow: wrap
		justify-content: center
		padding: 0 150px
		margin-bottom: 80px
		@media (max-width: 1680px)
			padding: 0 240px
		@media (max-width: 1368px)
			padding: 0px 160px
		//@media (max-width: 1180px)
		//	padding: 0 40px
		@media (max-width: 980px)
			padding: 0
		li
			text-align: center
			min-width: 271px
			width: 28%
			border-radius: 10px
			background-color: #351054
			margin: 10px
			padding: 22px 44px 49px
			box-sizing: border-box
			@media (max-width: 1400px)
				padding: 20px 18px
				margin: 5px
			@media (max-width: 1200px)
				width: 42%
			@media (max-width: 980px)
				width: 30%
			@media (max-width: 720px)
				width: 44%
			@media (max-width: 480px)
				width: 86%
			@media (max-width: 360px)
				width: 98%


			.icon
				margin: auto
				img
					width: 126px
					height: 126px
					border-radius: 50%
					@media (max-width: 1368px)
						height: 100px
						width: 100px
					@media (max-width: 720px)
						height: 86px
						width: 86px
			.title
				font-size: 18px
				font-weight: 700
				padding: 20px 0
				@media (max-width: 1368px)
					//font-size: 18px
					padding: 10px 0
				@media (max-width: 720px)
					font-size: 16px
			.desc
				text-align: left
				font-size: 16px
				line-height: 1.2em
				//max-height: 113px
				overflow: hidden
				@media (max-width: 1368px)
					font-size: 14px
