.cabinet-main-section
  .container
    @media (max-width: 1060px)
      padding: 0
    @media (max-width: 991px)
      padding: 0 20px
.cabinet-main-wrapper
  margin-top: 50px
  color: #000000
  padding: 0 152px
  @media (max-width: 991px)
    padding: 0
  .main-links-wrapper
    display: flex
    justify-content: space-between
    @media (max-width: 767px)
      display: block
    &__profile,
    &__faq,
    &__reviews
      width: 202px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      @media (max-width: 767px)
        width: 202px
        margin-left: auto
        margin-right: auto
        margin-bottom: 22px
      .header-wrapper
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
      .icon
        width: 80px
        height: 80px
        background-color: #F5F5F5
        border-radius: 50%
        margin-bottom: 20px
        display: flex
        justify-content: center
        align-items: center
        img
      .header
        font-weight: bold
        font-size: 16px
        margin-bottom: 10px
      .text
        text-align: justify
        margin-bottom: 15px
        font-size: 16px
        width: 100%
      .btn-primary
        padding: 0
        height: 37px
        width: 202px
  .orders-links-wrapper
    margin-top: 60px
    display: flex
    justify-content: space-between
    @media (max-width: 991px)
      justify-content: space-around
    @media (max-width: 767px)
      margin-top: 30px
      flex-direction: column
      justify-content: space-between
    &__last-orders-wrapper,
    &__ready-orders-wrapper
      @media (max-width: 767px)
        margin-left: auto
        margin-right: auto
      @media (max-width: 350px)
        width: 100%
      .order-wrapper:not(:first-of-type)
        @media (max-width: 767px)
          display: none
    &__ready-orders-wrapper
      @media (max-width: 767px)
        margin-top: 30px
    h3
      width: 441px
      margin-left: 15px
      text-align: left
      font-size: 16px
      font-weight: bold
      margin-bottom: 5px
      @media (max-width: 1368px)
        width: 340px
      @media (max-width: 767px)
        margin-left: 0
        text-align: center
      @media (max-width: 575px)
        width: 100%
    .order-wrapper
      display: block
      color: #000000
      font-size: 16px
      width: 441px
      min-height: 105px
      border: 1px solid #B5B5B5
      border-radius: 10px
      margin-bottom: 9px
      padding: 15px
      box-sizing: border-box
      @media (max-width: 1368px)
        width: 340px
      @media (max-width: 767px)
        margin-left: auto
        margin-right: auto
      @media (max-width: 575px)
        width: 290px
      @media (max-width: 350px)
        width: 100%
      &:hover
        border: 1.5px solid #40297B!important
      .order-status-wrapper
        display: flex
        justify-content: space-between
        margin-bottom: 9px
        .order,
        .status
          span:first-of-type
            font-weight: bold
            margin-right: 5px
        .order
          display: flex
          flex-direction: row
        .status
          display: flex
          width: 140px
        .status.in-work
          span:nth-of-type(2)
            color: #18c783
      .type-of-work,
      .subject
        span:first-of-type
          font-weight: bold
          margin-right: 5px
          width: 83px
          display: inline-block
        span:nth-of-type(2)
          display: inline-block
          width: 77%
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
          vertical-align: -5px
          @media (max-width: 1368px)
            width: 70%
          @media (max-width: 575px)
            width: 65%
          @media (max-width: 350px)
            width: 60%
      .type-of-work
        margin-bottom: 9px
  .profile-activity
    h3
      margin: 60px 0 0 0
      padding: 0 0 10px 20px
      text-align: left
      border-bottom: 1px solid #B6B6B6
      @media (max-width: 767px)
        margin: 30px 0 0 0
        padding: 0 0 10px 0
    .profile-activity__wrapper
      max-height: 400px
      overflow: auto
      margin-bottom: 100px
      color: #000000
      margin-top: 20px
      ul
        margin-right: 26px
        li
          display: flex
          justify-content: space-between
          margin-top: 20px
          font-size: 16px
        li:first-of-type
          margin-top: 0
        .name
          margin-right: 20px
          text-align: left
          span
            font-weight: bold
          .normal
            font-weight: normal
        .return
          color: #fc3333
        .value
          min-width: 115px
          @media (max-width: 767px)
            min-width: auto
          span.normal
            @media (max-width: 767px)
              display: none