.checkout-main-wrapper
  color: #000000
  margin-top: 136px
  padding: 0 152px
  display: flex
  margin-bottom: 213px
  @media (max-width: 991px)
    padding: 0 20px
  @media (max-width: 640px)
    margin-top: 76px
  &__left
    width: 441px
    margin-right: 45px
    @media (max-width: 1368px)
      width: 350px
    @media (max-width: 767px)
      margin-left: auto
      margin-right: auto
    @media (max-width: 575px)
      width: 100%
    h1
      margin: 0 0 30px 0
      text-align: left
      font-size: 18px
      @media (max-width: 767px)
        margin: 0 0 20px 0
        font-size: 16px
    .search
      position: relative
      form
        margin: 0
      input
        width: 100%
        padding-left: 40px
        margin: 0
        position: relative
      #button-search
        position: absolute
        bottom: 0
        left: 0
        width: 40px
        height: 40px
        background: none
        border: none
        z-index: 10
        cursor: pointer
        padding: 0
      svg
        fill: #7f7f7f
        width: 24px
        height: 17px
        position: absolute
        bottom: 2px
        left: 0
        margin: 9px
  &__left-orders-wrapper
    margin-top: 20px
    height: 690px
    overflow: auto
  &__left-order
    padding: 10px
    border: 1px solid #B5B5B5
    border-radius: 10px
    cursor: pointer
    margin-bottom: 9px
    font-size: 16px
    &.active
      border: 1.5px solid #40297B
      background-color: #40297b54
    &:hover
      border: 1.5px solid #40297B
    .order-price-wrapper
      display: flex
      justify-content: space-between
      .order
        display: flex
        flex-direction: row
      .price
        span:first-of-type
          font-weight: bold
          margin-right: 7px
    .order,
    .date,
    .type,
    .subject
      span:first-of-type
        width: 83px
        display: inline-block
        margin-right: 9px
        font-weight: bold
        margin-bottom: 9px
    .subject
      span:first-of-type
        margin-bottom: 0
    .type,
    .subject
      span:nth-of-type(2)
        display: inline-block
        width: 77%
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        vertical-align: -5px
        @media (max-width: 1368px)
          width: 70%
        // @media (max-width: 575px)
        //   width: 65%
        @media (max-width: 388px)
          width: 60%
  .btn-wrapper
    position: fixed
    bottom: 0
    left: 0
    right: 0
    background-color: #fff
    padding: 0 20px 0
    z-index: 1
  .next-checkout-page.btn-primary
    width: 350px
    height: 41px
    line-height: 41px
    margin-top: 15px
    margin-bottom: 15px
    margin-left: 50%
    transform: translateX(-50%)
    @media (max-width: 767px)
      display: inline-block
      padding: 0
    @media (max-width: 575px)
      margin-left: 0
      transform: none
      width: 100%
  &__right
    width: 335px
    margin-top: 35px
    @media (max-width: 767px)
      display: none
    .orders-checked
      font-size: 14px
      color: #b5b5b5
    .cards-wrapper
      margin-top: 20px
      display: flex
      svg
        width: 100%
  &__right-pay-wrapper
    background-color: #EAFAF4
    padding: 15px 15px 30px
    font-size: 16px
    border: 1px solid #5F9781
    h3
      text-align: left
      font-size: 18px
      padding-bottom: 5px
      border-bottom: 1px solid #5F9781
      margin-bottom: 10px
    .whole,
    .discount,
    .bonus-minus,
    .promo
      display: flex
      justify-content: space-between
      margin-bottom: 10px
      span:nth-of-type(2)
        white-space: nowrap
    .discount-name
      position: relative
      span:nth-of-type(2)
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        right: -18px
        top: 3px
        height: 12px
        width: 12px
        border-radius: 50%
        background-color: #C0F0DD
        font-size: 9px
        cursor: help
    .to-pay
      padding: 20px 0
      border-top: 1px solid #5F9781
      border-bottom: 1px solid #5F9781
      display: flex
      justify-content: space-between
      span:nth-of-type(2)
        font-size: 24px
        font-weight: bold
    .future-bonus
      margin-top: 10px
      display: flex
      justify-content: space-between
      span:nth-of-type(2)
        white-space: nowrap
    .footer
      margin-top: 90px
      background-color: #EAFAF4
      @media (max-width: 767px)
        margin-top: 73px
      .input-label-wrapper
        text-align: center
        margin-bottom: 5px
      label
        cursor: pointer
      .checkbox
        display: none
        /* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
      .checkbox-custom
        position: relative      // Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
        width: 20px             // Обязательно задаем ширину */
        height: 20px            // Обязательно задаем высоту */
        border: 1px solid #D7D7D7
        border-radius: 5px
        background-color: #fff
      .checkbox-custom,
      .label
        display: inline-block
        vertical-align: middle
        font-size: 16px
        margin-left: 5px
        /* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
      .checkbox:checked + .checkbox-custom::before
        font-family: FontAwesome
        content: "\f00c"             //* Добавляем наш псевдоэлемент */
        font-weight: normal
        font-size: 12px
        position: absolute
        right: 3px
        bottom: -1px
        color: #43135B
      .half-order-p,
      .conditions
        text-align: center
        font-size: 10px
        color: #5e6462
        margin: 5px 0
      .btn-primary
        transform: translateX(-50%)
        margin: 5px auto 10px 50%
        width: 189px
      .conditions
        a
          color: #000000
          font-size: 10px
          text-decoration: underline
      .promo-code
        margin: 30px 0 0 0
        text-align: center
        font-size: 14px
        cursor: pointer
      .custom-combobox-input
        width: 177px
        background-color: #ffffff!important
        margin-left: 50%
        transform: translateX(-50%)
        margin-top: 0
        margin-top: 10px
      label.error
        width: 177px
        margin-left: 50%
        transform: translateX(-50%)
        &.hide
          display: none
  .checkout-main-wrapper__right.checkout-main-wrapper__right-small
    display: block
    margin-top: 0
    margin-left: auto
    margin-right: auto
  .back
    color: #000000
  .hide
    display: none