.block_tabs
  color: #411962
  .container
    padding: 0 152px!important
    @media (max-width: 991px)
      padding: 0 20px!important
.cumulative
  position: relative
  overflow: hidden
  padding: 30px 0 90px
  background-color: #411962
  color: #ffffff
  background-color: #40297B
  .container
    position: relative
    z-index: 2
.nav-tabs
  margin-top: 50px
  .container
    display: flex
    justify-content: center
.tab-content
  text-align: center
  h1
    margin: auto
    max-width: 900px
    font-size: 24px
    font-weight: bold
  .subheader
    max-width: 530px
    margin: 10px auto 0
    font-size: 16px
    @media (max-width: 1024px)
      max-width: 100%
  .circle-list
    display: flex
    justify-content: space-around
    justify-content: space-around
    max-width: 1200px
    margin: 0 auto 35px
    @media (max-width: 1360px)
      //margin-bottom: 50px
    @media (max-width: 1100px)
      margin-bottom: 40px
    @media (max-width: 860px)
      margin-bottom: 40px
    li
      display: flex
      flex-direction: column
      align-items: center
      position: relative
      &:before
        content: ''
        position: absolute
        top: 16px
        left: 30px
        height: 5px
        width: 100vw
        background-color: #ffffff
        z-index: 1
      &::after
        content: ''
        position: absolute
        top: 16px
        right: 30px
        height: 5px
        width: 100vw
        background-color: #ffffff
        z-index: 1
      @media (max-width: 1368px)
        &:before
          top: 11px
        &:after
          top: 11px
      .circle
        width: 30px
        height: 30px
        border: 7px solid #ffffff
        background-color: #40297B
        border-radius: 50%
        position: relative
        z-index: 2
        &.active
          background-color: #ffffff
          border-color: #ffffff
        @media (max-width: 1368px)
          width: 28px
          height: 28px
  .cumulative-list
    margin: 25px auto 0
    position: relative
    z-index: 2
    li
      &:before
        top: 48px
      &::after
        top: 48px
    .percent
      margin-bottom: 16px
      font-size: 24px
      font-weight: bold
      @media (max-width: 575px)
        font-size: 14px
        font-weight: normal
    .amount
      margin-top: 16px
      font-size: 24px
      font-weight: bold
      @media (max-width: 575px)
        font-size: 14px
        font-weight: normal
    li.first
      @media (max-width: 575px)
        display: none
    .percent.first
      font-size: 18px
      font-weight: 400
      text-align: right
      width: 170px
    .amount.first
      margin-top: 40px
      font-size: 18px
      font-weight: 400
      text-align: right
      width: 170px
  .discount-block
    display: flex
    max-width: 1000px
    margin: auto
    margin-bottom: 90px
    text-align: left
  .for,
  .next,
  .amount-discount
    width: 419px
    border-radius: 15px
    border: 3px solid #d6d6d6
    height: 47px
    line-height: 42px
    margin: auto
    span
      display: inline-block
      &:first-child
        padding-left: 14px
        width: 65%
      &:last-child
        text-align: center
        width: 35%
        font-size: 20px
        font-weight: 700
        border-left: 3px solid #d6d6d6
  .for
    margin-bottom: 50px
  .amount-discount
    border: none
    span
      &:first-child
        color: #ffffff
        font-size: 20px
        font-weight: 700
        background-color: #12c77f
        border-radius: 15px 0 0 15px
        border: 3px solid #12c77f
        width: 50%
        text-align: center
      &:last-child
        width: 50%
        border-radius: 0 15px 15px 0
        border: 3px solid #d6d6d6
        border-left: none
  .bonus-container
    margin-top: 60px
    margin-bottom: 60px
  .discount-info-wrapper
    display: flex
    justify-content: center
    align-items: center
    color: #000000
    @media (max-width: 767px)
      flex-direction: column
    .left-part,
    .right-part
      // flex-grow: 1
    .left-part
      flex-basis: 250px
      font-size: 16px
      margin-right: 60px
      @media (max-width: 767px)
        min-height: 110px
        width: 284px
        margin-right: 0
        flex: 1
        // margin-bottom: 40px
        // height: 200px
      // @media (max-width: 575px)
      //   width: 100%
      .span-wrapper
        display: flex
        justify-content: flex-end
        font-size: 16px
        margin-bottom: 8px
        align-items: flex-end
        &:last-of-type
          margin-bottom: 0
        .name
          text-align: left
        .value
          text-align: right
          flex: 1 1
          font-weight: bold
          margin-left: 5px
          white-space: nowrap
    .right-part
      color: #ffffff
      @media (max-width: 767px)
        // flex: 1 1
        // height: 200px
      .three
        background-color: #5D2D81
      .five
        background-color: #18C783
      .eight
        background-color: #291953
      .twelve
        background-color: #E0AB22
      .bonus-rectangle
        display: flex
        flex-direction: column
        justify-content: space-between
        border-radius: 10px
        width: 284px
        height: 170px
        line-height: 1
        padding: 16px 0 20px
        box-sizing: border-box
        .bonus
          font-weight: bold
          font-size: 24px
        .value
          font-weight: bold
          font-size: 96px
  .discount-history
    h3
      margin: 0
      padding: 0 0 10px 0
      text-align: left
      border-bottom: 1px solid #B6B6B6
    .discount-history__wrapper
      max-height: 200px
      overflow: auto
      margin-bottom: 100px
      color: #000000
      margin-top: 20px
      ul
        margin-right: 26px
        li
          display: flex
          justify-content: space-between
          margin-top: 20px
          font-size: 16px
        li:first-of-type
          margin-top: 0
        .name
          margin-right: 20px
          text-align: left
          span
            font-weight: bold
          .normal
            font-weight: normal
        .return
          color: #fc3333
  .second-tab
    padding: 60px 0 90px
    @media (max-width: 575px)
      padding: 40px 0 70px
    .container
    .bg-texture
      position: absolute
      right: 15%
      bottom: 0
      @media (max-width: 1300px)
        right: 10%
      @media (max-width: 1199px)
        right: 5%
      @media (max-width: 991px)
        right: 0
      img
        height: 355px
        @media (max-width: 800px)
          height: 220px
        @media (max-width: 576px)
          height: 180px
    h1
      font-size: 48px
      text-align: left
      max-width: 352px
      margin-left: 0
    .text
      text-align: left
      font-size: 18px
      margin-top: 38px
      max-width: 352px
      p
        margin: 0
  .refer-info-wrapper
    .hide
      display: none
    .container
      margin-top: 60px
      margin-bottom: 60px
      display: flex
      color: #000000
      justify-content: space-between
      @media (max-width: 767px)
        display: block
      h6
        font-size: 18px
        font-weight: bold
      .text
        font-size: 16px
        margin: 9px 0 0 0
      input
        margin-top: 20px
      .left-part,
      .right-part
        flex: 1 1
        width: 353px
        @media (max-width: 767px)
          width: 100%
      .left-part
        margin-right: 190px
        @media (max-width: 1368px)
          margin-right: 20px
        .buttons-wrapper
          display: flex
          justify-content: space-between
          margin-top: 20px
          margin-bottom: 30px
          width: 353px
          margin-left: auto
          margin-right: auto
          @media (max-width: 400px)
            width: 100%
          @media (max-width: 355px)
            flex-wrap: wrap
          .coppy-link
            background-color: transparent
            color: #b9b9b9
            font-size: 16px
            padding: 0
            height: 41px
            line-height: 41px
            @media (max-width: 326px)
              margin-bottom: 20px
          .btn-share-wrapper
            padding-top: 5px
            .hide
              display: none
            a
              margin-right: 10px
              &:last-of-type
                margin-right: 0
            // .btn-primary
            //   width: 131px
            //   height: 41px
            //   padding: 0
            // .btns-share-wrapper
            //   height: 41px
            // .btn
            //   padding: 0
            //   margin: 0
            //   width: 41px
            //   height: 41px
            //   margin-right: 6px
            //   svg
            //     margin-top: 50%
            //     transform: translateY(-50%)
            // .btn:last-of-type
            //   margin-right: 0
            // .vk
            //   background-color: #4C75A3
            // .fb
            //   background-color: #4267B2
            // .tgm
            //   background-color: #0088CC
        .new-form-style
          position: relative
          width: 353px
          margin-left: auto
          margin-right: auto
          @media (max-width: 400px)
            width: 100%
          .error-built-in
            // position: absolute
            // left: 0
        .built-in
          padding: 0
          position: absolute
          margin: 0
          top: 21px
          right: 0.6px
          height: 39px
          border-radius: 0 5px 5px 0
          width: 129px
          @media (max-width: 576px)
            position: static
            border-radius: 10px
            margin-top: 20px
          @media (max-width: 350px)
            display: block
            padding: 0
      .left-part.plug
        margin-top: 40px
        @media (max-width: 767px)
          margin-top: 0
        .plug-wrapper
          display: flex
          background-color: #f3f3f3
          height: 228px
          width: 380px
          border-radius: 10px
          align-items: center
          font-size: 18px
          padding: 30px
          @media (max-width: 1368px)
            width: 100%
          @media (max-width: 991px)
            width: 350px
          @media (max-width: 767px)
            margin-left: auto
            margin-right: auto
          @media (max-width: 575px)
            width: 100%
      .right-part
        .table-wrapper
          margin-top: 20px
          border: 1px solid #291954
          border-radius: 10px
          width: 380px
          margin-left: auto
          margin-right: auto
          overflow: hidden
          @media (max-width: 991px)
            width: 350px
          @media (max-width: 576px)
            width: 100%
          table
            border-collapse: collapse
            width: 100%
          th,
          tr
            font-size: 16px
            font-weight: 400
          tr:nth-child(even)
            background-color: #F4F4F4
          th
            padding-top: 15px
            padding-bottom: 15px
          tr
            height: 39px
            td:nth-child(2)
              font-weight: bold
              font-size: 24px
              text-align: left
              padding-left: 50px
              // @media (max-width: 991px)
              //   padding-left: 0
          tr
            th:nth-child(1),
            td:nth-child(1)
              padding-right: 50px
              @media (max-width: 991px)
                padding-right: 0
        h6
          width: 380px
          @media (max-width: 991px)
            width: 100%
          @media (max-width: 767px)
            margin-top: 20px
  .referal-statistic-wrapper
    color: #000000
    h6
      font-size: 18px
      font-weight: bold
      margin-bottom: 20px
    .values
      display: flex
      justify-content: space-around
      margin-bottom: 60px
      > *
        display: flex
        flex-direction: column
        .value
          font-size: 48px
          font-weight: bold
          color: #40297b
          line-height: 1.2
          span
            font-size: 14px
        .text
          font-size: 16px
          margin-top: 15px
  .discount-history-2
    color: #000000
    h3
      margin: 0
      padding: 0 0 10px 0
      text-align: left
      border-bottom: 1px solid #B6B6B6
    .discount-history__wrapper-2
      margin-top: 20px
      max-height: 200px
      overflow: auto
      margin-bottom: 100px
      color: #000000
      ul
        margin-right: 26px
        li
          font-size: 16px
          display: flex
          justify-content: space-between
          margin-top: 20px
        li:first-of-type
          margin-top: 0
        .name
          margin-right: 20px
          text-align: left
          span
            font-weight: bold
          .normal
            font-weight: normal
        .return
          color: #fc3333