@import _mixins

// BUTTONS
button, .btn, input[type="button"]
  border: none
  background: none
  cursor: pointer
  display: inline-block
  background-color: $main-color
  padding: 0.6em 1.2em
  line-height: 1em
  transition: background 100ms
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

  &.focus, &:focus, &:hover, &:active
    text-decoration: none
    background-color: $main-color-hover

  &:active, &:focus
    outline: none

.btn-primary
  display: inline-block
  color: #ffffff
  font-size: 16px
  background-color: #18C783
  padding: 10.5px 70px
  text-align: center
  border-radius: 10px
  //margin-top: -2px
  display: inline-flex
  justify-content: center
  align-items: center
  cursor: pointer
  &:hover,
  &:focus,
  &:active
    transition: .3s
    color: #351054
    background-color: #18C783
    @media (max-width: 767px)
      color: #ffffff
      background-color: #18C783
  &:focus,
  &:active
    color: #ffffff
// END BUTTONS

// FORM
.form-group
  position: relative

  &.error
    .error-label
      // display: block
      opacity: 1
      transition: opacity .3s

  &.error
    .input-line
      background: #f41f52
      width: 100%

  .input-holder
    &:after
      background: #f41f52

  .error-label
    color: $error-color
    font-size: 1.3rem
    font-weight: 400
    line-height: 1.9rem
    opacity: 0
    position: absolute
    right: 0
    bottom: -2.1rem
    transition: opacity .3s
    // display: none
  .error
    input, textarea
      border-color: #f41f52!important
// END FORM

// CHECKBOX
.checkbox input[type="checkbox"]
  &:not(:checked), &:checked
    left: -9999rem
    position: absolute

  &:not(:checked) + label, &:checked + label
    cursor: pointer
    position: relative
    padding-left: 3.6rem

  &:not(:checked) + label:before, &:checked + label:before
    background: #eee
    content: ''
    border: 1px solid #383838
    left: 0
    top: 0.2rem
    position: absolute
    width: 1.7rem
    height: 1.7rem

  &:not(:checked) + label:after, &:checked + label:after
    border: 2px solid #000
    border-left-color: transparent
    border-top-color: transparent
    content: ''
    color: #000
    position: absolute
    top: 0.2rem
    left: 0.7rem
    font-size: 1.8rem
    transition: all .2s
    height: 0.10rem
    width: 0.3rem

  &:not(:checked) + label:after
    opacity: 0
    transform: rotate(-90deg) scale(0)

  &:checked + label:after
    opacity: 1
    transform: rotate(40deg) scale(1)

  &:disabled
    &:not(:checked) + label:before
      box-shadow: none
      border-color: #bbb
      background-color: #ddd

    &:checked + label
      &:before
        box-shadow: none
        border-color: #bbb
        background-color: #ddd

      &:after
        color: #999

    + label
      color: #aaa

  &:checked:focus + label:before, &:not(:checked):focus + label:before
    border: 1px solid #777
// END CHECKBOX

// RADIO
.radio input[type="radio"]
  &:not(:checked), &:checked
    left: -9999rem
    position: absolute

  &:not(:checked) + label, &:checked + label
    cursor: pointer
    position: relative
    padding-left: 3.9rem

  &:not(:checked) + label:before, &:checked + label:before
    //background: #eee
    border-radius: 50%
    border: 2px solid #000
    content: ''
    left: 0
    top: 0.2rem
    position: absolute
    width: 1.8rem
    height: 1.8rem

  &:not(:checked) + label:after, &:checked + label:after
    content: ''
    background-color: #000
    border-radius: 50%
    position: absolute
    top: 0.7rem
    left: 0.5rem
    width: 1.2rem
    height: 1.2rem
    transition: all .2s

  &:not(:checked) + label:after
    opacity: 0
    transform: scale(0)

  &:checked + label:after
    opacity: 1
    transform: scale(1)

  &:disabled
    &:not(:checked) + label:before
      box-shadow: none
      border-color: #bbb
      background-color: #ddd

    &:checked + label
      &:before
        box-shadow: none
        border-color: #bbb
        background-color: #ddd

      &:after
        color: #999

    + label
      color: #aaa
  //&:checked:focus + label:before, &:not(:checked):focus + label:before
    //border: 2px solid #777
  //&:checked:focus + label:after, &:not(:checked):focus + label:after
// END RADIO

//	INPUT FILE
.input-file
  cursor: pointer
  position: relative

  label
    cursor: pointer
    display: block
    transition: all .4s

  input
    cursor: pointer
    display: inline-block
    left: 0
    opacity: 0.01
    padding: 0
    pointer-events: none
    position: absolute
    top: 0
    //&:hover + label, &:focus + label
//	END INPUT FILE

// hamburger menu
$bar-width: 40px
$bar-height: 3px
$bar-spacing: 15px
.hamburger-menu
  display: none
  background-color: initial
  color: #ffffff
  width: $bar-width
  height: $bar-height + $bar-spacing*2
  cursor: pointer
  z-index: 99
  margin-left: 12px
  .bar,
  .bar:after,
  .bar:before
    border-radius: 5px
  .bar:after
    @media (max-width: 640px)
      top: 10px
  .bar:before
    @media (max-width: 640px)
      bottom: 10px
  &:hover, &:active, &:focus, &:visited
    background-color: initial
  @media (max-width: 1199px)
    display: block
  @media (max-width: 640px)
    width: 30px
.hamburger-menu-new
  position: absolute
  right: 20px
  top: 50%
  transform: translateY(-50%)
  @media (max-width: 1199px)
    display: none
  @media (max-width: 767px)
    display: block
  .bar,
  .bar:after,
  .bar:before
    border-radius: 5px
  .bar:after
    @media (max-width: 640px)
      top: 10px
  .bar:before
    @media (max-width: 640px)
      bottom: 10px
.main-page-hamburger
  display: none
  cursor: pointer
  @media (max-width: 1199px)
    display: block
    
.bar,
.bar:after,
.bar:before
  width: $bar-width
  height: $bar-height
  @media (max-width: 640px)
    width: 35px
.bar
  position: relative
  transform: translateY($bar-spacing)
  background: rgba(255, 255, 255, 1)
  transition: all 0ms 300ms
  &.animate
    background: rgba(255, 255, 255, 0)
.bar:before
  content: ""
  position: absolute
  left: 0
  bottom: $bar-spacing
  background: rgba(255, 255, 255, 1)
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
.bar:after
  content: ""
  position: absolute
  left: 0
  top: $bar-spacing
  background: rgba(255, 255, 255, 1)
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
.bar.animate:after
  top: 0
  transform: rotate(45deg)
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
.bar.animate:before
  bottom: 0
  transform: rotate(-45deg)
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)

// mobile menu
.mobile-menu-wrapper
  color: #ffffff
  @extend .trans
  position: fixed
  width: 250px
  background-color: #5D2D81
  right: -100%
  top: 86px
  height: 100vh
  z-index: 11
  padding: 5px 15px 100px
  overflow-y: auto
  @media (min-width: 767px)
    display: none
  @media (max-width: 640px)
    top: 54px
  &__header
    display: flex
    flex-wrap: wrap
  &__header-firstcolumn
    header
      position: static
      background-color: #5D2D81
      h5
        font-size: 18px
        font-weight: bold
        text-align: left
        margin-bottom: 30px
  &__balanse-wrapper
    margin-bottom: 0px
    font-size: 16px
    span:first-of-type
      display: inline-block
      min-width: 50px
  &__balance
    margin-bottom: 15px
    span:first-of-type
      margin-right: 8px
  &__bonus
    span:first-of-type
      margin-right: 8px
  &__main-content-wrappper
    nav
      position: static
      background-color: #5D2D81
      text-align: left
      margin-top: 30px
      ul
        li
          width: 162px
          border-bottom: 1px solid #9e81b3
          &:last-of-type
            border-bottom: none
          a
            @extend .trans
            color: #9e81b3
            display: block
            margin-top: 10px
            margin-bottom: 10px
            font-size: 16px
            &:hover
              color: #ffffff
          .active
            font-weight: bold
            color: #ffffff
  .exit
    background-color: transparent
    display: inline-block
    margin-top: 15px
    padding: 0
    svg
      vertical-align: -5px
      margin-right: 5px
      width: 20px!important
    .button-to-exit
      display: inline-block
      cursor: pointer
      font-size: 16px
  .wrapper
    margin-top: 50px
  form
    span
      transition: all .4s
      color: #9e81b3
    svg
      path
        transition: all .4s
        fill: #9e81b3
  form:hover
    span
      color: #ffffff
    svg
      path
        fill: #ffffff
.mobile-menu-wrapper-animate
  right: 0
.bg-dark
  background-color: rgba(122, 122, 122, .7)
  position: fixed
  height: 100Vh
  width: 100Vw
  right: 0
  top: 0
  z-index: 9
  @media (min-width: 767px)
    display: none
.display-none
  display: none
.main-page-hamburger-wrapper
  display: block
  top: 60px
  // margin-bottom: 100px
  nav
    padding: 0
    margin: 0
  .btn-primary
    width: 162px
    margin-top: 28px
  @media (min-width: 1199px)
    display: none
  @media (max-width: 640px)
    top: 54px