.enter-page-wrapper
  margin: 110px auto
  color: #000000
  max-width: 400px
  min-height: 50vh
  h1
    font-size: 30px
    margin: 0 auto 15px
  p
    font-size: 16px
    text-align: center
    margin: 0 0 30px 0
  form
    margin: 0 auto
    max-width: 353px
    input.custom-combobox-input
      margin: 0 0 23px 0
    .forgot-submit-wrapper
      display: flex
      justify-content: space-between
      align-items: center
      a
        font-size: 16px
        color: #b5b5b5
        padding-left: 10px
        @media (max-width: 400px)
          padding-left: 0
      .btn-primary
        height: 41px
        //padding: 0 70px
        width: 171px
        @media (max-width: 400px)
          padding: 10.5px 50px
          width: auto
          margin-left: 20px
    label.error
      margin: -23px 0 23px 10px
    label.hide
      display: none