@import _mixins

.events
  color: #320d51
  background-image: url(../img/bg/bg-events.png)
  background-position: 100% 65%
  background-repeat: no-repeat
  @media (max-width: 1748px)
    background-size: 50%
  @media (max-width: 860px)
    background: none !important
  h2
    padding: 0px 225px 0 225px
    @media (max-width: 860px)
      padding: 0 60px
    @media (max-width: 620px)
      padding: 0 30px
    @media (max-width: 420px)
      padding: 0
  .events-list
    padding-top: 120px
    //padding-top: 120px
    padding-bottom: 100px
    width: 55%
    @media (max-width: 1368px)
      padding-top: 100px
    @media (max-width: 1200px)
      padding-top: 80px
    @media (max-width: 1000px)
      padding-top: 70px
    @media (max-width: 860px)
      padding-top: 50px
      padding-bottom: 20px
      width: 80%
      margin: auto
    @media (max-width: 640px)
      width: 90%
    li
      margin-left: 130px
      font-size: 18px
      padding-bottom: 17px
      padding-top: 1px
      position: relative
      line-height: 1
      @media (max-width: 640px)
        margin-left: 30px
      &::before
        content: ''
        height: 20px
        width: 20px
        background-color: $font-color
        border-radius: 50%
        position: absolute
        left: -30px
        top: 0
  .social
    width: 50%
    color: #360e53
    text-align: center
    @media (max-width: 860px)
      width: 100%
    ul
      padding-bottom: 160px
      @media (max-width: 1500px)
        padding-bottom: 80px
      //@media (max-width: 1368px)
          padding-bottom: 130px
      //@media (max-width: 1220px)
          padding-bottom: 80px
      @media (max-width: 1200px)
        padding-bottom: 60px
      @media (max-width: 860px)
        padding-bottom: 40px
      li
        padding-right: 58px
        @media (max-width: 400px)
          padding-right: 10px
        @media (max-width: 250px)
          padding-right: 0
        &:last-child
          padding-right: 0

    a
      color: #320d51
//@media (max-width: 1100px)
    svg
        width: 80%
//@media (max-width: 680px)
    svg
        width: 70%
