section.faq-section
  color: #000000
  .container
    padding: 0 152px
    @media (max-width: 991px)
      padding: 0 20px
    .faq-wrapper
      margin: 50px 0 130px 0
      @media (max-width: 1368px)
        margin: 22px 0 80px 0
      &__header-wrapper
        display: flex
        justify-content: center
        padding: 0 15px
        border-bottom: 1px solid #B6B6B6
        @media (max-width: 1368px)
          display: block
          border-bottom: none
          padding: 0
          justify-content: center
        button
          padding: 0 0 7px
          background-color: #fff
          font-size: 16px
          border-bottom: 2px solid transparent
          color: #8B8B8B
          margin-right: 14px
          margin-left: 14px
          @media (max-width: 1368px)
            display: block
            text-align: center
            margin-left: auto
            margin-right: auto
            padding: 0
            margin-bottom: 10px
          // @media (max-width: 991px)
          //   padding: 0 0 15px
          //   margin-bottom: 0
        .active
          border-bottom: 2px solid #40297B!important
          color: #40297B!important
          font-weight: bold!important
      &__content-wrapper
        padding:     0 137px
        @media (max-width: 1368px)
          padding: 0
        .faq-variant
          font-size: 16px
          h3
            margin-top: 40px
            padding: 0 15px 5px
            text-align: left
            border-bottom: 1px solid #B6B6B6
            font-size: 16px
            @media (max-width: 1368px)
              padding: 0 7px 5px
              margin-top: 30px
          &__p-wrapper
            padding: 0 15px
            @media (max-width: 1368px)
              padding: 0 7px