.finance-section
  color: #000000
  .finance-wrapper
    margin-top: 50px
    @media (max-width: 767px)
      margin-top: 22px
    h1,
    .filter-wrapper
      padding-left: 274px
      padding-right: 274px
      @media (max-width: 1368px)
        padding: 0 152px
      @media (max-width: 991px)
        padding: 0
    h1
      text-align: left
      font-weight: bold
      line-height: normal
      font-size: 16px
    .filter-wrapper
      margin-top: 15px
      display: flex
      align-items: center
      label
        margin-right: 5px
      .custom-combobox-input
        width: 180px
        height: 28px
        padding: 4px 10px
        margin-top: 0
        background-position: 95%
        @media (max-width: 419px)
          width: 55%
      svg
        margin-left: 15px
        cursor: pointer
        display: none
        @media (max-width: 340px)
          margin-left: 10px
    .table-scroll-wrapper
      overflow-x: auto
      margin-top: 10px
      margin-bottom: 20px
    .table-wrapper
      border: 1px solid #291954
      border-radius: 10px
      overflow: hidden
      width: 689px
      margin-left: auto
      margin-right: auto
      @media (max-width: 991px)
        width: 100%
        min-width: 500px
      table
        border-collapse: collapse
        width: 100%
        overflow: auto
      th,
      tr
        font-size: 16px
        font-weight: 400
      tr:nth-child(even)
        background-color: #F4F4F4
      th
        font-weight: bold
        font-size: 16px
      tr
        height: 39px
        td
          span
            width: 12px
            height: 12px
            border-radius: 50%
            background-color: #2F2F2F
            display: inline-block
            color: #ffffff
            font-size: 9px
            margin-left: 5px
            line-height: 12px
            vertical-align: 3px
            cursor: help
      tr
        th:nth-child(1),
        td:nth-child(1)
        td
          text-align: center
    .pagination-wrapper
      margin-bottom: 100px
      @media (max-width: 767px)
        margin-bottom: 50px
      ul
        display: flex
        justify-content: center
        width: 100%
        li
          margin-right: 33px
          a
            color: #b3b3b3
            font-size: 9px
          &:last-of-type
            margin-right: 0
        li.active
          a
            color: #000000
.ui-tooltip.finance-tooltip
  min-width: auto
  // .ui-tooltip-content
  //   @media (min-width: 500px)
  //     padding-right: 30px!important
  // svg
  //   @media (min-width: 500px)
  //     display: none
    