@import "mixins"

.make-first-order
  color: #000000
  padding-top: 58px
  main
    flex: 1
    .container
      padding: 0 175px
      @media (max-width: 991px)
        padding: 20px 20px
    h1
      margin: 54px 0 40px
      font-size: 30px
      @media (max-width: 640px)
        margin: 54px 0 46px
  .new-form-style
    .time-chose
      input.error
        margin-bottom: 0

.disNone
  display: none