@import "mixins"

.new-form-style
  #tabs
    width: 100%
    .tabs-headers
      display: flex
      justify-content: space-around
      @media (max-width: 358px)
        padding-top: 10px
    .tab
      flex: 1 1 0
      display: flex;
      justify-content: center
      align-items: center
      padding: 5px 10px
      cursor: pointer
      position: relative
      z-index: 1
      font-family: "RobotoCondensed"
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 48px;
      color: rgba(64, 41, 123, 0.5)
      text-align: center
      border-bottom: 4px solid transparent
      @media (min-width: 481px) and (max-width: 626px)
        padding-bottom: 25px
      @media (max-width: 626px)
        line-height: unset;
      @media (max-width: 480px)
        justify-content: flex-start
        padding: 0
        flex-direction: column;
      span
        padding-left: 8px
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        z-index: -2
        color: rgba(64, 41, 123, 0.5)
        @media (max-width: 400px)
          font-size: 14px
        @media (max-width: 480px)
          padding: 15px 10px;
    .active-tab
      font-family: "RobotoCondensed"
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 48px;
      color: #40297B;
      text-align: center
      border-bottom: 4px solid #40297B
      @media (max-width: 626px)
        line-height: unset;
      span
        font-style: normal
        font-weight: normal
        font-size: 16px
        z-index: -2
        color: #40297B;
        @media (max-width: 400px)
          font-size: 14px
    .tabContent
      position: relative
      top: -1px
      z-index: 1
      padding: 3px
      font-family: "RobotoCondensed"
    .hide
      display: none
    .visuallyhidden
      opacity: 0
    .show
      display: block
    .tabContent-1
      text-align: center
      h4
        width: 378px
        margin-top: 26px
        display: inline-block
        font-family: "RobotoCondensed"
        font-weight: normal
        line-height: normal
        font-size: 16px
        text-align: center
        color: #000000
        @media (max-width: 470px)
          width: 100%
      .form-first
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .form-second-list
          width: 353px
          display: flex
          justify-content: space-between
          @media (max-width: 419px)
            width: 100%
            flex-direction: column
        .form-first-item
          margin-top: 23px
          padding: 8px 11px
          width: 353px
          height: 41px
          font-family: "RobotoCondensed"
          background: #FFFFFF
          border: 0.5px solid #291954
          box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25)
          border-radius: 5px
          font-style: normal
          font-weight: 400
          line-height: 19px
          font-size: 16px
          color: black
          resize: none
          @media (max-width: 419px)
            width: 100%
          &:first-child
            margin-top: 25px
          &:focus
            color: black
          &:nth-child(1)
            background: url(../img/polygon.svg) no-repeat
            background-position: 96.8%
        .form-second-item
          width: 169px
          @media (max-width: 419px)
            width: 100%
          &:nth-child(1)
            background: none
            margin-top: 23px
        .files-inputed
          margin-top: 10px
          text-align: left
          width: 353px
          .files-added
            line-height: normal !important
            width: 100%
            overflow: hidden
            margin: 8px 0
            color: #b6b6b6
            padding-left: 30px
            a
              margin-right: 18px
              font-size: 13px
          @media (max-width: 390px)
            width: 100% !important
        @media (max-width: 390px)
          width: 100%
        .button_add
          margin-top: 11px
          display: flex
          justify-content: flex-start
          @media (max-width: 390px)
              width: 100%
          label
            cursor: pointer
            display: flex
            width: 353px
            @media (max-width: 390px)
              width: 100%
          #add_cont
            padding: 0
            text-align-last: left
            background-color: #fff
            font-family: "RobotoCondensed"
            font-style: normal
            font-weight: normal
            line-height: normal
            font-size: 16px
            color: #40297B
            margin-left: 10px
            margin-top: -4px
            @media (max-width: 390px)
              width: 100%
              text-align: left
      .button_next
        display: inline-block
        margin: 40px 0 100px
        width: 241px
        height: 49px
        background: $new-main-green
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px
        font-style: normal
        font-weight: 500
        line-height: normal
        font-size: 16px
        text-align: center
        color: #FFFFFF
        cursor: pointer
        &:hover
          transition: .3s
          color: #351054
    // end first tab
    // second tab
    .tabContent-2
      text-align: center
      h4
        width: 289px
        display: inline-block
        margin-top: 26px
        font-family: "RobotoCondensed"
        font-weight: normal
        line-height: normal
        font-size: 16px
        text-align: center
        color: #000000
        @media (max-width: 470px)
          width: 100%
      .form-second
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &-block
          width: 353px
          display: flex
          justify-content: space-between
          @media (max-width: 419px)
            width: 100%
        &-item
          margin-top: 23px
          padding: 8px 11px
          width: 353px
          height: 41px
          font-family: "RobotoCondensed"
          background: #FFFFFF
          border: 0.5px solid #291954
          box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25)
          border-radius: 5px
          font-style: normal
          font-weight: 400
          line-height: 19px
          font-size: 16px
          color: black
          resize: none
          @media (max-width: 419px)
            width: 100%
          &:first-child
            margin-top: 25px
          &:focus
            color: black
          &:nth-child(4)
            background: url(../img/polygon.svg) no-repeat
            background-position: 96.8%
          &-big
            width: 233px
            margin-top: 23px !important
            background: url(../img/polygon.svg) no-repeat
            background-position: 95%
            @media (max-width: 419px)
              width: 69%
          &-little
            width: 107px
            background: url(../img/polygon.svg) no-repeat
            background-position: 89%
            @media (max-width: 419px)
              width: 29%
      .button_add_order
        display: inline-block
        width: 241px
        height: 49px
        background: $new-main-green
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
        border-radius: 10px;
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        margin: 40px 0 100px
        cursor: pointer
        &:hover
            transition: .3s
            color: #351054
    // end second tab
    // three tab
    .tabContent-3
      text-align: center
      font-family: "RobotoCondensed"
      .tab_content_slogan
        margin: 25px 0 21px
        padding: 0 5px
        background: $new-main-green
        border-radius: 10px
        h4
          padding-top: 10px
          font-weight: bold
          line-height: normal
          font-size: 24px
          text-align: center
          color: #FFFFFF
        p
          margin: 0
          padding: 9px 0 13px
          font-style: normal
          font-weight: bold
          line-height: normal
          font-size: 16px
          text-align: center
          color: #FFFFFF
      .tab_content_info
        padding: 0 60px
        display: flex
        @media (max-width: 1368px)
          padding: 0
        @media (max-width: 600px)
          display: block
        .tab_content_info_item_list
          p:last-child
            word-break: break-all
      .tab_content_info_item
        width: 50%
        &:first-child
          padding-right: 15px
          @media (max-width: 600px)
            padding-right: 0px
        &:last-child
          padding-left: 15px
          .tab_content_info_item_list
            p
              &:first-child
                min-width: 75px
                @media (max-width: 600px)
                  min-width: 122px
                @media (max-width: 400px)
                  min-width: 100px
              &:last-child
                width: 100%
          @media (max-width: 600px)
            padding-left: 0px
        @media (max-width: 600px)
          width: 100%
        &_list
          display: flex
          p
            &:first-child
              min-width: 122px
              margin: 10px 3px
              font-family: "RobotoCondensed"
              font-weight: 600
              line-height: normal
              font-size: 16px
              text-align: left
              color: #000000
              @media (max-width: 400px)
                min-width: 100px
            &:last-child
              width: 100%
              margin: 10px 3px
              font-family: "RobotoCondensed"
              font-weight: 400
              line-height: normal
              font-size: 16px
              color: #000000
              text-align: left
        .uploadedDocument
          p:last-of-type
            color: #b6b6b6
      .tab_content_commit
        padding: 0 60px
        width: 100%
        position: relative
        @media (max-width: 1368px)
          padding: 0
        @media (max-width: 400px)
          padding: 0
        p:first-child
          width: 100%
          margin: 10px 3px
          font-family: "RobotoCondensed"
          font-weight: 600
          line-height: normal
          font-size: 16px
          text-align: left
          color: #000000
        p:nth-child(2)
          // max-height: 78px
          overflow: hidden
          width: 100%
          margin: 10px 3px
          font-family: "RobotoCondensed"
          font-weight: 400
          line-height: normal
          font-size: 16px
          color: #000000
          text-align: left
        .show-more-wrapper
          position: absolute
          right: 60px
          bottom: 2px
          background-color: #fff
          transition: .4s bottom
          @media (max-width: 1369px)
            right: 0
          span:first-of-type
            opacity: 1
            transition: 1.4s opacity
          .show-more
            margin-left: 5px
            color: #8B8B8B
            cursor: pointer
      .full-height
        p:nth-child(2)
          max-height: 1000px!important
          transition: 1.4s max-height
        .show-more-wrapper
          bottom: -20px
          transition: .4s bottom
          span:first-of-type
            opacity: 0
            transition: .4s opacity
      .tab_button
        display: flex
        justify-content: center
        padding: 20px 20px 52px
        @media (max-width: 516px)
          display: block
        .first_but
          margin-right: 30px
          width: 241px
          height: 49px
          background: $new-main-green
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
          border-radius: 10px
          font-weight: 500
          line-height: 49px
          font-size: 16px
          text-align: center
          color: #FFFFFF
          @media (max-width: 516px)
            display: inline-block
            margin-right: 0
          &:hover
            transition: .3s
            color: #351054
        .second_but
          display: inline-block
          margin-left: 30px
          width: 241px
          height: 49px
          background: transparent
          font-weight: normal
          line-height: normal
          font-size: 16px
          text-align: center
          color: #40297B
          line-height: 49px
          @media (max-width: 516px)
            margin-left: 0
      .tab_support
        margin-bottom: 45px
        @media (max-width: 991px)
          margin-left: 0px
          margin-right: 0px
        p:first-child
          margin: 0
        p
          font-weight: bold
          line-height: normal
          font-size: 24px
          text-align: center
          color: #000000
        &_list
          display: flex
          justify-content: space-between
          margin-top: 60px
          @media (max-width: 489px)
            display: block
        &_user
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
          @media (max-width: 489px)
            float: left
            width: 50%
          .img
            height: 80px
            width: 80px
            background-color: #F5F5F5
          p
            margin-top: 40px
            font-weight: 500
            line-height: normal
            font-size: 16px
            text-align: center
            color: #000000
          a
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
          .logo_support
            border-radius: 50%
            width: 80px
            height: 80px
            background-color: #F5F5F5
            display: flex
            justify-content: space-around
            align-items: center
      .cabinet
        display: flex
        justify-content: center
        align-items: center
        @media (max-width: 489px)
          clear: both
          display: inline-block
          margin-top: 44px
        & a
          width: 241px
          height: 49px
          background: $new-main-green
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
          border-radius: 10px
          display: flex
          justify-content: center
          align-items: center
          margin-bottom: 100px
          color: #fff
          font-family: "RobotoCondensed"
          font-size: 16px
          font-weight: 500
          &:hover
            transition: .3s
            color: #351054
  label.error
    display: block
    font-size: 14px
    width: 353px
    text-align: left
    color: rgba(255, 0, 0, 1)
    @media (max-width: 419px)
      width: 100%
  input.error,
  select.error
    border: 0.5px solid red !important
    box-shadow: inset 0px 2px 3px rgba(232, 76, 61,0.25) !important
    font-size: 16px
  .time-chose
    position: relative
    input.error
      margin-bottom: 20px
    input:invalid:before
      color: #B6B6B6
      content: attr(placeholder)
      pointer-events: none
      position: absolute
    input
      color: transparent!important
      display: block!important
    input:valid,
    input:focus,
    input:active
      color: #000!important
    input:valid:before,
    input:focus:before,
    input:active:before
      display: none
    label
      position: absolute
      bottom: 0
      width: 100%
      @media (max-width: 419px)
        position: static
        margin-top: -20px
        margin-bottom: -10px
  #combobox6 + .custom-combobox-big a
    width: 30px
  //#combobox6 + .custom-combobox label.error,
  #combobox4 + .custom-combobox label.error
    width: 233px
    @media (max-width: 419px)
      width: 100%
  #combobox5 + .custom-combobox label.error
    width: 107px
    @media (max-width: 419px)
      width: 100%
  #textArea
    min-height: 41px
    overflow: hidden
  .type-one-wrapper,
  .type-two-wrapper
    width: 353px
    display: none
    @media (max-width: 419px)
      width: 100%
  input:focus::-webkit-input-placeholder
    opacity:1 !important
  input:focus::-moz-placeholder
    opacity:1 !important
  input:focus:-moz-placeholder
    opacity:1 !important
  input:focus:-ms-input-placeholder
    opacity:1 !important

  textarea:focus::-webkit-input-placeholder
    opacity:1 !important
  textarea:focus::-moz-placeholder
    opacity:1 !important
  textarea:focus:-moz-placeholder
    opacity:1 !important
  textarea:focus:-ms-input-placeholder
    opacity:1 !important

  input::-webkit-input-placeholder
    color: #B6B6B6 !important
  input:-moz-placeholder
    color: #B6B6B6 !important
  input::-moz-placeholder
    color: #B6B6B6 !important
  input:-ms-input-placeholder
    color: #B6B6B6 !important

  textarea::-webkit-input-placeholder
    color: #B6B6B6 !important
  textarea:-moz-placeholder
    color: #B6B6B6 !important
  textarea::-moz-placeholder
    color: #B6B6B6 !important
  textarea:-ms-input-placeholder
    color: #B6B6B6 !important


  .custom-combobox
    position: relative
    display: inline-block
    @media (max-width: 419px)
      width: 100%
  .custom-combobox-toggle
    position: absolute
    top: 0
    bottom: 0
    margin-left: -1px
    padding: 0
  .custom-combobox-input
    margin-top: 23px
    padding: 8px 11px
    width: 353px
    height: 41px
    font-family: "RobotoCondensed"
    background: #FFFFFF
    border: 0.5px solid #291954 !important
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    font-style: normal
    font-weight: 400
    line-height: 19px
    font-size: 16px
    resize: none
    background: url(../img/polygon.svg) no-repeat
    background-position: 96.8%
    color: black
    padding-right: 30px
    @media (max-width: 419px)
      width: 100%
  .ui-button
    right: 1%;
    background: transparent
    width: 21px
    margin-top: 23px
    border: none
    &:hover
      background: transparent
      border: none
    &:active
      background: transparent !important
      border: none !important
  .custom-combobox-input-big
    width: 233px
    // margin-top: 23px !important
    margin-top: 23px
    @media (max-width: 419px)
      width: 100%

  .custom-combobox-input-little
    width: 107px
    background: url(../img/polygon.svg) no-repeat
    background-position: 89%
    @media (max-width: 419px)
      width: 100%
  .form-second-block
    width: 353px
    display: flex
    justify-content: space-between
    @media (max-width: 419px)
      width: 100%
    & .custom-combobox
      &:nth-child(2)
        @media (max-width: 419px)
          width: 66%
      &:nth-child(4)
        @media (max-width: 419px)
          width: 31%

.ui-tooltip
  background-color: #fff
  border: 1px solid #291954!important
  border-radius: 10px
  min-width: 353px
  //background-color: lightgrey
  background: linear-gradient(to top right, #40297B 0%, #5D2D81 100%)
  color: #ffffff
  @media (max-width: 419px)
    min-width: 89%
    width: 89%
  @media (max-width: 400px)
    min-width: 88%
    width: 88%
  @media (max-width: 370px)
    min-width: 87%
    width: 87%
  @media (max-width: 330px)
    min-width: 86%
    width: 86%
  .ui-tooltip-content
    width: 100%
#textArea,
.textArea
  padding-top: 10px!important
  max-height: 300px
  // overflow-y: auto!important
.ui-menu-item
  font-family: "RobotoCondensed"
  font-style: normal
  font-weight: 400
  line-height: 19px
  font-size: 16px
  color: black
.ui-widget
  z-index: 1
/* ie fix */
.display-none
  display: none
// a.ui-widget
//   display: block
/* ie fix */
.top
  top: -100px !important
_:-ms-fullscreen, :root select.form-first-item
  -ms-appearance: none !important
  appearance: none !important
  -moz-appearance: none !important
  -webkit-appearance: none !important
input::-ms-clear
  display: none
.backgraundNone
  background: none !important
  padding-right: 10px !important

.visuallyhidden
  opacity: 0

.cabinet-form.new-form-style #tabs .tabContent-1 .form-first .form-first-item:nth-child(1)
  background: none
.ui-autocomplete 
  max-height: 100px
  overflow-y: auto
    /* prevent horizontal scrollbar */
  overflow-x: hidden
  
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete 
  height: 100px
  
// for backend
#part-type-form
  display: flex
  flex-direction: column
  @media (max-width: 419px)
    width: 100%

#ui-id-5,
#ui-id-4
  @media (max-width: 500px)
    overflow-y: scroll
  &::-webkit-scrollbar
    @media (max-width: 500px)
      height: 12px
  &::-webkit-scrollbar-thumb
    @media (max-width: 500px)
      background-color: rgba(0, 0, 0, .3)

.dp-note
  position: absolute
  background: #ccc
  width: 4px
  height: 4px
  border-radius: 50%
  left: 50%
  bottom: 1px
  -webkit-transform: translateX(-50%)
  transform: translateX(-50%)