@import _mixins

*
  box-sizing: border-box

html
  font: $font
  color: $color


  //@media #{$media-uhd-up}
  //	font-size: $font-size * 2

body
  margin: 0
  font-smoothing: antialiased
  tap-highlight-color: transparent
  display: flex
  flex-direction: column
  // justify-content: space-between
  min-height: 100vh

  &.fixed
    overflow: hidden

    &.client-ios
      position: fixed
      height: 100%
      width: 100%

section

a
  border: none
  outline: none
  text-decoration: none
  // color: $main-color

p
  @media (max-width: 1368px)
    font-size: 16px

span

img
  border: none
  outline: none
  max-width: 100%
  //height: 100%
  vertical-align: middle
  object-fit: cover

ul
  padding: 0
  margin: 0
  li
    list-style: none

  &.list-inline
    & > li
      display: inline-block

h1, h2, h3, h4, h5, h6
  line-height: $line-height
  margin: 0
  text-align: center
  &:first-child
    margin-top: 0

h1
  font-size: 30px
h2
  font-size: 24px
h3
  font-size: 18px
h4
  font-size: 16px
h5
h6

p
  line-height: $line-height

hr
  border: 0
  display: block
  border-top: 1px solid $base-font-color
  height: 1px
  margin-top: 1rem
  margin-bottom: 1rem
  clear: both

label
  border-radius: 0

button, input, select, textarea, a
  font: $font
  font-size: 1rem

  &:focus,
  &:active
    outline-color: $main-color

//	SELECT
select
  appearance: none
  border: 1px solid $base-font-color
  outline-color: $main-color

  &:-moz-focusring
    color: transparent
    text-shadow: none
//	END SELECT

// INPUTS & TEXTAREA
input,
textarea
  outline-color: $main-color
  font: $font
  color: $base-font-color
  font-size: 1rem

  &::placeholder
    font: $font
    font-size: 1rem
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus
    background: inherit
    -webkit-box-shadow: inset 0 0 0 50px #fff
    -webkit-text-fill-color: #000

textarea

//input
//	appearance: none

input[type='number']
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
  -moz-appearance: textfield
//	END INPUTS & TEXTAREA


// GRID
.container
  overflow: hidden
  margin: 0 auto
  max-width: 1200px
  @media (max-width: 1368px)
    //padding: 0 20px
    max-width: 1000px
  @media (max-width: 1060px)
    width: 100%
    padding: 0 20px


  //@media #{$media-md}
  //	padding-left: 1rem
  //	padding-right: 1rem
  //	max-width: 1000px
  //@media #{$media-sm}
  //	width: 100%

.hidden
  display: none !important

.sm-hidden
  @media #{$media-sm}
    display: none !important

.xs-hidden
  @media #{$media-xs}
    display: none !important

// image-holder
.image-holder
  overflow: hidden
  position: relative
  text-align: center
  vertical-align: middle

  img
    object-fit: cover
    vertical-align: middle
    height: 100%
    width: 100%

  .fake-img
    opacity: 0
    position: relative
    height: 100%
    width: 100%
    z-index: 1

  .img
    background:
      position: 50% 50%
      repeat: no-repeat
      size: cover
    height: 100%
    position: absolute
    left: 0
    right: 0
    top: 0

.table-holder
  max-width: 100%
  overflow: auto

.flex-vertical
  display: flex
  height: 100%
  flex-flow: row wrap
  align-items: center
  justify-content: center

//	MARKUP
.align-center,
.text-center
  text-align: center

.align-right,
.text-right
  text-align: right

.align-left,
.text-left
  text-align: left

.pull-left
  float: left
.pull-right
  float: right

.nowrap
  white-space: nowrap

.clearfix
  &:before,
  &:after
    content: ''
    height: 0
    display: table
    clear: both
