@import _mixins

.home
  position: relative
  overflow: hidden
  padding-top: 62px
  padding-bottom: 100px
  padding-top: 262px
  min-height: 100vh
  @media (max-width: 767px)
    min-height: auto
    padding-top: 150px
  @media (max-width: 640px)
    padding-top: 80px
  .container
    position: relative
    z-index: 1
    text-align: center
    padding-left: 152px
    padding-right: 152px
    @media (max-width: 1368px)
      padding-left: 20px
      padding-right: 20px
  h1
    font-size: 36px
    font-weight: bold
    text-align: center
    @media (max-width: 767px)
      font-size: 24px
      text-align: center!important
  .text
    font-size: 16px
    p
      margin: 15px 0 0 0
      text-align: center
      @media (max-width: 767px)
        text-align: justify
  .form
    position: relative
    padding: 0
    display: flex
    justify-content: space-between
    margin-top: 30px
    @media (max-width: 767px)
      flex-direction: column
    li
      position: relative
    .accept
      text-align: right
      position: absolute
      right: 0
      top: 80px
      font-weight: normal
      width: 240px
      @media (max-width: 767px)
        top: 25px
        left: 50%
        transform: translateX(-50%)
        right: auto
    .custom-combobox-input
      margin: 0
      background-color: #ffffff!important
      box-shadow: none
      width: 270px
      border-radius: 10px
      @media (max-width: 991px)
        width: 200px
      @media (max-width: 767px)
        width: 100%
        margin-bottom: 23px
    label.error
      width: 270px
      @media (max-width: 991px)
        width: 200px
      @media (max-width: 767px)
        width: 100%
        margin-top: -20px
    .custom-combobox
      @media (max-width: 767px)
        width: 100%
      a
        height: 100%
        margin-top: 0
    .btn-primary
      height: 40px
      width: 241px
      @media (max-width: 991px)
        width: 200px
      @media (max-width: 767px)
        width: 100%
        margin-top: 49px
    select
      color: #c0c0c0
      font-size: 22px
      option
        color: #000000
        outline: none
        &:first-child
          display: none
    .g
      color: #c0c0c0
    .b
      color: #000
    .nice-select
      border: none
      height: 75px
      border-radius: 15px
      span.current
        top: 16px
        font-size: 22px
    .work-type__checkbox
      position: absolute
      right: 0
      bottom: 10px
      label.error
        color: red
        position: absolute
        right: 0
        width: 257px
        @media (max-width: 767px)
          bottom: -20px
      a
        color: #81748B
        font-size: 12px
        white-space: nowrap
      @media (max-width: 1368px)
        // bottom: 0
        left: 30px
        text-align: left
      @media (max-width: 542px)
        text-align: center
      input[type="checkbox"]
        display: none
        + .checkbox-custom
          background-color: #fff
          color: #000
          content: ''
          display: inline-block
          width: 15px
          height: 15px
          position: absolute
          left: -30px
          bottom: 0
          border: 1px solid #d6d6d6
          border-radius: 5px
          @media (max-width: 466px)
            left: -20px
        &:checked + .checkbox-custom
          &:before
            font-family: FontAwesome
            content: "\f00c"
            font-weight: normal
            font-size: 12px
            position: absolute
            right: 1px
            bottom: -4px
            color: #43135B
  .social
    padding-top: 150px
    @media (max-width: 767px)
      padding-top: 60px
    ul
      padding: 15px 0 0 0
      li
        padding-right: 17px
        &:last-of-type
          padding-right: 0
        a
          height: 42px
          width: 42px
    h4
      font-size: 24px
    @media (max-width: 1380px)
      h4
        font-size: 22px
    @media (max-width: 1100px)
      h2
        font-size: 20px
      a
        svg
          width: 80%
    @media (max-width: 680px)
      a
        svg
          width: 70%
      h4
        font-size: 20px
    @media (max-width: 400px)
      li
        padding-right: 0
    .main-page__or
      font-size: 18px
      margin: 15px 0 15px
    .main-page__start-contacts
      padding: 2px
      margin: 0
      font-size: 18px
      a
        font-size: 18px
        width: auto
        height: auto
  .main-page__chat-start
    background-color: #12C77F
    position: absolute
    right: -135px
    top: 500px
    width: 280px
    height: 80px
    transform: rotate(-90deg)
    text-align: center
    font-size: 16px
    padding: 18px 65px 80px
    border-radius: 40px
    z-index: 1
    cursor: pointer
    @media (max-width: 900px)
      top: 450px
    @media (max-width: 500px)
      top: 500px
    @media (max-width: 400px)
      display: none
//.down_b
  //	padding-bottom: 85px
  //	display: inline-block
  //	a
  //		color: #bebebe
  //		font-size: 70px
  //		transform: rotate(90deg)
  //		transition: .25s
  //		&:hover
  //			transition: .25s
  //			color: #12c77f
.ui-autocomplete-width
  max-width: 270px!important
  // border-radius: 5px!important
  border: none!important
  @media (max-width: 991px)
    max-width: 200px!important
  @media (max-width: 767px)
    max-width: 100%!important
  @media (max-width: 370px)
    max-width: 88%!important