@import _mixins

.job
	margin-bottom: 59px
	.we_hire
		background-image: url(../img/bg/bg-job.png)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		position: relative
		z-index: 1
		&:before
			background-color: rgba(0, 0, 0, 0.6)
			content: ''
			display: block
			position: absolute
			height: 100%
			width: 100%
		.container
			position: relative
			z-index: 2
			top: 0
		h2
			color: #ffffff
			padding: 262px 0 0
			@media (max-width: 1368px)
				padding: 100px 0 0
			//@media (max-width: 860px)
			//	padding-top: 120px

	.container
		position: relative
		z-index: 3
		margin-bottom: -88px
		overflow: visible
	.list-job
		color: #320d51
		display: flex
		flex-flow: wrap
		justify-content: space-between
		li
			width: 31%
			box-shadow: 3px 5px 18px rgba(0, 0, 0, 0.23)
			background-color: #ffffff
			margin: 0 8px 18px
			padding: 42px 30px 30px
			text-align: center
			border: 4px solid #ffffff
			transition: all 0.35s
			position: relative

			&:last-child
				margin-right: 0
			&:hover
				border: 4px solid #43135b
				transition: all 0.2s
			@media (max-width: 1368px)
				padding: 42px 20px 24px
			@media (max-width: 940px)
				padding: 42px 20px 22px
				width: 30%
			@media (max-width: 820px)
				width: 46%
			@media (max-width: 620px)
				width: 100%
			h4
				position: absolute
				top: 40px
				left: 50%
				transform: translateX(-50%)
				text-align: center
				font-size: 22px
				font-weight: 700
				width: 80%
				@media (max-width: 862px)
					width: 100%
			.text
				margin-top: 60px
				margin-bottom: 75px
				text-align: justify
			.more
				color: #ffffff
				border-radius: 15px
				background-color: #43135b
				padding: 8px 78px
				transition: 0.3s
				border: 2px solid #43135b
				position: absolute
				bottom: 34px
				right: 50%
				transform: translateX(50%)
				&:hover
					transition: .3s
					box-shadow: 3px 5px 18px rgba(0, 0, 0, 0.23)
					background-color: #ffffff
					color: #43135b
				@media (max-width: 940px)
					padding: 8px 54px
