@import _mixins

.wrap_partners
  .orders
    .slider-cabinet
      //height: 500px
      //ul
        height: 500px
      //.owl-stage
        height: 500px
      //.owl-item
        height: 500px
      li
        height: 574px
      @media (max-width: 1366px)
        padding: 58px 0 0
      @media (max-width: 640px)
        padding: 55px 0 0
    .text
      @media (max-width: 250px)
        display: none

  .slider-cabinet
    .owl-dots
      .owl-dot
        span
          height: 9px
          width: 9px
          border-radius: 50%

  .slider-list
    .owl-carousel
      .owl-nav
        .owl-next, .owl-prev
          top: 35%
  #conditions-for
    width: 100%
    .name
      text-align: center
      font-size: 16px
      padding-bottom: 50px
      max-width: 100px
      margin-left: 120px
      @media (max-width: 1368px)
        margin-left: 140px
      @media (max-width: 900px)
        margin-left: 40%
      @media (max-width: 684px)
        margin-left: 30%
      @media (max-width: 400px)
        margin-left: 10%
    .owl-stage
      @media (max-width: 260px)
        padding-left: 0 !important
        transform: translate3d(0, 0, 0) !important
  .with-us
    padding-top: 30px
    padding-bottom: 0
    h2
      font-size: 30px
    ul
      padding: 30px 160px 0px
      @media (max-width: 1024px)
        padding: 30px 60px 0px
      @media (max-width: 440px)
        padding: 30px 0
      li
        margin-bottom: 42px
        span
          font-size: 48px
        p
          font-size: 16px
          max-width: 200px
  #reviews-employees
    width: 100%
    .name
      font-size: 16px
      text-align: center
      @media (max-width: 1300px)
        text-align: left
    .name_status
      font-weight: normal
      font-style: italic
      padding-bottom: 8px
      @media (max-width: 1300px)
        text-align: left
    .text
      padding-top: 0
      font-size: 16px
      text-align: left

.become-author
  color: #43135b
  text-align: center
  h1
    padding-top: 30px
    font-weight: 700
    //font-size: 40px
    @media (max-width: 1400px)
      font-size: 38px
    @media (max-width: 1200px)
      font-size: 34px
    @media (max-width: 1024px)
      font-size: 30px
    @media (max-width: 580px)
      font-size: 26px
  .text
    max-width: 360px
    margin: auto
    font-size: 16px
    max-width: 280px
    p
      margin-top: 30px
      margin-bottom: 0
    @media (max-width: 640px)
      margin-bottom: 20px
  .text2
    margin-left: 50px
    p
      margin-top: 15px
      margin-bottom: 50px
  .stages-author
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    @media (max-width: 640px)
      flex-direction: column
      align-items: center
    .item
      width: 220px
      text-align: left
      @media (max-width: 400px)
        display: flex
        flex-direction: column
      &:nth-child(1)
        .icon
          position: relative
          padding: 18px 24px
          &:before
            content: ''
            position: absolute
            z-index: 1
            top: 50%
            left: 100%
            height: 6px
            width: 270px
            background-color: #43135b
          @media (max-width: 820px)
            padding: 10px 13px
      &:nth-child(2)
        .icon
          z-index: 3
          padding: 18px 16px 28px 35px
          @media (max-width: 1024px)
            padding: 18px 16px 28px 30px
          @media (max-width: 820px)
            padding: 11px 8px 28px 21px
      &:nth-child(3)
        .icon
          position: relative
          padding: 28px 18px 22px 44px
          &:before
            content: ''
            position: absolute
            z-index: 1
            top: 50%
            right: 100%
            height: 6px
            width: 270px
            background-color: #43135b
          @media (max-width: 1024px)
            padding: 21px 18px 22px 35px
          @media (max-width: 820px)
            padding: 14px 12px 12px 23px

      @media (max-width: 720px)
        width: 180px
      @media (max-width: 640px)
        width: 90%
        margin-bottom: 10px

      .icon
        border: 5px solid #43135b
        border-radius: 50%
        min-width: 160px
        width: 160px
        height: 160px
        margin: 40px auto 30px
        background-color: #FFFFFF
        position: relative
        z-index: 2
        @media (max-width: 1200px)
          margin: 20px auto 25px !important
        @media (max-width: 1024px)
          min-width: 130px
          width: 130px
          height: 130px
        @media (max-width: 820px)
          margin: 10px auto 10px !important
          min-width: 100px
          width: 100px
          height: 100px
        @media (max-width: 640px)
          float: left
          margin: 0 16px 0 0 !important

          &:before
            display: none

      .num
        white-space: nowrap
        display: flex
        justify-content: flex-start
        flex-wrap: nowrap
        align-items: center
        line-height: 1
        @media (max-width: 400px)
          margin-top: 20px
        span
          color: #b4a1bd
          font-size: 80px
          font-weight: 700
          vertical-align: middle
          padding-right: 14px
          @media (max-width: 1200px)
            font-size: 70px
          @media (max-width: 1024px)
            font-size: 60px
          @media (max-width: 820px)
            font-size: 50px
        h3
          text-align: left
          vertical-align: middle
          font-size: 25px
          font-weight: 700
          white-space: normal
          @media (max-width: 1200px)
            font-size: 22px
          @media (max-width: 640px)
            font-size: 20px
      //@media (max-width: 820px)
          width: 70%


      .text
        padding-left: 54px
        @media (max-width: 1024px)
          padding-left: 46px
          padding-right: 10px
        @media (max-width: 820px)
          font-size: 18px
          padding-left: 41px
        @media (max-width: 640px)
          margin: 0
          display: table
          padding-left: 0
          p
            margin-top: 0
  //width: 70%
  //margin: 0!important
  .go-author
    color: #ffffff
    border-radius: 30px
    background-color: #12c77f
    line-height: 67px
    padding: 0 66px
    font-size: 18px
    @media (max-width: 1200px)
      line-height: 50px
    @media (max-width: 640px)
      line-height: 40px
      padding: 0 40px
    @media (max-width: 250px)
      padding: 0 5px

.conditions-for-you
  color: #43145b
  .container
    overflow: visible
  h2
    font-size: 30px
    font-weight: 700
    margin: 30px 0 20px
    //@media (max-width: 1400px)
      margin: 50px 0
      font-size: 38px
    //@media (max-width: 1200px)
      margin: 40px 0 20px
      font-size: 34px
    //@media (max-width: 1024px)
      font-size: 30px
    @media (max-width: 580px)
      font-size: 26px

  .owl-stage-outer
    padding: 60px 0
    @media (max-width: 580px)
      padding: 35px 0
  .item
    text-align: center
    padding: 0
    //transition: transform .6s
    transition: .4s ease all
    &:before
      display: none
  .owl-item
    opacity: 0
    transform: scale(1)
    transition: .4s ease all
    @media (max-width: 580px)
      .foto
        width: 70%
        margin: auto
    @media (max-width: 480px)
      .foto
        width: 80%
    //@media (max-width: 420px)
    //.foto
      width: 100%
    //@media (max-width: 420px)
  //margin-right: 0 !important
  .owl-item.active
    opacity: 0.5
    transform: scale(1)
    transition: .4s ease all
    @media (max-width: 684px)
      opacity: 0
  .owl-item.center
    transform: scale(1.15)
    transition: .4s ease all
    opacity: 1
    z-index: 50
  .slider-list
    .owl-carousel
      margin-bottom: -82px
      //@media (max-width: 1368px)
        margin-bottom: -403px
      //@media (max-width: 760px)
        margin-bottom: -330px
      @media (max-width: 580px)
        margin-bottom: -50px
        .owl-prev, .owl-next
          top: 96% !important
//@media (max-width: 260px)
 // margin-bottom: -150px


.reviews-employees
  .foto
    margin-bottom: 18px
    width: 191px
    img
      width: 191px
      height: 191px
      border-radius: 50%
      @media (max-width: 1300px)
        width: 91px
        height: 91px
    @media (max-width: 760px)
      width: 160px
      img
        width: 160px
        height: 160px
    @media (max-width: 680px)
      margin: 0 auto 12px
  .name
    font-size: 25px
    font-weight: 700
  .text
    position: relative
    width: 380px

    &:before
      position: absolute
      top: -24px
      content: '\f10e'
      font-family: "FontAwesome"
      line-height: 1em
      left: -40px
      font-size: 82px
      color: #eaeaea
      z-index: 0
      @media (max-width: 1300px)
        top: 0
    @media (max-width: 1610px)
      width: 280px
    @media (max-width: 1300px)
      width: 380px
    @media (max-width: 959px)
      width: 60%
      &:before
        display: none
      p
        margin-top: 0
    @media (max-width: 680px)
      width: 100%

    //@media (max-width: 800px)
    //	width: 100%
    p
      position: relative
      z-index: 2
  .associate
    padding-right: 56px
    text-align: center
    width: 250px
    @media (max-width: 1610px)
      padding-right: 30px
      width: 221px
    @media (max-width: 1300px)
      padding-right: 0
      width: 191px
    @media (max-width: 960px)
      padding-right: 30px
      width: 221px
    @media (max-width: 680px)
      width: 100%
      padding: 0

  li
    display: flex
    //flex-wrap: wrap
    justify-content: center
    padding: 24px 0 0
    &:before
      display: none
    @media (max-width: 1300px)
      padding: 0
    @media (max-width: 960px)
      padding: 0
      flex-wrap: nowrap
    @media (max-width: 680px)
      flex-direction: column

  .owl-carousel
    margin-bottom: 60px
    //@media (max-width: 1200px)
      margin-bottom: 60px
    @media (max-width: 1024px)
      margin-bottom: 40px
    @media (max-width: 580px)
      .owl-prev, .owl-next
        top: 93% !important

.question-job
  max-width: 971px
  box-shadow: -8px 5px 21px 3px rgba(0, 0, 0, 0.47)
  background-color: #43135b
  background-image: linear-gradient(-19deg, rgba(50, 11, 70, 0.55) 0%, rgba(67, 19, 91, 0) 100%)
  margin: auto
  margin-bottom: 60px
  text-align: justify
  @media (max-width: 1200px)
    margin-bottom: 60px
    width: 84%
  @media (max-width: 1024px)
    margin-bottom: 40px
    width: 90%
  @media (max-width: 720px)
    margin-bottom: 40px
    width: 100%
  h3
    color: #ffffff
    font-size: 24px
    font-weight: 700
    padding: 40px 10px 40px
    text-align: center
    //@media (max-width: 1400px)
      padding: 50px 10px 50px
      font-size: 38px
    //@media (max-width: 1200px)
      //padding: 40px 10px 40px
      //font-size: 34px
    @media (max-width: 1024px)
      padding: 40px 10px 30px
      font-size: 30px
    @media (max-width: 620px)
      font-size: 26px
      padding: 32px 10px 22px
  a
    color: #12c77f
    font-size: 24px
    font-weight: 700
    padding-left: 16px
  .phone, .mail
    display: inline-block
    width: 49%
    text-align: center
    margin-bottom: 40px
    //@media (max-width: 1400px)
    //margin-bottom: 50px
    @media (max-width: 1200px)
      margin-bottom: 40px
      a
        font-size: 24px
    @media (max-width: 1024px)
      margin-bottom: 30px
      a
        font-size: 22px
    @media (max-width: 920px)
      img
        width: 38px
    @media (max-width: 620px)
      width: 100%
      margin-bottom: 22px
      img
        width: 30px
    @media (max-width: 284px)
      a
        font-size: 12px


