@import _mixins

// --------------------------------------------------
// MODALS
// --------------------------------------------------
.active-modal
  display: flex!important
.modal_div
  position: fixed
  z-index: 10000
  top: 0px
  display: none
  opacity: 0
  height: 100%
  overflow-y: auto
  width: 100%
  padding: 30px
  //font-family: 'Raleway', sans-serif
  line-height: 24px
  box-sizing: border-box
  *
    box-sizing: border-box
  @media (max-width: 720px)
    padding: 20px
  @media (max-width: 420px)
    padding: 10px


  .modal-wrap
    margin: auto
    max-width: 588px
    //height: 585px
    padding: 60px 90px
    background-color: #351055
    border-radius: 30px
    position: relative
    @media (max-width: 720px)
      padding: 60px 60px
    @media (max-width: 540px)
      padding: 60px 40px
    @media (max-width: 420px)
      padding: 40px 20px
    &:before
      content: ''
      border: 24px solid transparent
      border-left: 42px solid #2f0d4b
      border-top: 17px solid #2f0d4b
      bottom: -34px
      left: 60px
      position: absolute
      -webkit-transform: skewX(-20deg)
      -ms-transform: skewX(-20deg)
      transform: skewX(-28deg)
    .modal_close
      position: absolute
      top: 30px
      right: 30px
      cursor: pointer
      display: block
      transition: .2s
      transform: rotate(45deg)
      @media (max-width: 420px)
        top: 20px
        right: 20px
      &:hover
        color: #EE3B24
      &:after
        content: "+"
        font-size: 42px
        &:hover
          color: #EE3B24
    .content
      display: -webkit-box
      display: -moz-box
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      flex-flow: row wrap
      justify-content: space-around
      .logo
        width: 175px
        height: 37px
        margin-bottom: 30px
        @media (max-width: 720px)
          margin-bottom: 20px
      .text
        width: 100%
        text-align: center
      form

        text-align: center
        width: 410px
        border-radius: 30px
        @media (max-width: 720px)
          width: 100%

        //	order: 1
        //	padding: 0 0 40px 0
        //@media (max-width: 460px)
        //	width: 100%
        input, textarea
          width: 100%
          margin-bottom: 24px
          padding: 8px 0 8px 21px
          font-size: 18px
          font-family: 'Raleway', sans-serif
          border-radius: 20px
          border: 3px solid #ffffff
          background-color: #ffffff
          //&:hover, &:focus
          //	border: 1px solid #EE3B24
          &::-webkit-input-placeholder
            color: #555
          &::-moz-placeholder
            color: #555
          &:-moz-placeholder
            color: #555
          &:-ms-input-placeholder
            color: #555
        textarea
          height: 125px
          resize: none

        ul
          margin: 0 0 20px
          @media (max-width: 420px)
            margin: 0
        li
          position: relative
          list-style: none
          //&:after
          //	font-family: "FontAwesome"
          //	position: absolute
          //	top: 50%
          //	right: 16px
          //	transform: translateY(calc(-50% - 5px))
          //	font-size: 20px
          //	display: inline-block
          //	padding-left: 5px
        //.name
        //	&:after
        //		content: "\f007"
        //.email
        //	&:after
        //		content: "\f003"
        //.phone
        //	&:after
        //		content: "\f095"
        //.message
        //	&:after
        //		top: 26px
        //		content: "\f040"
        .reset
          a
            color: #b2b2b2
            transition: 0.3s
            &:hover
              transition: 0.3s
              color: #FFFFFF
        .social-in
          margin-bottom: 20px
          li
            display: inline-block
            width: 175px
            margin: 0 12px 12px

        .vk, .facebook
            display: block
            padding: 6px 0 8px 60px
            position: relative
            color: #ffffff
            border-radius: 10px
            text-align: left
            background-color: #5785c1
            transition: 0.3s
            &:hover
              transition: 0.3s
              background-color: #305d94
            &:before
              content: ""
              position: absolute
              top: 5px
              left: 42px
              width: 2px
              height: 24px
              background-color: #ffffff
        .vk
          &:after
            content: "\f189"
            font-family: FontAwesome
            position: absolute
            top: 6px
            left: 11px
            color: #ffffff
        .facebook
          &:after
            content: "\f09a"
            font-family: FontAwesome
            position: absolute
            top: 7px
            left: 16px
            color: #ffffff
        .btn
          background: none
          color: #fff
          padding: 12px 25px
          border-radius: 24px
          font-size: 18px
          cursor: pointer
          border: 3px solid #ffffff
          width: 162px
          transition: all .3s ease-in-out
          margin: 0 10px 10px
          &:hover
            border: 3px solid #12c77f
            transition: all .3s ease-in-out
            background: #12c77f



  a
    border: none
    outline: none
    text-decoration: none

  .videoWrapper
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    margin-bottom: 20px
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

#in_processing
  text-align: center
  .modal-wrap
    max-width: 840px
    padding: 30px 90px 60px
  .logo
    margin-bottom: 46px
  .btn.modal_close
    position: relative
    background-color: #12c77f
    -webkit-border-radius: 15px
    border-radius: 15px
    color: #ffffff
    padding: 7px 36px
    transform: none
    right: 0
    &:after
      display: none


#overlay
  z-index: 1000
  position: fixed
  background: rgba(255, 255, 255, .9)
  filter: alpha(opacity = 80)
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none


/* ============================================================================
 * modal on order
 * ============================================================================ */
.modal-new
  display: none /* Hidden by default */
  position: fixed /* Stay in place */
  z-index: 10 /* Sit on top */
  left: 0
  top: 0
  width: 100% /* Full width */
  height: 100% /* Full height */
  overflow: auto /* Enable scroll if needed */
  background-color: rgb(0,0,0) /* Fallback color */
  background-color: rgba(0,0,0,0.8) /* Black w/ opacity */
.modal-content
  width: 422px
  background-color: #fefefe
  margin: 15% auto /* 15% from the top and centered */
  padding: 10px 10px 55px
  //background-color: #40297B
  background: linear-gradient(to top right, #40297B 0%, #5D2D81 100%)
  position: relative
  border-radius: 10px
  animation-name: animatetop
  animation-duration: 1s
  @media (max-width: 575px)
    width: 80%
  &:before
    content: ''
    border: 14px solid transparent
    border-left: 28px solid #40297B
    border-top: 8px solid #40297B
    bottom: -22px
    left: 25px
    position: absolute
    //transform: skewX(-20deg);
  svg
    float: right
    cursor: pointer
  h3
    font-size: 30px
    margin: 34px 0 40px
  p
    margin: 0
    text-align: center
    padding: 0 55px 0
    font-size: 16px
    line-height: 19px
    @media (max-width: 575px)
      padding: 0
@keyframes animatetop
  from
    top: -300px
    opacity: 0
  to
    top: 0
    opacity: 1
.orderDoneMail,
.password-sent
  .modal-content
    width: 490px
    padding: 50px
    color: #ffffff
    @media (max-width: 576px)
      width: 80%
      padding: 40px 20px
    h3
      margin: 0 50px 30px
      @media (max-width: 576px)
        margin: 0 0 30px
    p
      padding: 0
    a
      height: 49px
      margin: 70px auto 0 auto
      width: 241px
      margin-left: 50%
      transform: translateX(-50%)
      @media (max-width: 576px)
        width: 100%
        padding: 0
.password-sent
  .modal-content
    padding: 38px 50px 38px 50px
    @media (max-width: 400px)
      padding: 30px 20px
    svg.ok
      float: none
      margin-left: 50%
      transform: translateX(-50%)
      cursor: auto
      margin-bottom: 30px
    p
      font-size: 24px
      font-weight: normal
      line-height: 1.2
    a
      margin: 48px auto 0 auto
      height: 49px
      width: 241px
      margin-left: 50%
      transform: translateX(-50%)
    .close-modale
      position: absolute
      right: 10px
      top: 10px
    .btn-primary
      @media (max-width: 400px)
        width: 100%
