@import _mixins

.fixed-header
  position: fixed
  top: 0
  padding-top: 0!important
header
  position: fixed
  z-index: 10
  left: 0
  right: 0
  background-color: #5D2D81
  height: 60px
  @media (max-width: 1380px)
    position: fixed
    padding-top: 0
  @media (max-width: 640px)
    height: 54px
  .container
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    padding-top: 8px
    padding-bottom: 8px
    position: relative
    overflow: visible
    height: 100%
    // &:before
    //   content: ''
    //   border: 14px solid transparent
    //   border-left: 28px solid #2f0d4b
    //   border-top: 8px solid #2f0d4b
    //   bottom: -22px
    //   left: 25px
    //   position: absolute
    //   transform: skewX(-20deg)
  .logo
    align-self: center
    a
      display: inline-block
      svg
        width: 130px
        height: 100%
        @media (max-width: 1368px)
          width: 162px
        @media (max-width: 640px)
          width: 146px
      img
        width: 175px
        height: 100%
        display: block
        @media (max-width: 1368px)
          width: 162px
        @media (max-width: 640px)
          width: 146px
  nav
    @media (max-width: 1199px)
      flex-grow: 1
      text-align: center
      padding-right: 60px
      padding-left: 60px
      position: absolute
      left: 0
      right: 0
      z-index: 10
      background-color: #2f0d4b
    @media (max-width: 860px)
        padding-right: 0
        padding-left: 0
    .top-menu
      display: flex
      align-items: center
      justify-content: space-between
      @media (max-width: 1199px)
        padding-right: 60px
        background-color: #2f0d4b
      @media (max-width: 960px)
        padding: 0 40px
      @media (max-width: 860px)
        flex-direction: column
        padding: 16px 40px
      li
        display: inline-block
        padding-right: 20px
        &:last-child
          padding-right: 0
        @media (max-width: 1380px)
          padding-right: 12px
        @media (max-width: 860px)
          padding-right: 0
        a
          color: $color
          transition: .25s
          white-space: nowrap
          font-size: 16px
          &:hover
            transition: .25s
            border-bottom: 2px solid $main-color-hover
          @media (max-width: 1368px)
            font-size: 16px
          @media (max-width: 860px)
            font-size: 22px
            line-height: 36px
      .active
        a
          transition: .25s
          border-bottom: 2px solid $main-color-hover
  .btn-primary
    width: 180px
    padding: 10.5px 0
    // margin-left: 60px
    // @media (max-width: 1199px)
    //   margin-left: 0
  .hide
    display: none
  .but
    @media (max-width: 1199px)
      flex-grow: 1
      display: flex
      align-items: center
      justify-content: flex-end
      padding-right: 20px
  submit
    cursor: pointer
  .in
    font-weight: 700
    padding-right: 36px
    position: relative

    &:before
      content: ''
      position: absolute
      background: url("../img/icons/log-in.svg")
      background-repeat: no-repeat
      background-size: 37px 39px
      width: 37px
      height: 39px
      top: -10px
      display: none
    @media (max-width: 1368px)
      font-size: 16px
      padding-right: 16px
    @media (max-width: 640px)
      text-indent: -9999px
      &:before
        display: block
  .check_in
    font-size: 18px
    border-radius: 22px
    border: 2px solid #ffffff
    padding: 8px 36px
    @media (max-width: 1368px)
      padding: 8px 24px
      font-size: 16px
    @media (max-width: 640px)
      display: none
  nav
    @media (max-width: 1199px)
      top: -315px
      bottom: 120px
      transition: 0.3s
  .animate-menu
    @media (max-width: 1199px)
      top: 0
      bottom: 0
      transition: 0.3s
      padding-top: 20px
    @media (max-width: 860px)
      padding-top: 0
header.new-header
  height: 60px
  top: 0
  background-color: #5D2D81
  @media (max-width: 640px)
    min-height: 60px
  & .logo
    align-self: center
  a svg
    width: 113px
  .container
    height: 60px
    padding: 11px 152px
    @media (max-width: 991px)
      padding: 20px 20px
    @media (max-width: 640px)
      padding: 0 20px
    &::before
      display: none
    .button-to-cabinet
      display: inline-block
      color: #ffffff
      font-size: 16px
      background-color: $new-main-green
      width: 180px
      padding: 10.5px 0
      text-align: center
      border-radius: 10px
      margin-top: -2px
      cursor: pointer
      @media (max-width: 640px)
        width: 160px
      @media (max-width: 360px)
        width: 140px
        font-size: 14px
      &:hover
        transition: .3s
        color: #351054
header.new-cabinet
  height: 86px
  @media (max-width: 640px)
    height: 54px
    min-height: 54px
  a svg
    width: 127px
  .header
    height: 86px //for ie
    @media (max-width: 640px)
      height: 54px //for ie
    &__info-wrapper
      display: flex
      justify-content: space-between
      width: 75%
      @media (max-width: 767px)
        display: none
        flex-direction: column
        width: auto
    // &__accordion
    //   margin-left: 40px
    //   @media (max-width: 767px)
    //     margin-left: 0
    //   .header__accordion-a
    //     font-size: 16px
    //     color: #ffffff
    //     cursor: pointer
    //   svg
    //     margin-left: 9px
    //     height: 10px
    //     width: 12px
    &__your-bonus,
    &__your-balance
      flex-basis: 180px
      font-size: 16px
      font-weight: 200
      @media (max-width: 1368px)
        flex-basis: auto
      @media (max-width: 370px)
        font-size: 14px
      span
        @media (max-width: 767px)
          display: inline-block
          min-width: 95px
          text-align: right
        @media (max-width: 370px)
          min-width: 70px
.header__accordion
  margin-left: 40px
  @media (max-width: 767px)
    margin-left: 0
  .header__accordion-a,
  .header__accordion-b
    font-size: 16px
    color: #ffffff
    cursor: pointer

  svg
    margin-left: 9px
    height: 10px
    width: 12px
.header__accordion-main
  border: 1px solid #ffffff
  border-radius: 10px
  min-width: 166px
  height: 40px
  position: relative
  @media (max-width: 1199px)
    display: none
  svg
    // margin-left: 23px
    position: absolute
    right: 13px
    top: 50%
    transform: translateY(-50%)
  .header__accordion-a,
  .header__accordion-b
    display: block
    // padding: 10px 11px 10px 42px
    text-align: center
    width: 100%
    height: 100%
    line-height: 40px
.personal-account-menu-wrapper
  position: fixed
  top: -100%
  color: red
  z-index: 2
  width: 100%
  transition: .4s all
  label.error
    margin-top: -15px
  .hide
    display: none!important
  .container
    position: relative
    .personal-account-menu
      width: 271px
      background: linear-gradient(74.34deg, #40297B -100.34%, #5D2D81 178.88%)
      z-index: 2
      float: right
      margin-right: 106px
      padding: 28px 28px 14px
      border-radius: 0 0 15px 15px
      @media (max-width: 991px)
        margin-right: 0
      form.new-form-style
        input.custom-combobox-input
          background: #fff!important
          width: 100%
          box-shadow: none
          border-radius: 7px
          margin: 0 0 14px 0
        .btn-primary
          margin-left: 50%
          transform: translateX(-50%)
          width: 144px
          height: 37px
          line-height: 14px
          margin-bottom: 14px
        .restore
          color: #b5b5b5
          text-align: center
          width: 100%
          display: inline-block
        .error
          margin-bottom: 0
.personal-account-menu-wrapper-show
  top: 60px
  @media (max-width: 1368px)
    top: 59px
.personal-account-header-btn
  @media (max-width: 1199px)
    display: none
// .personal-account-menu-wrapper-main-page - old design
.personal-account-menu-wrapper.personal-account-menu-wrapper-main-page
  .container
    .personal-account-menu
      margin-right: 0!important
      @media (max-width: 1199px)
        margin-right: 80px!important
      @media (max-width: 1060px)
        margin-right: 60px!important
      @media (max-width: 960px)
        margin-right: 40px!important
      @media (max-width: 860px)
        margin-right: 50%!important
        transform: translateX(50%)
      form.new-form-style
.personal-account-menu-wrapper-main-page.personal-account-menu-wrapper-show
  top: 60px
  @media (max-width: 1199px)
    display: none
.personal-account-menu-wrapper-small
  form
    input.custom-combobox-input
      width: 162px
      background-color: #fff!important
    .restore
      color: #b5b5b5
      font-size: 16px
      margin-top: 14px
      display: inline-block