@import _mixins

.orders-order-wrapper
  .container
    padding-left: 109px
    padding-right: 109px
    @media (max-width: 991px)
      padding-left: 20px
      padding-right: 20px
  .back
    margin: 50px auto 10px
    display: block
    color: #8B8B8B
    padding-left: 20px
    font-size: 16px
    @media (max-width: 767px)
      margin: 20px auto 10px
    @media (max-width: 575px)
      padding-left: 15px
      padding-right: 15px
  .order
    display: flex
    flex-direction: row
    color: #351054
    border-radius: 10px
    border: 1px solid #B6B6B6
    justify-content: space-between
    margin: auto
    margin-bottom: 50px
    font-size: 17px
    @media (max-width: 1368px)
      flex-direction: column
    @media (max-width: 575px)
      margin-bottom: 20px
    .desc-wrapper
      .desc-header,
      .desc-footer
        color: #8B8B8B
        padding-left: 21px
        padding-right: 21px
        padding-top: 21px
        font-size: 16px
        @media (max-width: 575px)
          padding-left: 15px
          padding-right: 15px
          padding-top: 15px
        span
          display: inline-block
          color: #000000
          font-weight: bold
      .desc-footer
        padding-top: 0
        padding-bottom: 21px
        position: relative
        span
          font-weight: normal
          // max-height: 80px
          overflow: hidden
          transition: .4s max-height

          @media (max-width: 575px)
            margin-bottom: 20px
        @media (max-width: 1368px)
          padding-bottom: 15px
        @media (max-width: 575px)
          padding-bottom: 0
        .show-more-wrapper
          position: absolute
          right: 21px
          bottom: 21px
          background-color: #fff
          transition: .4s bottom
          @media (max-width: 1369px)
            bottom: 15px
          @media (max-width: 575px)
            bottom: 0
            right: 15px
          span:first-of-type
            opacity: 1
            transition: 1.4s opacity
          .show-more
            margin-left: 5px
            color: #8B8B8B
            cursor: pointer
      .full-height
        span
          max-height: 1000px!important
          transition: 1.4s max-height
        .show-more-wrapper
          bottom: 0px
          transition: .4s bottom
          @media (max-width: 576px)
            bottom: -20px
          span:first-of-type
            opacity: 0
            transition: .4s opacity
      .desc
        color: #000000
        align-items: flex-start
        font-size: 16px
        flex-direction: row
        @media (max-width: 1368px)
          justify-content: space-between
        @media (max-width: 575px)
          flex-direction: column
          padding-bottom: 0
        &__order-firstcolumn,
        &__order-secondcolumn
          @media (max-width: 1368px)
            margin-right: 0
          div
            display: flex
            margin-bottom: 21px
            @media (max-width: 575px)
              margin-bottom: 15px
              //font-size: 13px
          span:first-of-type
            display: inline-block
            color: #8b8b8b
          span:nth-of-type(2)
            font-weight: bold
        &__order-firstcolumn
          margin-right: 40px
          width: 266px
          @media (max-width: 1368px)
            width: 50%
            margin-right: 20px
          @media (max-width: 575px)
            width: 100%
            margin-right: 0
          span:first-of-type
            min-width: 77px
            @media (max-width: 575px)
              min-width: 103px
        &__order-secondcolumn
          flex-grow: 1
          width: 376px
          @media (max-width: 1368px)
            width: 50%
          @media (max-width: 575px)
            width: 100%
          span:first-of-type
            min-width: 103px
            min-width: 112px
            @media (max-width: 575px)
              min-width: 103px
    .price
      padding: 21px 10px
      display: flex
      flex-direction: column
      align-items: center
      @media (max-width: 1368px)
        flex-direction: column-reverse
        border: none
        padding: 0 10px 10px 0
      .price-money
        position: static
        height: auto
        color: #000
        @media (max-width: 575px)
          display: flex
        .old
          margin-bottom: 10px
          color: #FC3333
          @media (max-width: 1368px)
            margin: 0
          @media (max-width: 575px)
            margin-bottom: 0
          span
            color: #B6B6B6
            @media (max-width: 575px)
              font-size: 16px
      button.pay,
      a.pay
        position: static
        border-radius: 10px
        width: 189px
        height: 37px
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        margin: 18px auto 0
        @media (max-width: 1368px)
          display: none
      .date-of-order-wrapper
        display: flex
        align-items: center
        flex-direction: column
        @media (max-width: 1368px)
          flex-direction: row
          padding: 0 21px 15px
          font-size: 16px
        @media (max-width: 575px)
          padding: 15px 15px 15px
        @media (max-width: 380px)
          flex-direction: column
        .date-of-order-name
          max-width: 130px
          color: #8B8B8B
          margin-bottom: 20px
          margin-top: 60px
          @media (max-width: 1368px)
            max-width: 100%
            margin: 0 5px 0 0
        .date-of-order
          font-size: 16px
          color: #000000
    .small-pay-button
      display: none
      position: static
      width: auto
      margin: 5px 21px 15px
      border-radius: 10px
      padding: 0.6em 1.2em
      @media (max-width: 1368px)
        display: block
    &.blue-buttons
      .pay
        background-color: #40297B
    &.grey-buttons
      .pay
        background-color: #8B8B8B
  .chat
    color: #000000
    &__header
      padding-left: 20px
      margin-bottom: 10px
      @media (max-width: 575px)
        padding-left: 15px
        padding-right: 15px
    &__wrapper
      height: 571px
      background: #F2F5F8
      border: 1px solid #B5B5B5
      border-radius: 10px
      margin-bottom: 100px
      @media (max-width: 575px)
        margin-bottom: 50px
    &__header-wrapper
      button
        padding: 0
        background-color: #ffffff
        font-size: 16px
        padding-right: 20px
        color: #b5b5b5
        position: relative
        @media (max-width: 500px)
          display: block
          margin-bottom: 10px
        &.active
          color: #000000
      .message
        background-color: #FC3333
        height: 5px
        width: 5px
        display: inline-block
        border-radius: 50%
        position: absolute
        right: 15px
        top: 2px
    .chat-wrapper__content-wrapper
      overflow: hidden
      height: 100%
    .chat-variant
      position: relative
      overflow: hidden
      height: 100%
      display: flex
      flex-direction: column
      .search-form
        position: absolute
        top: 5px
        left: 5px
        right: 0
        height: 45px
        transition: all 0.4s
        visibility: hidden
        input[type=text]
          transition: all 0.4s
          margin-left: 10px
          flex-grow: 1
          border: none
          padding-left: 20px
        .hide-wrapper
          display: none
          transition: all 0.4s
          width: 100%
        &.active
          visibility: visible
          background-color: #fff
          border-radius: 5px
          display: flex
          margin-left: 15px
          margin-right: 15px
          z-index: 1
          input[type=text]
            display: block
            @media (max-width: 420px)
              width: 20%
          .hide-wrapper
            display: flex
        .search-btns-wrapper
          width: 50px
          color: #C4C4C4
          display: flex
          justify-content: space-around
          align-items: center
          .fa
            cursor: pointer
            height: 100%
            width: 50%
            padding-top: 13px
        .serch-nums
          display: flex
          justify-content: space-around
          align-items: center
          margin-right: 15px
          margin-left: 15px
          .one
            margin-right: 5px
            display: inline-block
          .two
            display: inline-block
            margin-left: 5px
      .fa-search
        position: absolute
        margin-top: 5px
        margin-left: 5px
        transition: all 0.4s
        cursor: pointer
        z-index: 1
        height: 20px
        width: 20px
        &.active
          margin-top: 17px
          margin-left: 27px
          z-index: 2
      .chat-history
        max-height: 87%
        font-size: 16px
        padding: 30px 27px 20px
        overflow-y: auto
        position: relative
        .clearfix
          .message-data.align-right
            .message-data-name
              margin-right: 5px
              margin-left: 5px
          .message.other-message.float-right
            &:after
              left: 93%
        .message-data
          margin-bottom: 10px
        .message-data-time
          color: lighten(gray, 8%)
          padding-left: 5px
        .message
          color: white
          padding: 16px 17px
          line-height: 26px
          font-size: 16px
          border-radius: 7px
          margin-bottom: 20px
          width: 90%
          position: relative
          &:after
            bottom: 100%
            left: 7%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            border-bottom-color: #7563BC
            border-width: 10px
            margin-left: -10px
          &:hover
            .fa-reply
              display: block
          a
            color: #ffffff!important
            text-decoration: underline
        .fa-circle
          vertical-align: 2px
        .fa-reply
          position: absolute
          right: 5px
          bottom: 5px
          cursor: pointer
          display: none
        .highlighted
            background-color:yellow
        .highlight
          background-color: #fff34d
        .highlight
          padding: 1px 4px
          margin: 0 -4px
        .match
          color: red
        .found
          color: #ffffff
          background-color: transparent
      .my-message
        background: #7563BC
      .other-message
        background: #86BB71
        &:after 
          border-bottom-color: #86BB71!important
          left: 93%
      .message-wrapper
        display: flex
        background-color: #fff
        border-radius: 5px
        margin-left: 15px
        margin-right: 15px
        input[type=file]
          display: none
      .chat-message
        margin-bottom: 13px
        width: 100%
        .fa-paperclip
          cursor: pointer
          margin-top: 12px
          margin-left: 12px
        textarea
          flex-grow: 1
          min-height: 41px
          border-radius: 5px
          padding-left: 10px
          padding-top: 10px
          padding-right: 10px
          border: none
          resize: none
          max-height: 78px
          overflow: auto
          @media (max-width: 400px)
            padding-right: 5px
          &::-webkit-input-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
          &::-moz-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
          &:-moz-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
          &:-ms-input-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
          &:focus::-webkit-input-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
          &:focus::-moz-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
          &:focus:-moz-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
          &:focus:-ms-input-placeholder
            @media (max-width: 400px)
              font-size: 12px!important
              padding-top: 5px
            @media (max-width: 328px)
              padding-top: 0
        .message-wrapper
          border: 1px solid #ffffff
          transition: border .4s
      .chat-message.active
        .message-wrapper
          border: 1px solid #7563BC
      .fa-file-o,
      .fa-file-image-o
        font-size: 16px
        color: gray
        cursor: pointer
      button
        float: right
        padding: 0 13px 0 0
        background-color: #fff
        color: #40297B
        font-size: 16px
        border: none
        cursor: pointer
        font-weight: bold
        border-radius: 0 5px 5px 0
        min-width: 85px
        &:hover
          color: darken(#40297B, 7%)
      .online,
      .offline,
      .me
        margin-right: 0px
        font-size: 10px
      .online
        color: #7563BC
      .offline
        color: orange
      .me
        color: #86BB71
      .align-left
        text-align: left
      .align-right 
        text-align: right
      .float-right
        float: right
      .clearfix:after
        visibility: hidden
        display: block
        font-size: 0
        content: " "
        clear: both
        height: 0
      .dots-wrapper
        .online
          margin-right: 5px!important
          display: inline-block
          opacity: 0
        .one
          animation-name: pulse1
          animation-duration: 3s
          animation-iteration-count: infinite
          animation-delay: 1s
        .two
          animation-name: pulse1
          animation-duration: 3s
          animation-iteration-count: infinite
          animation-delay: 2s
        .three
          animation-name: pulse1
          animation-duration: 3s
          animation-iteration-count: infinite
          animation-delay: 3s
      @keyframes pulse1
        0%
          opacity: 0
        50%
          opacity: 1
        100%
          opacity: 0
      .fa-arrow-circle-down
        position: absolute
        right: 20px
        bottom: 20%
        font-size: 25px
        cursor: pointer
        opacity: 0
        visibility: hidden
        transition: all 0.4s
      .active-arrow
        opacity: 1
        visibility: visible
        z-index: 1