@import _mixins

.partners
  color: #320d51
  h2
    padding-bottom: 27px
    padding-top: 70px
  .short-text
    padding-bottom: 40px
    padding-left: 220px
    padding-right: 220px
    p
      padding-top: 0px
    @media (max-width: 1366px)
      padding-bottom: 50px
    @media (max-width: 1100px)
      padding-bottom: 40px
    @media (max-width: 958px)
      padding-left: 10px
      padding-right: 10px

  .list-partners
    li
      display: flex
      align-items: center
      flex-flow: wrap
      justify-content: center
      padding-bottom: 47px
      @media (max-width: 1368px)
        padding-bottom: 60px
      @media (max-width: 1100px)
        padding-bottom: 40px
  .block-info
    width: 40%
    margin-left: 80px
    @media (max-width: 1368px)
      margin-left: 54px
    @media (max-width: 960px)
      //margin-left: 60px
      width: 56%
    @media (max-width: 860px)
      margin-left: 46px
    @media (max-width: 620px)
      width: 90%
      text-align: center
      padding-top: 20px
      margin: 0
  .icon
    img
      border: 9px solid #43135b
      border-radius: 50%
      width: 203px
      height: 203px
      @media (max-width: 1368px)
        width: 170px
        height: 170px

  .title
    font-size: 18px
    font-weight: 700
    line-height: 1em
  //@media (max-width: 1368px)
      font-size: 30px
  //@media (max-width: 860px)
      font-size: 24px
  .text
    //font-weight: 700
    font-size: 16px
    p
      margin-bottom: 20px
  .more
    background-color: #12c77f
    border-radius: 15px
    color: #ffffff
    padding: 7px 36px
    transition: .3s
    &:hover
      transition: .3s
      color: #351054
    @media (max-width: 1368px)
      padding: 5px 32px
//font-size: 15px
