@import _mixins

.wrap_partners
  header
    position: fixed
    padding-top: 0px
  .slogan
    position: relative
    padding: 340px 0 260px
    color: #ffffff
    vertical-align: middle
    display: table-cell
    width: 100vw
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    @media (max-width: 1300px)
      padding: 280px 0 200px
    @media (max-width: 1200px)
      padding: 220px 0 140px
    @media (max-width: 860px)
      padding: 200px 0 120px
    @media (max-width: 580px)
      padding: 160px 0 80px
    &:before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-color: rgba(41, 17, 62, 0.3)
    h1
      position: relative
      padding: 0 10px
      font-weight: 400
      letter-spacing: 2.2px
      @media (max-width: 1200px)
        font-size: 38px
      @media (max-width: 1024px)
        font-size: 34px
      @media (max-width: 580px)
        font-size: 30px
  .list-partners
    color: #351054
    padding: 30px 0 10px
    @media (max-width: 1100px)
      padding: 52px 0 32px
    @media (max-width: 1024px)
      padding: 42px 0 22px
    ul
      display: flex
      justify-content: center
      flex-wrap: wrap
      @media (max-width: 1360px)
        justify-content: space-around
    .item
      position: relative
      text-align: center
      padding: 30px 55px 60px
      //min-width: 360px
      width: 28.5%
      border: 2px solid #b5b5b5
      background-color: #fdfdfd
      margin: 0 25px 20px
      transition: 0.25s
      &:hover
        transition: 0.25s
        border-color: #351054
      @media (max-width: 1368px)
        padding: 30px 30px 60px
        width: 30%
        margin: 0 5px 20px
      @media (max-width: 1024px)
        padding: 20px 20px 52px
      @media (max-width: 920px)
        margin: 0 10px 20px
        padding: 16px 16px 38px
      @media (max-width: 759px)
        width: 46%
      @media (max-width: 540px)
        width: 90%
      @media (max-width: 420px)
        width: 100%
        margin: 0 0 20px
      h3
        padding-top: 30px
        font-size: 16px
        @media (max-width: 1024px)
          padding-top: 20px
      .icon
        height: 164px
        img
          height: 100%
        @media (max-width: 1100px)
          height: 130px
        @media (max-width: 1024px)
          height: 110px
        @media (max-width: 760px)
          height: 100px
      .text
        margin: 16px 0 28px
        text-align: left
        font-size: 16px
        p
          line-height: 1.1
      .go-partner
        font-size: 16px
        border-radius: 21px
        background-color: #12c77f
        line-height: 42px
        padding: 0
        color: #ffffff
        display: inline-block
        position: absolute
        left: 0
        right: 0
        bottom: 26px
        width: 214px
        margin: auto
        @media (max-width: 1100px)
          width: 180px
        @media (max-width: 920px)
          width: 160px
          bottom: 20px
          line-height: 32px

.with-us
  background-image: linear-gradient(-41deg, #351054 0%, #46236a 100%)
  text-align: center
  color: #FFFFFF
  padding: 72px 0
  position: relative
  z-index: 2
  @media (max-width: 1200px)
    padding: 72px 0 20px
  @media (max-width: 1024px)
    padding: 52px 0 20px
  @media (max-width: 780px)
    padding: 40px 0 20px
  h2
    //font-size: 40px
    font-weight: 700
    //@media (max-width: 1200px)
      font-size: 36px
    //@media (max-width: 1024px)
      font-size: 32px
    @media (max-width: 580px)
      font-size: 28px
  ul
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 86px 130px 0
    @media (max-width: 1200px)
      padding: 72px 100px 0
    @media (max-width: 1024px)
      padding: 44px 60px 0
    @media (max-width: 780px)
      padding: 20px 20px 0
    @media (max-width: 620px)
      padding: 20px 0 0
    //@media (max-width: 640px)
    //	padding: 86px 20px 0
    li
      width: 50%
      //padding: 0 130px
      display: flex
      align-items: center
      margin-bottom: 63px
      //@media (max-width: 1420px)
      //	width: 440px
      @media (max-width: 1200px)
        margin-bottom: 43px
      @media (max-width: 1024px)
        margin-bottom: 23px
      @media (max-width: 780px)
        width: 98%
        margin-bottom: 12px
        p
          margin: 0

  .num
    font-size: 60px
    font-weight: 700
    min-width: 82px
    min-height: 82px
    display: block
    line-height: 75px
    border-radius: 20px
    background-color: #12c77f
  //@media (max-width: 1366px)
      min-width: 100px
      line-height: 100px
  //@media (max-width: 1024px)
      min-width: 80px
      line-height: 80px
      font-size: 48px
  //@media (max-width: 1024px)
      min-width: 65px
      line-height: 65px
      font-size: 38px
  //@media (max-width: 640px)
  //	min-width: 90px
  //	line-height: 90px
  .text
    padding: 0 60px 0 22px
    text-align: left
    @media (max-width: 860px)
      padding: 0 20px 0 22px

.question
  color: #351054
  padding: 128px 22% 188px
  position: relative

  &:before
    content: ''
    position: absolute
    background-image: url(../img/foto-question.png)
    background-repeat: no-repeat
    background-size: 100%
    background-position: 100% 100%
    left: calc(100vw - 36%)
    bottom: 0
    width: 307px
    height: 520px
    z-index: 2
  @media (max-width: 1460px)
    padding: 100px 14%
    &:before
      background-size: 80% !important
  //right: 15%
  @media (max-width: 1200px)
    padding: 80px 6%
    &:before
  //right: 10%
  @media (max-width: 960px)
    padding: 64px 40px
    &:before
      background-size: 70% !important
      left: calc(100vw - 42%)
  @media (max-width: 720px)
    &:before
      left: calc(100vw - 50%)
  @media (max-width: 620px)
    text-align: center
    padding: 40px 0

    &:before
      display: none

  h2
    font-size: 30px
    font-weight: 700
    text-align: left

    //@media (max-width: 1200px)
      font-size: 36px
    //@media (max-width: 1024px)
      font-size: 32px
    @media (max-width: 620px)
      text-align: center
    @media (max-width: 580px)
      font-size: 28px
  .text
    max-width: 560px
    margin-bottom: 68px
    font-size: 16px
    p
      margin-top: 0
      margin-bottom: 0
    //@media (max-width: 1400px)
      margin-bottom: 80px
    //@media (max-width: 1200px)
      margin-bottom: 70px
    @media (max-width: 960px)
      margin-bottom: 60px
      max-width: 360px
    @media (max-width: 620px)
      max-width: 100%
      margin-bottom: 36px
  .phone, .mail
    img
      @media (max-width: 1200px)
        width: 38px
      @media (max-width: 620px)
        width: 30px

    a
      font-size: 18px
      font-weight: 700
      padding-left: 16px
      color: #351054
      //@media (max-width: 1400px)
        font-size: 24px
      //@media (max-width: 960px)
        font-size: 22px
      //@media (max-width: 620px)
        font-size: 20px
  .phone
    margin-bottom: 26px
