.enter-page-wrapper
  p.error
    font-size: 16px
    max-width: 290px
    text-align: center
    margin: 23px auto
    color: #fc3333
  .hide
    display: none
  input.error
    border: 0.5px solid #fc3333!important