section.profile
  color: #000000
  margin-bottom: 60px
  @media (max-width: 767px)
    margin-bottom: 0
  .container
    padding: 0 152px
    @media (max-width: 767px)
      padding: 0 20px
  .profile-cabinet-form
    margin-top: 50px
    @media (max-width: 767px)
      margin-top: 20px
    h3
      font-size: 16px
      font-weight: bold
      color: #000000
      text-align: left
      padding-bottom: 10px
      border-bottom: 1px solid #B6B6B6
    input,
    .custom-combobox-input-big
      margin-top: 20px
    .custom-combobox-input-little
    .form-second-block
      span:first-of-type
        width: 70%
      span:last-of-type
        width: 30%
        margin-left: 22px
    input.readonly,
    input[readonly]
      pointer-events: none;
      color: #B6B6B6
    .btn-primary
      width: 129px
      height: 37px
      padding: 0
      margin: 23px 0 40px
    .custom-combobox-input,
    .form-second-block,
    .custom-combobox-input,
    .custom-combobox
      width: 100%
    &__part-one-wrapper,
    &__part-two-wrapper,
    &__part-three-wrapper,
    &__part-four-wrapper
      max-width: 353px
    &__part-one-wrapper,
    &__part-four-wrapper
      .button-wrapper
        display: flex
        justify-content: space-between
        align-items: center
        .btn-cansel
          background-color: transparent
          color: #b5b5b5
          height: 37px
          margin: 23px 0 40px
          @media (max-width: 767px)
            margin-bottom: 30px
        .btn-primary
          @media (max-width: 767px)
            margin-bottom: 30px
    &__part-two-wrapper
      margin-bottom: 40px
      @media (max-width: 767px)
        margin-bottom: 30px
      .input-btn-wrapper
        position: relative
        .btn-cansel
          position: absolute
          right: -85px
          bottom: 3px
          background-color: transparent
          color: #b5b5b5
          height: 37px
          margin: 0
          display: inline-block
          @media (max-width: 767px)
            // display: none
            right: 0
            padding: 0
        .button-wrapper
          display: flex
        // .cancel-mobile
        //   position: static
        //   display: none
        //   padding: 0
        //   @media (max-width: 767px)
        //     display: block
      .input-btn-wrapper:last-of-type
        .btn-cansel
          right: -108px
          @media (max-width: 767px)
            right: 0
            padding: 0
    &__input-button-wrapper
      position: relative
      .built-in
        position: absolute
        margin: 0
        bottom: 1px
        right: 0.6px
        height: 39px
        border-radius: 0 5px 5px 0
        @media (max-width: 767px)
          position: static
          border-radius: 10px
          width: 129px
          height: 37px
      .button-wrapper
        @media (max-width: 767px)
          display: flex
          justify-content: space-between
          align-items: center
          margin-top: 15px
      input
        padding-right: 137px!important
        @media (max-width: 767px)
          padding-right: 10px!important
      .show-tooltip
        height: 12px
        width: 12px
        background-color: #F6F6F6
        color: #b5b5b5
        border-radius: 50%
        font-size: 9px
        display: flex
        justify-content: center
        align-items: center
        margin-left: 10px
        line-height: 12px
      .ok,
      .notok
        position: absolute
        right: -27px
        top: 32px
        @media (max-width: 767px)
          right: 10px
      .ok
        display: block
      .notok
        display: none
      &.not-filled
        .built-in
          background-color: #B5B5B5
        .ok
          display: none
        .notok
          display: block
    &__input-button-wrapper-2
      input
        @media (max-width: 767px)
          width: 90%!important
        @media (max-width: 380px)
          width: 85%!important
    &__email-wrapper
      font-size: 16px
      display: flex
      align-items: center
      @media (max-width: 767px)
        flex-direction: column
      .btn-primary
        @media (max-width: 767px)
          margin-bottom: 30px
      .btn-unsubscribe
        background-color: #FC3333
      span
        margin: 23px 0 40px
        margin-right: 15px
        @media (max-width: 767px)
          margin: 20px 0 0 0
// modals
.pass-phone-sent
  .modal-content
    p.error
      color: red
    .hide
      display: none!important
    .mobile-done
      margin-top: 20px
    .passwordDonePhone
      margin-top: 30px
      // margin-bottom: 38px
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      @media (max-width: 767px)
        flex-direction: column
      input
        width: auto
        margin: 0
        background-color: #fff!important
        @media (max-width: 767px)
          margin-bottom: 40px
      .btn-primary
        width: 177px
        height: 41px
      .custom-combobox-input
        width: 170px
        margin-bottom: 10px
      .phone-send-again
        margin: 0
        height: 0
        width: auto
        text-align: left
        transform: none
        color: #b6b6b6
        font-size: 14px
        white-space: nowrap
        // @media (max-width: 767px)
        //   left: 50%
        //   transform: translateX(-50%)
      ::-webkit-input-placeholder
        text-align: center
      :-moz-placeholder
        text-align: center
      ::-moz-placeholder
        text-align: center
      :-ms-input-placeholder
        text-align: center
      .passwordDonePhone__input-wrapper
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
      .phone-send-again-countdown
        left: 0!important
        width: 183px
        display: inline-block
        white-space: normal
        text-align: center
        margin-bottom: 28px
        // @media (max-width: 767px)
        //   left: 50%!important
        //   transform: translateX(-50%)