@import _mixins

.main-rewievs
	padding-bottom: 67px
	h2
		padding: 59px 0 59px 0


.reviews-list, .slider-list
	.container
		overflow: visible
		color: #320d51
	li
		padding-left: 0
		//position: relative
		.star-rating
			position: absolute
			right: 0
			top: 0

		@media (max-width: 1368px)
			//padding-left: 0
		@media (max-width: 580px)
			//padding-left: 0
		&:before
			position: absolute
			top: 0
			left: 0
			content: '\f10e'
			font-family: "FontAwesome"
			color: #8a8a8a
			font-size: 56px
			line-height: 1em
			@media (max-width: 1368px)
				font-size: 46px
			@media (max-width: 580px)
				display: none
		.name
			font-weight: 700
			padding-bottom: 13px
			text-align: right
			padding-top: 8px
			@media (max-width: 1368px)
				padding-bottom: 8px
		.type
			padding-bottom: 24px
			text-align: right
			@media (max-width: 1368px)
				padding-bottom: 16px
				font-size: 15px
		.text
			padding-top: 120px
			line-height: 1.2em
			text-align: left
			@media (max-width: 1368px)
				font-size: 15px
		.br-widget
			padding-left: 30px
			a
				font-size: 22px
				margin-right: 8px
			a.br-selected:after, a.br-active:after
				color: #ffd700

	.owl-carousel
		margin-bottom: 100px
		width: 80%
		margin: 0 auto
		@media (max-width: 1600px)
			padding: 0 60px
		@media (max-width: 1460px)
			//margin-bottom: 60px
			//padding: 0 100px
		@media (max-width: 580px)
			padding: 0 16px
		.owl-nav
			margin: 0

			.owl-prev, .owl-next
				position: absolute
				top: 50%
				transform: translateY(-50%)
				background: none
				color: #bebebe
				font-size: 70px
				padding: 0
				margin: 0
				line-height: 1em
			.owl-prev
				left: -100px
				@media (max-width: 1600px)
					left: -36px
				@media (max-width: 1460px)
					left: 20px
				@media (max-width: 580px)
					top: 100%
					transform: none
			.owl-next
				right: -100px
				@media (max-width: 1600px)
					right: -36px
				@media (max-width: 1460px)
					right: 20px
				@media (max-width: 580px)
					top: 100%
					transform: none
