@import _mixins

.reviews
  color: #351054
  .content-wrapper
    display: flex
    justify-content: space-between
    .big-left-part-wrapper
      max-width: 399px
      margin: 50px 0 0 152px
      @media (max-width: 991px)
        margin: 50px 0 0 0
      @media (max-width: 767px)
        max-width: 100%
        width: 100%
  .search
    position: relative
    form
      margin: 0
    input
      width: 100%
      padding-left: 40px
      margin: 0
      position: relative
    #button-search
      position: absolute
      bottom: 0
      left: 0
      width: 40px
      height: 40px
      background: none
      border: none
      z-index: 10
      cursor: pointer
      padding: 0
    svg
      fill: #7f7f7f
      width: 24px
      height: 17px
      position: absolute
      bottom: 2px
      left: 0
      margin: 9px
  .reviews-wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 23px 0 136px 0
    .none-result
      width: 399px
      text-align: center
      margin-top: 67px
      p
        font-size: 18px
        color: #b5b5b5
        margin: 0
      @media (max-width: 767px)
        width: 100%
    ul
      max-height: 887px
      overflow-y: auto
      @media (max-width: 767px)
        width: 100%
    .item
      border-radius: 10px
      border: 1px solid #B5B5B5
      padding: 18px 12px
      margin-bottom: 8px
      transition: .25s
      cursor: pointer
      width: 399px
      min-height: 119px
      @media (max-width: 767px)
        width: 100%
      &:hover
        transition: .25s
        border-color: #291953
      .number,
      .type,
      .subject
        span
          font-size: 16px
          color: #000000
        span:first-of-type
          font-weight: bold
      .number,
      .type
        margin-bottom: 9px
      .number
        span:first-of-type
          margin-right: 12px
      .type,
      .subject
        span:first-of-type
          display: inline-block
          min-width: 88px
    .active
      transition: .25s
      border-color: #291953
      background-color: #40297b54
  .big-right-part-wrapper
    width: 100%
    margin: 110px 152px 0 60px
    @media (max-width: 991px)
      margin: 110px 0 0 60px
    @media (max-width: 767px)
      display: none
  .star-block
    text-align: center
    .star-rating
      margin-top: 15px
      margin-bottom: 28px
      .br-widget
        a
          font-size: 39px
        a.br-selected:after, a.br-active:after
          color: #ffd700
    ul
      display: flex
      font-size: 16px
      flex-wrap: wrap
      .first-part-wrapper,
      .second-part-wrapper
        display: flex
        justify-content: space-between
        width: 100%
        margin-bottom: 20px
        @media (max-width: 1368px)
          flex-direction: column
          margin-bottom: 0
        @media (max-width: 991px)
          flex-direction: row
          margin-bottom: 20px
        @media (max-width: 900px)
          flex-direction: column
          margin-bottom: 0
  .message
    textarea
      height: 119px
      max-height: 300px
      width: 100%
      border-radius: 10px
      border: 1px solid #B5B5B5
      padding: 10px
      resize: none
  .submit
    margin-top: 20px
  .small-screens-rating-wrapper
    display: none
    margin: 15px 0 30px
  .error
    text-align: left
    color: red
    margin-top: 15px
    margin-bottom: 15px
  .hide
    display: none
.nicescroll-styles-small-screen-reviews
  margin-left: -10px!important
.reviewDoneModal
  .modal-content
    width: 490px
    @media (max-width: 767px)
      width: 90%
    h3
      font-size: 24px
    p
      font-size: 24px
      line-height: 1.2
      font-weight: normal
      padding: 0 45px
      @media (max-width: 575px)
        padding: 0 20px
    .facebook-icon
      display: inline-block
      margin: 40px auto 0px 50%
      transform: translateX(-50%)
      svg
        float: none!important
      