@import _mixins

.services
	.container

		.list_services
			display: flex
			flex-flow: wrap
			justify-content: center
			margin-bottom: 30px
			li
				display: flex
				align-items: center
				justify-content: space-around
				width: 23%
				min-width: 310px
				background-color: #351054
				border-radius: 10px
				padding: 10px 10px
				margin: 10px
				text-align: center
				flex-wrap: nowrap
				@media (max-width: 1368px)
					padding: 6px 10px
					font-size: 16px

				@media (max-width: 910px)
					width: 31%
					margin: 5px
				@media (max-width: 819px)
					width: 45%
				@media (max-width: 580px)
					width: 310px
				.icon
					border-radius: 50%
					min-width: 67px
					height: 67px
					width: 67px
					@media (max-width: 1368px)
						min-width: 62px
						width: 62px
						height: 62px
					img
						height: 100%
				.block-info
					width: 70%
				//.desc
                //
				//	h4
				//		padding-bottom: 6px
				a
					display: inline-block
					color: $color
					border-radius: 17px
					background-color: #12c77f
					padding: 2px 14px
					transition: .3s
					&:hover
						transition: .3s
						color: #351054
					@media (max-width: 1368px)
						font-size: 16px
				.price
					text-align: center
					line-height: 20px
					> *
						display: inline-block
						padding-bottom: 2px
					.old
						font-size: 14px
						color: #656565
						position: relative
						display: inline-block
						width: auto
						&:before
							position: absolute
							content: ''
							top: 8px
							width: 100%
							height: 2px
							background-color: #c42244
							-webkit-transform: rotate(-12deg)
							-ms-transform: rotate(-12deg)
							transform: rotate(-12deg)
					.new
						padding-left: 12px

		.discounts
			display: flex
			flex-flow: wrap
			justify-content: center
			//padding: 0 180px
			margin-bottom: 60px
			font-size: 20px
			li
				display: flex
				align-items: center
				justify-content: space-around
				border-radius: 10px
				//background-color: #12c77f
				padding: 18px 28px 18px 40px
				width: 23%
				min-width: 310px
				margin: 10px
				position: relative
				cursor: pointer
				transition: .3s
				&:hover
					transition: .3s
					color: #351054
				&:nth-child(3n+1)
					background-color: #12c77f
				&:nth-child(3n+2)
					background-color: #ddb382
				&:nth-child(3n+3)
					background-color: #e55555
				@media (max-width: 1368px)
					padding: 10px 26px 10px 26px
				@media (max-width: 1079px)
					width: 30%
				@media (max-width: 819px)
					width: 45%
				@media (max-width: 580px)
					width: 310px
				.size
					font-size: 40px
					font-weight: 700
					line-height: 1em
					position: relative
					@media (max-width: 1368px)
						//font-size: 40px
					@media (max-width: 1200px)
						font-size: 38px
					@media (max-width: 920px)
						font-size: 32px
					span
						font-size: 12px
						font-weight: 400
						position: absolute
						top: -10px
						left: 2px
				.desc
					font-size: 20px
					line-height: 1em
					padding-left: 36px
					@media (max-width: 1368px)
						font-size: 18px
						padding-left: 26px
					@media (max-width: 1200px)
						padding-left: 12px
				.to
					position: absolute
					top: -10px
					left: 2px
					font-size: 12px

.done
	background-image: url("../img/bg/bg-done.png")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	position: relative
	&:before
		background-color: rgba(53, 16, 84, 0.65)
		content: ''
		display: block
		position: absolute
		height: 100%
		width: 100%
	.container
		position: relative
		z-index: 1
		ul
			display: flex
			//align-items: baseline
			flex-wrap: wrap
			justify-content: space-around
			padding: 64px 104px 40px
			@media (max-width: 1368px)
				padding: 44px 104px 20px
				justify-content: center
			@media (max-width: 940px)
				padding: 64px 40px 40px
			@media (max-width: 780px)
				padding: 44px 0px 20px
			@media (max-width: 580px)
				flex-direction: column
				align-items: center
			li
				width:  30%
				text-align: center
				padding-bottom: 20px
				display: flex
				flex-wrap: wrap
				justify-content: center
				margin: 0 10px
				@media (max-width: 580px)
					width: 100%
		.title
			font-size: 24px
			padding-bottom: 23px
			width: 100%
			@media (max-width: 1368px)
				font-size: 22px
			@media (max-width: 780px)
				font-size: 22px
			@media (max-width: 620px)
				font-size: 18px
		.sum
			width: 179px
			height: 179px
			border-radius: 50%
			background-color: #ffffff
			font-size: 47px
			font-weight: 700
			color: #320d51
			line-height: 179px
			align-self: flex-end
			@media (max-width: 1368px)
				width: 144px
				height: 144px
				line-height: 144px
				font-size: 36px
			@media (max-width: 940px)
				width: 136px
				height: 136px
				font-size: 34px
				line-height: 140px
			@media (max-width: 780px)
				width: 120px
				height: 120px
				font-size: 32px
				line-height: 120px
			@media (max-width: 620px)
				width: 100px
				height: 100px
				font-size: 22px
				line-height: 100px
			@media (max-width: 420px)
				width: 80px
				height: 80px
				line-height: 80px
