@import _mixins


.stages
	text-align: center
	overflow: hidden
	h2
		padding-top: 60px
		padding-bottom: 27px
		color: #ffffff
	h4
		padding-bottom: 35px
		font-weight: 700
		font-size: 16px
		@media (max-width: 1368px)
			padding-bottom: 70px
		@media (max-width: 1100px)
			padding-bottom: 60px
		@media (max-width: 860px)
			padding-bottom: 40px
			font-size: 20px
	.circle-list
		li:first-of-type

		// 	.circle
		// 		margin-left: -30px
		li:nth-of-type(2)
			//margin-left: -200px
		// 	.circle
		// 		margin-left: -80px
		li:nth-of-type(3)
			//margin-left: -200px
		// 	.circle
		// 		margin-left: -120px
		li:nth-of-type(4)

		// 	.circle
		// 		margin-left: -130px
		li:last-of-type

		// 	.circle
		// 		margin-left: -200px


	.list_stages
		display: flex
		flex-flow: wrap
		justify-content: space-around
		text-align: start
		li
			width: 17%
			margin: 0 10px
			@media (max-width: 1100px)
				width: 16%
			@media (max-width: 920px)
				width: 24%
			@media (max-width: 680px)
				width: 40%
			@media (max-width: 480px)
				width: 95%
			.number
				font-size: 120px
				line-height: 1em
				//float: left
				@media (max-width: 1368px)
					font-size: 90px
				@media (max-width: 920px)
					font-size: 80px
				@media (max-width: 620px)
					font-size: 70px
			.title
				font-size: 16px
				margin-left: 10px
				text-align: left
				//padding: 12px 0 0 70px
				@media (max-width: 1368px)
					//padding: 8px 0 0 60px
					font-size: 16px
				@media (max-width: 1100px)
					//padding: 12px 0 0 56px
				@media (max-width: 620px)
					//padding: 0 0 0 56px
			.desc
				clear: both
				padding: 20px 0 80px
				text-align: left
				font-size: 16px
				line-height: normal
				@media (max-width: 1368px)
					padding: 50px 0 60px
					font-size: 16px
				@media (max-width: 1100px)
					padding: 30px 0 40px
	.text
		max-width: 600px
		margin: auto
		p
			margin: 0
	.price-b
		margin: 40px auto 90px
		box-shadow: 2px 3px 21px rgba(0, 0, 0, 0.3)
		display: block
		font-size: 24px

	.stages-block__card-header
		display: flex
		align-items: center

