@import _mixins

.stub

	height: 100vh
	.container
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		h2
			padding-top: 0
		.text
			padding: 30px 0
		.social
			ul
				padding-bottom: 0
