@import _mixins

.work-type-review
  background-color: #f5f5f5
  padding-top: 66px
  padding-bottom: 69px
  .owl-carousel
    width: 80%
    margin: 0 auto
  ul
    margin-bottom: 0
    li::before
      left: 0
      top: 0
    li
      padding-left: 0
      .star-rating
        position: absolute
        right: 0
        top: 0px
        .name
          text-align: right
          padding-top: 8px
          padding-bottom: 13px
        .type
          text-align: right
        .br-widget
          padding-left: 30px
          a
            font-size: 22px
            margin-right: 8px
          a.br-selected:after, a.br-active:after
            color: #ffd700
      .text
        text-align: left
        padding-top: 120px
