@import _mixins

.work-type
  display: flex
  padding-top: 70px
  justify-content: space-between
  color: $font-color
  position: relative
  @media (max-width: 760px)
    flex-direction: column
  .work-type__left-part
    //max-width: 880px
    max-width: 75%
    @media (max-width: 1368px)
      max-width: 58%
    @media (max-width: 760px)
      max-width: 100%
    h1
      color: $font-color
      margin-top: 23px
      font-size: 24px
      text-align: left
    p
      font-size: 16px
    p:first-of-type
      margin-top: 5px
      margin-bottom: 0
    .work-type__1-haract
      margin-top: 55px
      margin-bottom: 10px
    .work-type__2-haract,
    .work-type__3-haract,
    .work-type__4-haract
      margin-bottom: 10px
      margin-top: 0

    .work-type__1-2-haract,
    .work-type__2-2-haract,
    .work-type__3-2-haract,
    .work-type__4-2-haract
      font-weight: bold
      font-size: 18px
      margin-bottom: 20px

    .work-type__m-top
      margin-top: 0px

    span.work-type__old-price,
    span.work-type__first-span,
    span.work-type__last-price-span
      font-weight: bold
      font-size: 18px
    span.work-type__last-price-span-from
      font-weight: normal
    span.work-type__first-span
      color: #9c9c9c
      position: relative
      font-weight: normal
      &:last-of-type
        margin-right: 23px
    .work-type__old-price
      position: relative
    .work-type__old-price:before
      border-bottom: 2px solid #ec4f4f
      position: absolute
      content: ""
      width: 100%
      height: 40%
      transform: rotate(-15deg)
      left: -3px
    .work-type__img
      border: 2px solid #9e9e9e
      border-radius: 50%
  form
    max-width: 880px
    margin-bottom: 100px
    @media (max-width: 1368px)
      margin-bottom: 0
    a
      color: #888888
      font-size: 17px
    .work-type__checkbox
      float: right
      margin-top: 13px
      position: relative
      margin-right: 45px
      @media (max-width: 1368px)
        float: left
        margin-left: 30px
        margin-bottom: 40px
      input[type="checkbox"]
        display: none
        + .checkbox-custom
          content: ''
          display: inline-block
          width: 22px
          height: 21px
          position: absolute
          left: -30px
          bottom: 0
          border: 1px solid #d6d6d6
          border-radius: 10px
        &:checked + .checkbox-custom
          &:before
            font-family: FontAwesome
            content: "\f00c"
            font-weight: normal
            font-size: 16px
            margin-left: 2px
    input
      &[type=text],
      &[type=submit]
        border-style: none
        //height: 52px
        width: 283px
        padding: 15px 70px 15px 12px
        border-radius: 10px
        border: 2px solid #d6d6d6
        vertical-align: center
        font-size: 18px
        appearance: none
        margin-right: 8px
        @media (max-width: 1368px)
          margin-bottom: 20px
        ::-moz-placeholder
          color: #414141
        ::-webkit-input-placeholder
          color: #414141
      &[type=submit]
        padding: 17px 68px 17px 68px
        background-color: #12c77f
        color: #ffffff
        border: none
        cursor: pointer
        margin-right: 0
  .work-type__description
    margin-bottom: 66px
    padding-right: 20px
    ul
      padding-left: 20px!important
      li
        list-style: disc

  .work-type__right-part
    z-index: 2
    background-color: #fff
    position: fixed
    top: 0
    height: 50%
    //bottom: 0
    right: 5%
    min-width: 308px
    border-left: 1px solid #b3b3b3
    border-bottom: 1px solid #b3b3b3
    border-right: 1px solid #b3b3b3
    margin-top: 60px
    margin-bottom: 0
    ul
        background-color: #fff
    @media (max-width: 1368px)
      margin-top: 58px
    &::-webkit-scrollbar
      display: none
    @media (max-width: 760px)
      position: absolute
      right: 0
    @media (max-width: 760px)
      border-top: 1px solid #b3b3b3
      margin-bottom: 20px
      max-height: 500px
      position: static
    li
      //margin-left: -30px
      a
        display: block
        color: $font-color
        font-size: 16px
        padding-left: 18px
        padding-bottom: 10px
        padding-top: 10px
        transition: all 0.2s ease
      &:hover
        background-color: $font-color
        a
          color: #ffffff
  .work-type__img
    position: absolute
    left: 408px
    top: 120px
    height: 177px
    width: auto
    @media (max-width: 933px)
      left: 300px
      height: 130px
    @media (max-width: 790px)
      left: 250px
    @media (max-width: 760px)
      left: 300px
      height: 177px
    @media (max-width: 522px)
      left: 250px
      height: 100px
      top: 200px
    @media (max-width: 350px)
      left: 200px
