section.enter-page-wrapper
  .container
    h1 Вход в Личный кабинет
    p Ваш Email уже зарегистрирован. Войдите в свой аккаунт
    form.enter-page-form.new-form-style
      input(type="text" placeholder="Ваш Email или номер телефона" required).custom-combobox-input.backgraundNone
      label.error.hide Текст ошибки
      input(type="password" placeholder="Пароль" required).custom-combobox-input.backgraundNone
      label.error.hide Текст ошибки
      .forgot-submit-wrapper
        a(href="#") Восстановить пароль
        button(type="submit").btn-primary Вход
