.container
  h1 Сделать заказ
  form()#online-order-form.new-form-style
    #tabs
      .tabs-headers
        .tab.active-tab 1
          span Информация о работе
        .tab 2
          span Контактные данные
        .tab 3
          span Готово!
      .tabContent-1.tabContent
        h4  Чтобы подобрать лучшего специалиста для выполнения Вашего задания, дополните информацию:
        .form-first
            select.form-first-item.combobox1#typeOfWork(name="typeOfWork")
              option
              option(value="Реферат") Реферат
              option(value="Курсовая работа") Курсовая работа
              option(value="Лабораторная") Лабораторная
              option(value="Диплом") Диплом
            select#combobox2.form-first-item
              option
              option(value="Информатика") Информатика
              option(value="Геометрия") Геометрия
              option(value="Тригонометрия") Тригонометрия
              option(value="Высшая математика") Высшая математика
            #part-type-form
              input(type="text" class="form-first-item backgraundNone" placeholder="Количество заданий*" name="quantity").error
              label.error error
              input(type="text" class="form-first-item" placeholder="Дата сдачи*" readonly="true" name="datepicker" id="timepicker-actions-without-time")
              //- #custom-cells-events f
              .form-second-list.time-chose
                .error-wrapper
                  input(type="time" class="form-first-item form-second-item" id="time" placeholder="Время начала*" name="startTime" required="required").error
                  label.error error
                .error-wrapper
                  input(type="time" class="form-first-item form-second-item" id="time2" placeholder="Время окончания*" name="stopTime" required="required").error
                  label.error error
            //- added wrapper
            textarea(type="text" rows="1" class="form-first-item" id="textArea" placeholder="Требования/Комментарий")
            .button_add
              label(for="file")
                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M8.83248 8.47441C9.09295 8.21395 9.09295 7.79069 8.83248 7.53023C8.57202 7.26976 8.14876 7.26976 7.8883 7.53023L4.35574 11.0628C3.75341 11.6651 3.42783 12.4465 3.42783 13.293C3.42783 14.1395 3.75341 14.9209 4.35574 15.5232C5.59295 16.7605 7.59527 16.7605 8.8162 15.5232L16.7929 7.54651C17.6232 6.71627 18.079 5.6093 18.079 4.4372C18.079 3.26511 17.6232 2.15813 16.7929 1.3279C15.0674 -0.397681 12.2836 -0.397681 10.5581 1.3279L2.5976 9.28837C1.52318 10.3628 0.937134 11.7791 0.937134 13.293C0.937134 14.807 1.52318 16.2395 2.5976 17.2977C3.67202 18.3721 5.0883 18.9581 6.60225 18.9581C8.1162 18.9581 9.54876 18.3721 10.6069 17.2977L14.1395 13.7651C14.3999 13.5046 14.3999 13.0814 14.1395 12.8209C13.879 12.5605 13.4557 12.5605 13.1953 12.8209L9.66271 16.3535C8.84876 17.1674 7.75806 17.6233 6.60225 17.6233C5.44644 17.6233 4.35574 17.1674 3.54178 16.3535C2.72783 15.5395 2.27202 14.4488 2.27202 13.293C2.27202 12.1372 2.72783 11.0465 3.54178 10.2326L11.5022 2.27209C12.0883 1.68604 12.8534 1.37674 13.6674 1.37674C14.4813 1.37674 15.2627 1.70232 15.8325 2.27209C16.4185 2.85813 16.7278 3.62325 16.7278 4.4372C16.7278 5.25116 16.4022 6.03255 15.8325 6.60232L7.85574 14.5791C7.15574 15.2791 5.99992 15.2791 5.28365 14.5791C4.94178 14.2372 4.74644 13.7814 4.74644 13.293C4.74644 12.8046 4.94178 12.3488 5.28365 12.007L8.83248 8.47441Z" fill="#40297B")
                #add_cont(type="file") Прикрепить документ<br>(методичка, требования, условие и т.д)
            input(type="file" multiple class="disNone" id="file")
            .files-inputed
            input(type="text" class="form-first-item" placeholder="Промокод")
        .button_next#button_next
          p Далее
      .tabContent-2.tabContent
        //-.hide upper class
        h4 Получите Email с подтверждением заказа
        .form-second
            input(type="text" class="form-second-item" placeholder="Ваше имя*" name="name")
            input(type="email" class="form-second-item" placeholder="Email*" name="email")
            input(type="tel" class="form-second-item" placeholder="Телефон" id="phone" name="phone")
            select#combobox3.form-first-item
              option(value="")
              option(value="КПИ") КПИ
              option(value="Могилянка") Могилянка
              option(value="НУХТ") НУХТ
            .form-second-block
              select#combobox4.form-second-item.form-second-item-big
                option(value="")
                option(value="Економический") Економический
                option(value="Механический") Механический
                option(value="ФЕиТ") ФЕиТ
              select#combobox5.form-second-item.form-second-item-little
                option(value="")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
        button.button_add_order Сделать заказ
      .tabContent-3.tabContent
        //-.hide upper class
        .tab_content_slogan
          h4 Готово! Вы успешно оформили заказ.
          p Специалист уже оценивает Вашу работу. Вскоре вы получите от нас ответ в личном кабинете.
        .tab_content_info
          .tab_content_info_item
            .tab_content_info_item_list.numberOfOrder
              p Номер заказа:
              p 7634762347
            .tab_content_info_item_list.typeOfWork
              p Тип работы:
              p Реферат
            .tab_content_info_item_list.subject
              p Предмет:
              p Маркетинг
            //- .tab_content_info_item_list.theme
            //-   p Тема:
            //-   p Диаграмма Ганта
            .tab_content_info_item_list.quantity
              p Кол-во заданий:
              p 20
            .tab_content_info_item_list.date
              p Дата сдачи:
              p 10.10.2018
            .tab_content_info_item_list.startTime
              p Время начала:
              p 11:00
            .tab_content_info_item_list.stopTime
              p Время окончания:
              p 14:05
            .tab_content_info_item_list.uploadedDocument
              p Документы:
              p Методичка.док
          .tab_content_info_item
            .tab_content_info_item_list.name
              p Ваше Имя:
              p Михаил
            .tab_content_info_item_list.email
              p Email:
              p shjdfjsdh@mail.ru
            .tab_content_info_item_list.phone
              p Телефон:
              p 38 (063) 1166534
            .tab_content_info_item_list.university
              p ВУЗ:
              p КПИ
            .tab_content_info_item_list.fuckultet
              p Факультет:
              p ФММ
            .tab_content_info_item_list.course
              p Курс:
              p 3
        .tab_content_commit
          p Требования/Комментарий:
          p Continually disintermediate extensive applications after emerging ideas. Efficiently seize optimal supply chains after flexible e-tailers. Collaboratively cultivate bleeding-edge information with seamless results. Collaboratively harness.Continually disintermediate extensive applications after emerging ideas. Efficiently seize optimal supply chains after flexible e-tailers. Collaboratively cultivate bleeding-edge information with seamless results. Collaboratively harness.
          .show-more-wrapper
            span ...
            span.show-more Показать еще
        .tab_button
          a(href="#").first_but Управление заказами
          a(href="#").second_but Задать вопрос?
        .tab_support
          p Многофункциональный личный кабинет для Вашего удобства
          .tab_support_list
            .tab_support_user
              a(href="#")
                .logo_support
                  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="63" height="63" viewBox="0 0 63 63" version="1.1")
                    path(d="M39.604 12.3727C39.604 10.5844 38.1495 9.12891 36.3618 9.12891C34.5746 9.12891 33.1201 10.5844 33.1201 12.3727C33.1201 14.1616 34.5746 15.6171 36.3618 15.6171C38.1495 15.6171 39.604 14.1616 39.604 12.3727ZM34.961 12.3727C34.961 11.5999 35.5895 10.971 36.3618 10.971C37.1346 10.971 37.7631 11.5999 37.7631 12.3727C37.7631 13.146 37.1346 13.7749 36.3618 13.7749C35.5895 13.7749 34.961 13.146 34.961 12.3727Z" fill="#40297B")
                    path(d="M62.044 18.9862C63.0958 17.9337 63.0958 16.2211 62.044 15.1686L59.357 12.4798C58.3052 11.4273 56.5937 11.4273 55.5419 12.4798L51.666 16.3578V11.8202C51.666 11.3112 51.2537 10.8991 50.7456 10.8991C50.2369 10.8991 49.8251 11.3112 49.8251 11.8202V18.2004L43.1366 24.8934V7.42838C43.1366 6.91989 42.7243 6.50733 42.2161 6.50733H27.4891C26.9804 6.50733 26.5686 6.91989 26.5686 7.42838C26.5686 7.93736 26.9804 8.34944 27.4891 8.34944H41.2957V16.0964L35.6542 21.0038L30.3487 16.9411C29.842 15.3854 28.9752 13.9228 27.7417 12.6885C26.0466 10.9927 23.8807 9.93681 21.5364 9.63699V8.34944H23.5614C24.07 8.34944 24.4818 7.93736 24.4818 7.42838C24.4818 6.91989 24.07 6.50733 23.5614 6.50733H20.616C20.1078 6.50733 19.6955 6.91989 19.6955 7.42838V9.55688C17.2017 9.65906 14.8618 10.607 13.007 12.2634V1.84211H49.8246V7.85965C49.8246 8.36863 50.2369 8.7807 50.7451 8.7807C51.2537 8.7807 51.6655 8.36863 51.6655 7.85965V0.921053C51.6655 0.412075 51.2537 0 50.7451 0H12.0865C11.5784 0 11.1661 0.412075 11.1661 0.921053V14.3962C8.83192 17.9591 8.83192 22.6147 11.1661 26.1771V26.4913L0.806824 36.8579C-0.268941 37.9339 -0.268941 39.6863 0.806824 40.7647C1.34519 41.3034 2.0523 41.573 2.75989 41.573C3.467 41.573 4.17458 41.3034 4.71295 40.7647L11.1666 34.3063V51.0263C11.1666 51.5353 11.5784 51.9474 12.087 51.9474C12.5952 51.9474 13.0075 51.5353 13.0075 51.0263V32.4642L15.4955 29.974C16.9284 30.6629 18.51 31.028 20.1486 31.028C23.0201 31.028 25.7167 29.9117 27.7417 27.8849C28.1693 27.4574 28.5505 27.0017 28.8904 26.5249H41.5057L35.3109 32.7242H17.5483C17.0397 32.7242 16.6279 33.1363 16.6279 33.6453C16.6279 34.1543 17.0397 34.5663 17.5483 34.5663H33.47L31.2202 36.8176H17.5483C17.0397 36.8176 16.6279 37.2297 16.6279 37.7387C16.6279 38.2472 17.0397 38.6597 17.5483 38.6597H29.3793L27.13 40.9106H17.5483C17.0397 40.9106 16.6279 41.3226 16.6279 41.8316C16.6279 42.3406 17.0397 42.7527 17.5483 42.7527H25.2891L23.0384 45.0049H17.5483C17.0397 45.0049 16.6279 45.417 16.6279 45.926C16.6279 46.435 17.0397 46.847 17.5483 46.847H21.1975L20.301 47.7441C19.882 48.1634 19.7607 48.7688 19.9343 49.2974C18.7971 50.0549 17.276 51.8337 16.8211 55.9918C16.7693 56.4668 16.9352 56.9354 17.276 57.2765C17.5761 57.5768 17.9745 57.7418 18.3892 57.7418C18.4462 57.7418 18.5033 57.7385 18.5603 57.7322C22.7162 57.278 24.4938 55.7558 25.2503 54.6175C25.4051 54.6683 25.5662 54.6952 25.7278 54.6952C26.117 54.6952 26.5068 54.5469 26.8031 54.2505L38.2928 42.7527H44.5474C45.0561 42.7527 45.4679 42.3406 45.4679 41.8316C45.4679 41.3231 45.0561 40.9106 44.5474 40.9106H40.1336L42.3834 38.6597H44.5474C45.0561 38.6597 45.4679 38.2472 45.4679 37.7387C45.4679 37.2297 45.0561 36.8176 44.5474 36.8176H44.2243L49.8246 31.2131V48.0789H43.7387C42.3916 48.0789 41.2952 49.176 41.2952 50.524V56.0724C41.2952 57.4209 42.3916 58.5175 43.7387 58.5175H49.8246V61.0351H13.007V55.0789C13.007 54.57 12.5952 54.1579 12.0865 54.1579C11.5784 54.1579 11.1661 54.57 11.1661 55.0789V61.9561C11.1661 62.4651 11.5784 62.8772 12.0865 62.8772H50.7451C51.2537 62.8772 51.6655 62.4651 51.6655 61.9561V58.5175H58.3651C59.7127 58.5175 60.8086 57.4204 60.8086 56.0724V50.524C60.8086 49.1756 59.7127 48.0789 58.3651 48.0789H51.6655V29.371L62.044 18.9862ZM43.1366 56.0724V50.524C43.1366 50.1916 43.407 49.921 43.7392 49.921H47.8716V56.6754H43.7392C43.407 56.6754 43.1366 56.4049 43.1366 56.0724ZM49.7125 49.921H51.5533V56.6754H49.7125V49.921ZM58.9682 50.524V56.0724C58.9682 56.4049 58.6978 56.6754 58.3656 56.6754H53.3942V49.921H58.3656C58.6978 49.921 58.9682 50.1916 58.9682 50.524ZM28.328 50.1192L24.4291 46.2181L50.8803 19.7494L54.7787 23.6504L28.328 50.1192ZM25.7278 52.7211L21.8288 48.8201L23.1275 47.5206L27.026 51.4221L25.7278 52.7211ZM53.4805 17.1474L57.379 21.0484L56.0808 22.348L52.1823 18.447L53.4805 17.1474ZM56.8435 13.7822C57.1776 13.4478 57.7213 13.4483 58.0549 13.7822L60.7419 16.471C61.0761 16.8054 61.0761 17.3494 60.7419 17.6832L58.681 19.746L54.7826 15.845L56.8435 13.7822ZM41.2957 18.5371V24.6828H40.4587L37.1465 22.1465L41.2957 18.5371ZM3.41091 39.4623C3.23689 39.6364 3.00582 39.7324 2.75989 39.7324C2.51348 39.7324 2.28241 39.6364 2.10887 39.4628C1.75028 39.1035 1.7498 38.5187 2.10839 38.1604L12.4681 27.7937C12.4974 27.8239 12.5252 27.8551 12.5549 27.8853C12.9653 28.2955 13.4039 28.6663 13.8651 29.0002L3.41091 39.4623ZM20.1486 29.1859C17.7688 29.1859 15.5344 28.2614 13.857 26.5824C10.3876 23.1112 10.3876 17.4626 13.857 13.9914C15.5344 12.3124 17.7688 11.388 20.1486 11.388C22.5283 11.388 24.7627 12.3124 26.4402 13.9914C29.9091 17.4626 29.9091 23.1112 26.4402 26.5824C24.7627 28.2614 22.5283 29.1859 20.1486 29.1859ZM29.945 24.6828C30.6555 23.092 30.9613 21.3636 30.8611 19.6534L37.4289 24.6828H29.945ZM18.6514 56.1924C18.6514 56.1919 18.6514 56.1919 18.6514 56.1919V56.1924ZM18.6902 55.8623C19.1548 52.2414 20.4765 51.08 21.126 50.7217L21.826 51.4221L20.7435 52.5053C20.3839 52.8651 20.3839 53.4484 20.7435 53.8077C20.9233 53.9876 21.1586 54.0778 21.394 54.0778C21.6299 54.0778 21.8653 53.9876 22.045 53.8077L23.1275 52.7245L23.8318 53.4287C23.4813 54.0653 22.325 55.396 18.6902 55.8623Z" fill="#40297B")
                p Управление<br>заказами
            .tab_support_user
              a(href="#")
                .logo_support
                  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="59" height="60" viewBox="0 0 59 60" version="1.1")
                    path(d="M57.2132 39.9023H54.7915C54.9589 39.57 55.071 39.2047 55.116 38.8188C55.5675 38.9021 56.0379 38.7978 56.4228 38.5117C56.9467 38.1226 57.2033 37.478 57.0935 36.8298L56.6645 34.3094L58.4821 32.5232C58.9498 32.0631 59.1164 31.3875 58.9165 30.759C58.7157 30.1273 58.1886 29.6764 57.5404 29.5811L55.139 29.2296V7.96875C55.139 6.19171 53.7175 4.74609 51.97 4.74609H13.1491C12.9357 4.14413 12.4217 3.71658 11.7929 3.62411L9.27525 3.25562L8.15037 0.958099C7.86093 0.367126 7.27711 0 6.62576 0C5.97487 0 5.39059 0.367126 5.10161 0.957642L3.97672 3.25516L1.45867 3.62411C0.810477 3.71933 0.28337 4.17023 0.0826096 4.80194C-0.1168 5.43045 0.0497498 6.10611 0.517439 6.56616L2.33508 8.35236L1.9061 10.8723C1.79582 11.521 2.05285 12.1655 2.57635 12.5546C2.87614 12.7771 3.22725 12.8902 3.5815 12.8902C3.67468 12.8902 3.76786 12.8792 3.86014 12.8636V14.9707C3.86014 15.4564 4.24725 15.8496 4.72439 15.8496C5.20199 15.8496 5.58865 15.4564 5.58865 14.9707V12.047L6.62576 11.4972L7.31717 11.8634V37.2656C7.31717 37.7513 7.70428 38.1445 8.18143 38.1445H47.9607C48.0611 38.2823 48.1826 38.4064 48.3244 38.5117C48.6237 38.7341 48.9748 38.8472 49.3291 38.8472C49.5983 38.8472 49.8693 38.7817 50.12 38.649L52.3734 37.4542L53.4105 38.004V38.4375C53.4105 39.2455 52.7645 39.9023 51.97 39.9023H7.02908C6.23504 39.9023 5.58865 39.2455 5.58865 38.4375V18.7207C5.58865 18.235 5.20199 17.8418 4.72439 17.8418C4.24725 17.8418 3.86014 18.235 3.86014 18.7207V38.4375C3.86014 38.9648 3.98617 39.4624 4.20809 39.9023H1.78637C0.801474 39.9023 0.000235011 40.7172 0.000235011 41.7188V42.4219C0.000235011 44.8453 1.93851 46.8164 4.32152 46.8164H9.80416C9.04568 47.71 8.58475 48.8745 8.58475 50.148C8.58475 51.1089 9.35087 51.8907 10.2926 51.8907H18.4373C18.9149 51.8907 19.3015 51.497 19.3015 51.0118C19.3015 50.5261 18.9149 50.1329 18.4373 50.1329H10.3133C10.3214 48.3028 11.7757 46.8164 13.5619 46.8164H22.2936C22.2756 46.978 22.2652 47.1414 22.2652 47.3062C22.2652 47.7008 22.4138 48.0753 22.6866 48.3646C22.9593 48.6502 23.3257 48.8141 23.7178 48.8246C28.4852 48.9574 32.2037 49.4421 33.1927 50.0615C33.6455 50.3444 34.2032 50.7811 34.6894 51.1711C35.0639 51.4714 35.6072 51.4064 35.9029 51.0251C36.1987 50.6442 36.1348 50.0917 35.7598 49.791C35.2079 49.3483 34.625 48.8933 34.0979 48.5641C32.3833 47.4907 27.1429 47.1703 24.0045 47.0746C24.0289 46.8054 24.0964 46.5445 24.2062 46.295C24.5983 45.3996 25.4742 44.821 26.438 44.821H39.1241C42.4515 44.821 44.6801 45.542 46.1534 46.6187C46.175 46.637 46.198 46.6539 46.2218 46.6699C47.8045 47.8574 48.4932 49.4618 48.734 51.0081L36.9473 53.2617H36.4035C35.4474 53.2617 34.4927 53.1377 33.5658 52.8928C32.6399 52.6479 31.7455 52.2835 30.9083 51.8088C28.9754 50.7124 26.7837 50.1329 24.5713 50.1329H22.1248C21.6476 50.1329 21.2605 50.5261 21.2605 51.0118C21.2605 51.497 21.6476 51.8907 22.1248 51.8907H24.5713C26.4897 51.8907 28.3898 52.3933 30.0665 53.3441C31.0325 53.8911 32.0633 54.3118 33.131 54.5938C34.1996 54.8763 35.3007 55.0195 36.4035 55.0195H36.5142L38.935 59.5413C39.0863 59.8242 39.3775 60 39.694 60H55.6269C55.9375 60 56.2247 59.8302 56.3782 59.5551C56.5317 59.2799 56.5281 58.9426 56.3692 58.6707L51.8674 50.9949C51.6819 50.6786 51.3209 50.5133 50.9653 50.5815L50.4301 50.6841C50.1911 49.2169 49.6446 47.9054 48.8186 46.8164H54.678C57.0611 46.8164 58.9993 44.8453 58.9993 42.4219V41.7188C58.9993 40.7172 58.1981 39.9023 57.2132 39.9023ZM5.83713 9.93301L4.31657 10.7387C4.31477 10.7401 4.31297 10.741 4.31072 10.7419L3.62021 11.1076L4.04199 8.63068C4.13697 8.06992 3.95331 7.49863 3.54999 7.10175L1.77196 5.35446L4.236 4.99329C4.78966 4.91226 5.26861 4.56116 5.51708 4.0535L6.62621 1.78802L7.73489 4.0535C7.98337 4.56116 8.46231 4.91226 9.01597 4.99329L11.48 5.35446L9.70198 7.10175C9.29866 7.49817 9.11455 8.06992 9.20998 8.63068L9.63131 11.1081L8.605 10.5638C8.5933 10.5569 8.58114 10.551 8.56899 10.5446L7.4153 9.93301C7.16817 9.80209 6.89719 9.73663 6.62576 9.73663C6.35478 9.73663 6.0838 9.80209 5.83713 9.93301ZM9.04568 12.7675C9.58764 12.9854 10.1971 12.9099 10.6752 12.5546C11.1991 12.1655 11.4557 11.521 11.3459 10.8728L11.2005 10.0195H44.2498C44.7269 10.0195 45.114 9.62631 45.114 9.14062C45.114 8.65494 44.7269 8.26172 44.2498 8.26172H11.0092L12.7345 6.56616C12.7552 6.54602 12.7741 6.52496 12.7935 6.50391H51.9705C52.7645 6.50391 53.4109 7.1608 53.4109 7.96875V26.3132C53.1197 26.0861 52.7587 25.957 52.3734 25.957C52.1298 25.957 51.8953 26.0088 51.6824 26.104V9.14062C51.6824 8.65494 51.2953 8.26172 50.8181 8.26172H47.9661C47.4885 8.26172 47.1018 8.65494 47.1018 9.14062C47.1018 9.62631 47.4885 10.0195 47.9661 10.0195H49.9539V28.7439L49.7243 29.2126L47.2067 29.5811C46.5585 29.6764 46.031 30.1277 45.8307 30.759C45.6308 31.3875 45.7973 32.0631 46.265 32.5232L48.0827 34.3094L47.7293 36.3867H9.04568V12.7675ZM52.3734 35.6937C52.1024 35.6937 51.8314 35.7591 51.5843 35.89L49.3678 37.0647L49.7896 34.5877C49.8846 34.0269 49.7009 33.4557 49.2976 33.0588L47.5196 31.3115L49.9836 30.9503C50.5373 30.8693 51.0158 30.5182 51.2642 30.0105L52.3734 27.7451L53.4825 30.0105C53.4874 30.0211 53.4942 30.0302 53.4991 30.0407C53.5176 30.0787 53.5383 30.1158 53.5617 30.1511C53.825 30.5818 54.2626 30.8771 54.7631 30.9503L57.2272 31.3115L55.4491 33.0588C55.0458 33.4552 54.8617 34.0269 54.9576 34.5877L55.3789 37.0651L54.6893 36.6994C54.6866 36.698 54.6839 36.6966 54.6812 36.6953L53.162 35.89C52.9153 35.7591 52.6448 35.6937 52.3734 35.6937ZM54.105 58.2422H40.2076L38.3548 54.7815L50.6921 52.4226L54.105 58.2422ZM57.2708 42.4219C57.2708 43.8757 56.1077 45.0586 54.678 45.0586H46.9722C45.0524 43.7329 42.4213 43.0627 39.1241 43.0627H26.438C24.9876 43.0627 23.6543 43.8309 22.9004 45.0586H4.32152C2.8919 45.0586 1.72875 43.8757 1.72875 42.4219V41.7188C1.72875 41.6867 1.75441 41.6602 1.78637 41.6602H57.2132C57.2452 41.6602 57.2708 41.6867 57.2708 41.7188V42.4219Z" fill="#40297B")
                    path(d="M22.5859 14.6433H13.3672C12.89 14.6433 12.5029 15.0365 12.5029 15.5222C12.5029 16.0079 12.89 16.4011 13.3672 16.4011H22.5859C23.0635 16.4011 23.4502 16.0079 23.4502 15.5222C23.4502 15.0365 23.0635 14.6433 22.5859 14.6433Z" fill="#40297B")
                    path(d="M22.5859 18.0459H13.3672C12.89 18.0459 12.5029 18.4391 12.5029 18.9248C12.5029 19.4105 12.89 19.8037 13.3672 19.8037H22.5859C23.0635 19.8037 23.4502 19.4105 23.4502 18.9248C23.4502 18.4391 23.0635 18.0459 22.5859 18.0459Z" fill="#40297B")
                    path(d="M22.5859 21.4485H13.3672C12.89 21.4485 12.5029 21.8417 12.5029 22.3274C12.5029 22.8131 12.89 23.2063 13.3672 23.2063H22.5859C23.0635 23.2063 23.4502 22.8131 23.4502 22.3274C23.4502 21.8417 23.0635 21.4485 22.5859 21.4485Z" fill="#40297B")
                    path(d="M22.5859 24.8511H13.3672C12.89 24.8511 12.5029 25.2448 12.5029 25.73C12.5029 26.2157 12.89 26.6089 13.3672 26.6089H22.5859C23.0635 26.6089 23.4502 26.2157 23.4502 25.73C23.4502 25.2448 23.0635 24.8511 22.5859 24.8511Z" fill="#40297B")
                    path(d="M22.5859 28.2537H13.3672C12.89 28.2537 12.5029 28.6469 12.5029 29.1326C12.5029 29.6183 12.89 30.0115 13.3672 30.0115H22.5859C23.0635 30.0115 23.4502 29.6183 23.4502 29.1326C23.4502 28.6469 23.0635 28.2537 22.5859 28.2537Z" fill="#40297B")
                    path(d="M45.4176 23.8889C45.693 23.4636 46.0361 22.9344 46.0361 22.2656C46.0361 21.5968 45.693 21.0677 45.4176 20.6419C45.2843 20.4364 45.1466 20.2235 45.1101 20.0844C45.0696 19.9292 45.084 19.6646 45.098 19.4083C45.1254 18.9079 45.1596 18.2845 44.84 17.7228C44.5168 17.1552 43.965 16.8732 43.5216 16.6466C43.2997 16.5331 43.0706 16.4159 42.9639 16.3074C42.8577 16.1993 42.7424 15.9659 42.6308 15.7402C42.408 15.2893 42.1307 14.7281 41.5721 14.3994C41.0202 14.0749 40.4071 14.1096 39.9147 14.1376C39.663 14.1518 39.4029 14.1664 39.2503 14.1248C39.1134 14.0877 38.9041 13.9476 38.702 13.8121C38.2834 13.532 37.763 13.1836 37.1054 13.1836C36.4482 13.1836 35.9274 13.532 35.5092 13.8121C35.3066 13.9476 35.0978 14.0877 34.9609 14.1248C34.8079 14.1664 34.5477 14.1518 34.2961 14.1376C33.8037 14.1092 33.1906 14.0749 32.6387 14.3994C32.0805 14.7281 31.8028 15.2893 31.58 15.7402C31.4688 15.9659 31.3536 16.1989 31.2469 16.3074C31.1407 16.4159 30.9111 16.5331 30.6892 16.6461C30.2458 16.8732 29.6935 17.1552 29.3707 17.7228C29.0516 18.2845 29.0853 18.9075 29.1133 19.4083C29.1272 19.6646 29.1416 19.9292 29.1006 20.0844C29.0642 20.2235 28.9264 20.4364 28.7932 20.6419C28.5177 21.0677 28.1752 21.5968 28.1752 22.2656C28.1752 22.9344 28.5177 23.4636 28.7932 23.8893C28.9264 24.0948 29.0642 24.3077 29.1006 24.4469C29.1416 24.6021 29.1272 24.8666 29.1133 25.123C29.0858 25.6233 29.0516 26.2468 29.3707 26.8085C29.6939 27.3761 30.2458 27.6581 30.6892 27.8847C30.9111 27.9982 31.1402 28.1154 31.2469 28.2239C31.3536 28.3319 31.4688 28.5654 31.58 28.791C31.8033 29.2419 32.0805 29.8032 32.6387 30.1318C33.191 30.4568 33.8041 30.4221 34.2961 30.3937C34.5477 30.3799 34.8079 30.3648 34.9609 30.4065C35.0978 30.4436 35.3066 30.5836 35.5092 30.7191C35.9274 30.9993 36.4482 31.3477 37.1054 31.3477C37.763 31.3477 38.2838 30.9993 38.702 30.7191C38.9041 30.5836 39.1134 30.4436 39.2503 30.4065C39.4029 30.3648 39.663 30.3795 39.9147 30.3937C40.4071 30.4216 41.0202 30.4564 41.5721 30.1318C42.1307 29.8032 42.408 29.2419 42.6308 28.791C42.742 28.5654 42.8572 28.3324 42.9639 28.2239C43.0706 28.1154 43.2997 27.9982 43.5216 27.8851C43.965 27.6581 44.5173 27.3761 44.84 26.8085C45.1596 26.2468 45.1254 25.6238 45.098 25.123C45.084 24.8666 45.0696 24.6021 45.1101 24.4469C45.1466 24.3077 45.2843 24.0948 45.4176 23.8889ZM43.974 22.9225C43.775 23.2301 43.5491 23.5785 43.4401 23.9928C43.328 24.4199 43.3514 24.8451 43.3722 25.2205C43.3857 25.4741 43.405 25.8211 43.3438 25.9282C43.2794 26.0413 42.9706 26.1992 42.7456 26.3141C42.417 26.4821 42.0452 26.6721 41.7418 26.9806C41.4379 27.2896 41.2511 27.6677 41.0864 28.0014C40.9729 28.2307 40.8181 28.5448 40.7065 28.6102C40.6011 28.672 40.2599 28.6528 40.011 28.6386C39.6419 28.618 39.2233 28.5942 38.8037 28.7082C38.3968 28.819 38.0538 29.0483 37.7513 29.2511C37.5258 29.4022 37.2449 29.5903 37.1054 29.5903C36.9658 29.5903 36.6854 29.4022 36.4594 29.2511C36.1574 29.0483 35.8144 28.819 35.407 28.7082C35.1581 28.6404 34.9092 28.6212 34.6711 28.6212C34.5081 28.6212 34.3497 28.6304 34.1998 28.6386C33.9508 28.6528 33.6096 28.672 33.5043 28.6102C33.3927 28.5448 33.2378 28.2307 33.1244 28.0014C32.9596 27.6677 32.7728 27.2896 32.469 26.9806C32.1656 26.6721 31.7938 26.4821 31.4652 26.3141C31.2401 26.1992 30.9313 26.0413 30.867 25.9282C30.8058 25.8211 30.8251 25.4741 30.8386 25.2205C30.8593 24.8451 30.8827 24.4199 30.7706 23.9928C30.6617 23.5789 30.4362 23.2301 30.2368 22.9225C30.0882 22.6932 29.9032 22.4075 29.9032 22.2656C29.9032 22.1242 30.0882 21.8385 30.2368 21.6087C30.4357 21.3016 30.6617 20.9528 30.7706 20.5385C30.8827 20.1118 30.8593 19.6866 30.8386 19.3108C30.8251 19.0576 30.8058 18.7106 30.867 18.6035C30.9313 18.49 31.2401 18.3325 31.4652 18.2172C31.7938 18.0496 32.1656 17.8596 32.4695 17.5507C32.7728 17.2421 32.9596 16.8636 33.1244 16.5298C33.2378 16.301 33.3927 15.9869 33.5043 15.9215C33.6096 15.8592 33.9508 15.8784 34.1998 15.8926C34.5693 15.9137 34.9875 15.9375 35.407 15.8231C35.814 15.7127 36.157 15.4829 36.4594 15.2806C36.685 15.1295 36.9658 14.9414 37.1054 14.9414C37.2449 14.9414 37.5258 15.1295 37.7513 15.2806C38.0538 15.4829 38.3964 15.7127 38.8037 15.8235C39.2233 15.937 39.6414 15.9137 40.0106 15.8926C40.2595 15.8784 40.6011 15.8592 40.7065 15.9215C40.8176 15.9869 40.9729 16.301 41.0864 16.5298C41.2511 16.8636 41.4379 17.2421 41.7418 17.5507C42.0452 17.8596 42.417 18.0496 42.7451 18.2172C42.9706 18.3325 43.2794 18.49 43.3438 18.6035C43.4046 18.7106 43.3857 19.0576 43.3717 19.3108C43.3514 19.6861 43.328 20.1118 43.4401 20.5385C43.5491 20.9528 43.7746 21.3016 43.974 21.6087C44.1225 21.8385 44.3075 22.1242 44.3075 22.2656C44.3075 22.4075 44.1225 22.6927 43.974 22.9225Z" fill="#40297B")
                    path(d="M35.3927 19.645C35.3927 20.1302 35.0056 20.5239 34.5284 20.5239C34.0513 20.5239 33.6642 20.1302 33.6642 19.645C33.6642 19.1598 34.0513 18.7661 34.5284 18.7661C35.0056 18.7661 35.3927 19.1598 35.3927 19.645Z" fill="#40297B")
                    path(d="M40.5468 24.8862C40.5468 25.3715 40.1596 25.7651 39.6825 25.7651C39.2049 25.7651 38.8182 25.3715 38.8182 24.8862C38.8182 24.401 39.2049 24.0073 39.6825 24.0073C40.1596 24.0073 40.5468 24.401 40.5468 24.8862Z" fill="#40297B")
                    path(d="M39.1113 18.9825L33.8771 24.3054C33.5395 24.6487 33.5395 25.2053 33.8771 25.5487C34.0459 25.7199 34.2674 25.8059 34.4884 25.8059C34.7094 25.8059 34.9309 25.7199 35.0997 25.5487L40.3338 20.2258C40.6714 19.882 40.6714 19.3258 40.3338 18.9825C39.9958 18.6396 39.4489 18.6396 39.1113 18.9825Z" fill="#40297B")
                p Акции, скидки<br>бонусные программы
            .tab_support_user
              a(href="#")
                .logo_support
                  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="63" height="63" viewBox="0 0 63 63" version="1.1")
                    path(d="M13.0703 47.1171C13.0703 47.6256 13.4825 48.0382 13.9907 48.0382C14.4989 48.0382 14.9111 47.6256 14.9111 47.1171V37.2705C14.9298 37.2705 14.9485 37.2714 14.9672 37.2714C15.6015 37.2714 16.1676 37.1841 16.5876 37.093C17.0727 36.9875 17.4179 36.5509 17.4088 36.0544C17.3997 35.5574 17.0382 35.1338 16.5497 35.046C16.0914 34.964 15.7798 34.7673 15.5694 34.4277C15.1206 33.7038 15.1969 32.5002 15.3392 31.6818H20.242C23.3591 31.6818 25.8951 29.1441 25.8951 26.025V14.6193C25.8951 11.5002 23.3591 8.96251 20.242 8.96251H14.9111V7.49123H19.5953C20.1035 7.49123 20.5158 7.07867 20.5158 6.57017C20.5158 6.06168 20.1035 5.64912 19.5953 5.64912H14.9111V4.60526C14.9111 3.08169 16.1499 1.84211 17.6725 1.84211H45.163C46.6855 1.84211 47.9243 3.08169 47.9243 4.60526V5.64912H23.5225C23.0139 5.64912 22.6021 6.06168 22.6021 6.57017C22.6021 7.07867 23.0139 7.49123 23.5225 7.49123H47.9243V11.7895C47.9243 12.298 48.3366 12.7105 48.8447 12.7105C49.3529 12.7105 49.7652 12.298 49.7652 11.7895V4.60526C49.7652 2.06565 47.7009 0 45.163 0H17.6725C15.1345 0 13.0703 2.06565 13.0703 4.60526V8.96251H5.65304C2.53601 8.96251 0 11.5002 0 14.6193V26.025C0 29.1441 2.53601 31.6818 5.65304 31.6818H9.42877C9.69436 33.7729 10.4561 35.3075 11.6992 36.2506C12.1378 36.5835 12.6029 36.8152 13.0703 36.974V47.1171ZM11.1867 30.7061C11.158 30.2196 10.7553 29.8397 10.2677 29.8397H5.65304C3.55089 29.8397 1.84088 28.1286 1.84088 26.025V14.6193C1.84088 12.5158 3.55089 10.8046 5.65304 10.8046H20.242C22.3442 10.8046 24.0542 12.5158 24.0542 14.6193V26.025C24.0542 28.1286 22.3442 29.8397 20.242 29.8397H14.6043C14.1964 29.8397 13.8368 30.1088 13.7218 30.5003C13.6321 30.8034 12.89 33.4807 13.9548 35.3152C13.5588 35.2183 13.1661 35.0518 12.8119 34.7827C11.8507 34.0535 11.3037 32.682 11.1867 30.7061Z" fill="#40297B")
                    path(d="M28.9632 60.0526H33.8722C34.3804 60.0526 34.7926 59.64 34.7926 59.1315C34.7926 58.623 34.3804 58.2104 33.8722 58.2104H28.9632C28.455 58.2104 28.0427 58.623 28.0427 59.1315C28.0427 59.64 28.455 60.0526 28.9632 60.0526Z" fill="#40297B")
                    path(d="M19.0225 18.7377C19.0225 16.5963 17.4994 14.9187 15.5555 14.9187C14.3968 14.9187 13.5425 15.396 13.0089 15.8239C12.4753 15.396 11.6211 14.9187 10.4624 14.9187C8.5184 14.9187 6.99536 16.5963 6.99536 18.7377C6.99536 20.0967 7.68857 22.7419 12.333 25.1904C12.5444 25.3021 12.7769 25.3578 13.0089 25.3578C13.2414 25.3578 13.4734 25.3017 13.6853 25.1904C18.3293 22.7419 19.0225 20.0967 19.0225 18.7377ZM8.83624 18.7377C8.83624 17.7792 9.40625 16.7608 10.4624 16.7608C11.227 16.7608 11.7548 17.1335 12.0626 17.4463C12.31 17.6972 12.6546 17.8406 13.0089 17.8406C13.3632 17.8406 13.7079 17.6967 13.9552 17.4463C14.263 17.1335 14.7908 16.7608 15.5555 16.7608C16.6116 16.7608 17.1816 17.7792 17.1816 18.7377C17.1816 20.3083 15.6638 22.0242 13.0089 23.4634C10.354 22.0238 8.83624 20.3083 8.83624 18.7377Z" fill="#40297B")
                    path(d="M57.1825 23.9451H49.7652V15.6781C49.7652 15.1696 49.353 14.7571 48.8448 14.7571C48.3366 14.7571 47.9244 15.1696 47.9244 15.6781V23.9451H42.5935C39.4764 23.9451 36.9404 26.4827 36.9404 29.6019V41.0071C36.9404 44.1267 39.4764 46.6644 42.5935 46.6644H47.4953C47.6343 47.4751 47.7129 48.6868 47.2676 49.4078C47.0571 49.7489 46.745 49.9461 46.2858 50.0286C45.7973 50.1159 45.4358 50.54 45.4267 51.0365C45.4176 51.533 45.7628 51.97 46.2479 52.0755C46.6679 52.1667 47.2335 52.2535 47.8683 52.2535C47.8865 52.2535 47.9057 52.253 47.9244 52.253V55.3861H14.9112V51.0672C14.9112 50.5587 14.4989 50.1461 13.9908 50.1461C13.4821 50.1461 13.0703 50.5587 13.0703 51.0672V58.272C13.0703 60.8116 15.1346 62.8773 17.6725 62.8773H45.163C47.7005 62.8773 49.7652 60.8116 49.7652 58.272V51.9566C50.2327 51.7978 50.6972 51.5661 51.1358 51.2332C52.3794 50.29 53.1412 48.7554 53.4063 46.6644H57.182C60.2995 46.6644 62.8355 44.1267 62.8355 41.0076V29.6019C62.8355 26.4827 60.2995 23.9451 57.1825 23.9451ZM47.9244 58.272C47.9244 59.7956 46.6856 61.0352 45.163 61.0352H17.6725C16.15 61.0352 14.9112 59.7956 14.9112 58.272V57.2282H47.9244V58.272ZM60.9946 41.0076C60.9946 43.1111 59.2846 44.8222 57.1825 44.8222H52.5673C52.0802 44.8222 51.6776 45.2022 51.6488 45.6886C51.5313 47.6646 50.9848 49.0365 50.0236 49.7652C49.6694 50.0344 49.2767 50.2008 48.8808 50.2977C49.9455 48.4628 49.2034 45.7855 49.1137 45.4828C48.9987 45.0914 48.6391 44.8222 48.2312 44.8222H42.5935C40.4913 44.8222 38.7813 43.1111 38.7813 41.0076V29.6019C38.7813 27.4983 40.4913 25.7872 42.5935 25.7872H57.1825C59.2846 25.7872 60.9946 27.4983 60.9946 29.6019V41.0076Z" fill="#40297B")
                    path(d="M52.6095 33.7633C53.0946 33.1627 53.3856 32.399 53.3856 31.5681C53.3856 29.6382 51.8166 28.0681 49.888 28.0681C47.9593 28.0681 46.3903 29.6382 46.3903 31.5681C46.3903 32.399 46.6813 33.1622 47.1664 33.7633C45.6851 34.5457 44.6721 36.1024 44.6721 37.8917V37.9733C44.6721 39.2152 45.6822 40.226 46.9238 40.226H52.8525C54.0937 40.226 55.1038 39.2152 55.1038 37.9733V37.8917C55.1038 36.1024 54.0908 34.5457 52.6095 33.7633ZM49.888 29.9102C50.8017 29.9102 51.5447 30.6543 51.5447 31.5681C51.5447 32.4825 50.8017 33.226 49.888 33.226C48.9742 33.226 48.2312 32.4825 48.2312 31.5681C48.2312 30.6543 48.9742 29.9102 49.888 29.9102ZM53.2629 37.9733C53.2629 38.1997 53.0788 38.3839 52.8521 38.3839H46.9234C46.6971 38.3839 46.513 38.1997 46.513 37.9733V37.8917C46.513 36.335 47.7786 35.0681 49.3347 35.0681H50.4412C51.9973 35.0681 53.2629 36.335 53.2629 37.8917V37.9733Z" fill="#40297B")
                    path(d="M42.7218 11.3779H29.7129C29.2043 11.3779 28.7925 11.7905 28.7925 12.299C28.7925 12.8075 29.2043 13.22 29.7129 13.22H42.7218C43.23 13.22 43.6423 12.8075 43.6423 12.299C43.6423 11.7905 43.23 11.3779 42.7218 11.3779Z" fill="#40297B")
                    path(d="M42.7218 15.062H29.7129C29.2043 15.062 28.7925 15.4746 28.7925 15.9831C28.7925 16.4916 29.2043 16.9041 29.7129 16.9041H42.7218C43.23 16.9041 43.6423 16.4916 43.6423 15.9831C43.6423 15.4746 43.23 15.062 42.7218 15.062Z" fill="#40297B")
                    path(d="M43.6423 19.6674C43.6423 19.1589 43.23 18.7463 42.7218 18.7463H29.7129C29.2043 18.7463 28.7925 19.1589 28.7925 19.6674C28.7925 20.1759 29.2043 20.5884 29.7129 20.5884H42.7218C43.23 20.5884 43.6423 20.1759 43.6423 19.6674Z" fill="#40297B")
                    path(d="M33.6379 38.2946C33.6379 37.7861 33.2256 37.3735 32.7174 37.3735H19.7085C19.1999 37.3735 18.7881 37.7861 18.7881 38.2946V41.9788C18.7881 42.4873 19.1999 42.8998 19.7085 42.8998H32.7174C33.2256 42.8998 33.6379 42.4873 33.6379 41.9788V38.2946ZM31.797 41.0577H20.629V39.2156H31.797V41.0577Z" fill="#40297B")
                    path(d="M32.7174 44.7422H19.7085C19.1999 44.7422 18.7881 45.1547 18.7881 45.6632C18.7881 46.1717 19.1999 46.5843 19.7085 46.5843H32.7174C33.2256 46.5843 33.6379 46.1717 33.6379 45.6632C33.6379 45.1547 33.2256 44.7422 32.7174 44.7422Z" fill="#40297B")
                p Чат<br>с менеджером
            .tab_support_user
              a(href="#")
                .logo_support
                  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="63" height="63" viewBox="0 0 63 63" version="1.1")
                    path(d="M30.1905 13.5088C30.8684 13.5088 31.4178 12.959 31.4178 12.2807V7.36845C31.4178 6.69013 30.8684 6.14038 30.1905 6.14038C29.5126 6.14038 28.9633 6.69013 28.9633 7.36845V12.2807C28.9633 12.959 29.5126 13.5088 30.1905 13.5088Z" fill="#40297B")
                    path(d="M16.6907 36.842C18.7209 36.842 20.3724 35.1894 20.3724 33.1578C20.3724 31.1262 18.7209 29.4736 16.6907 29.4736C14.6604 29.4736 13.0089 31.1262 13.0089 33.1578C13.0089 35.1894 14.6604 36.842 16.6907 36.842ZM16.6907 31.9298C17.3676 31.9298 17.9179 32.4805 17.9179 33.1578C17.9179 33.8352 17.3676 34.3859 16.6907 34.3859C16.0142 34.3859 15.4634 33.8352 15.4634 33.1578C15.4634 32.4805 16.0142 31.9298 16.6907 31.9298Z" fill="#40297B")
                    path(d="M22.827 24.5614H32.645C33.3229 24.5614 33.8723 24.0116 33.8723 23.3333C33.8723 22.655 33.3229 22.1052 32.645 22.1052H22.827C22.1491 22.1052 21.5997 22.655 21.5997 23.3333C21.5997 24.0116 22.1491 24.5614 22.827 24.5614Z" fill="#40297B")
                    path(d="M37.554 22.1052C38.2314 22.1052 38.7813 22.6555 38.7813 23.3333C38.7813 24.0111 38.2314 24.5614 37.554 24.5614C36.8766 24.5614 36.3268 24.0111 36.3268 23.3333C36.3268 22.6555 36.8766 22.1052 37.554 22.1052Z" fill="#40297B")
                    path(d="M3.83661 44.9474H7.49153C8.76049 47.7518 10.6503 50.2616 13.0089 52.2693V59.0385C13.0089 61.155 14.7299 62.8772 16.8455 62.8772H18.9908C21.1059 62.8772 22.8269 61.155 22.8269 59.0385V56.9014C24.0374 57.1168 25.2699 57.2281 26.5087 57.2281H33.8722C35.111 57.2281 36.3435 57.1168 37.554 56.9014V59.0385C37.554 61.155 39.275 62.8772 41.3906 62.8772H43.5359C45.651 62.8772 47.372 61.155 47.372 59.0385V52.2664C51.3832 48.8143 54.1593 43.1868 54.6574 37.4403C54.678 37.2038 54.6934 36.9644 54.7054 36.7246C56.6177 36.4857 58.8929 35.7009 60.3081 34.2862C62.8781 31.712 63.4577 27.9568 62.1475 24.8607C61.7146 23.8366 61.0957 22.9169 60.3076 22.1283C59.8287 21.6491 59.0516 21.6486 58.5722 22.1283C58.0928 22.608 58.0928 23.3856 58.5722 23.8653C59.1355 24.429 59.5775 25.0857 59.8867 25.8178C60.8215 28.0269 60.4088 30.7104 58.5727 32.5496C57.774 33.3479 56.2078 34.0094 54.678 34.2502C54.0165 25.3193 47.2905 17.6425 38.2717 15.3969C39.3896 13.7702 40.009 11.8274 40.009 9.82456C40.009 4.40714 35.6043 0 30.191 0C24.7771 0 20.3729 4.40714 20.3729 9.82456C20.3729 11.7525 20.9511 13.6335 21.9971 15.2266C20.2622 15.6075 18.5934 16.2072 17.008 17.0222C15.5996 14.2116 12.7323 12.3551 9.52801 12.2836C9.15791 12.2721 8.78926 12.4169 8.52175 12.6779C8.25377 12.9384 8.10036 13.3015 8.10036 13.6733V25.7799C7.06726 27.7136 6.35248 29.7773 5.96897 31.9298H3.83661C1.72103 31.9298 0 33.652 0 35.769V41.1082C0 43.2252 1.72103 44.9474 3.83661 44.9474ZM30.1905 2.45614C34.251 2.45614 37.554 5.76138 37.554 9.82456C37.554 13.9017 34.25 17.193 30.1905 17.193C26.1846 17.193 22.8269 13.9607 22.8269 9.82456C22.8269 5.76138 26.1305 2.45614 30.1905 2.45614ZM2.45451 35.769C2.45451 35.0062 3.07437 34.386 3.83661 34.386H6.89372C7.58166 34.386 8.16796 33.8703 8.2576 33.1872C8.55771 30.9104 9.27153 28.7368 10.3794 26.7264C10.494 26.5225 10.5544 26.2917 10.5544 26.0572V14.8611C12.6925 15.2971 14.4763 16.8543 15.1662 18.9852C15.2975 19.3843 15.5962 19.6971 15.9864 19.8444C16.3752 19.9907 16.8048 19.9528 17.1643 19.7398C19.2511 18.5055 21.5187 17.712 23.9118 17.3758C25.6746 18.8446 27.8807 19.6491 30.1905 19.6491C32.4331 19.6491 34.5885 18.8864 36.3258 17.4928C45.4003 19.0893 52.2192 26.7748 52.2777 35.5838C52.2811 36.1369 52.259 36.6896 52.212 37.2273C51.7532 42.5219 49.1535 47.6813 45.4195 50.6977C45.1007 50.9601 44.9175 51.3477 44.9175 51.7608V59.038C44.9175 59.8008 44.2977 60.421 43.5359 60.421H41.3906C40.6284 60.421 40.0085 59.8008 40.0085 59.038V52.925C40.0085 52.2467 39.4591 51.697 38.7813 51.697C38.1034 51.697 37.554 52.2467 37.554 52.925V54.4016C36.3483 54.6462 35.1139 54.7719 33.8722 54.7719H26.5087C25.2671 54.7719 24.0326 54.6462 22.8269 54.4016V52.925C22.8269 52.2467 22.2776 51.697 21.5997 51.697C20.9218 51.697 20.3724 52.2467 20.3724 52.925V59.038C20.3724 59.8008 19.7526 60.421 18.9908 60.421H16.8455C16.0833 60.421 15.4634 59.8008 15.4634 59.038V51.7608C15.4634 51.3386 15.2741 50.9462 14.9519 50.691C12.5405 48.7419 10.646 46.2018 9.46856 43.3341C9.25283 42.8222 8.75522 42.4912 8.20056 42.4912H3.83661C3.07437 42.4912 2.45451 41.871 2.45451 41.1082V35.769Z" fill="#40297B")
                p Управление<br>финанасами
        .cabinet
          a(href="" class="my_cabinet") Личный кабинет
