section.orders
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    .sort-order
      ul
        li.status-order.active(data-item="order-all")
          a Все (57)
        li.status-order(data-item="order-waiting")
          a В обработке (1)
        li.status-order(data-item="order-before-work")
          a Предложение (1)
        li.status-order(data-item="order-in-work")
          a В работе (1)
        li.status-order(data-item="order-archive")
          a Архив (1)
        li.status-order(data-item="order-full-end")
          a Завершен (100)
    .verticalCarousel-orders
      //-.verticalCarouselHeader
        a.vc_goUp(href='#')
          i.fa.fa-fw.fa-angle-up
      ul.list-orders.slider.verticalCarouselGroup.vc_list.order-variant#order-all
        li.order-before-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Танцы
                div.small-screen-price
                  .price-money
                    .old
                      span 109
                      span= ' грн'
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -50%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
        li.order-before-work
          a(href="order-2.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18.00-20.00
                div
                  span Тип работы:
                  span Онлайн решение
                div
                  span Предмет:
                  span Химия
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .new 25
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
        li.order-waiting
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В обработке
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физика
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 2501
                  span= ' грн'
                .new 2300
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Изменить
        li.order-in-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В работе
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Рисование
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 1700
                  span= ' грн'
                .new 1250
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Чат
        li.order-archive-finished2-2type.order-full-end
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Архив
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физкультура
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .old
                  span 700
                  span= ' грн'
                .new 330
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Восстановить
        li.order-finished
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Астрофи́зика — наука, объединяющая то и это астрономию и физику, изучающая физические процессы в астрономических объектах, таких, как звёзды, галактики и т. д.
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span= 'Скидка '
                  span -50%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Скачать файл <span>(3)</span>
        li.order-finished.order-archive-finished2-1type
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Астрофи́зика — наука, объединяющая то и это астрономию и физику, изучающая физические процессы в астрономических объектах, таких, как звёзды, галактики и т. д.
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span= 'Скидка '
                  span -50%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Оставить отзыв
        li.order-archive-finished2-2type.order-full-end
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Тригонометрия
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .new 456
                  span= ' грн'
              //- button.pay.order-color(data-link="google.com") Оставить отзыв
              button.pay.order-color(onclick="location.href='/';return false;") Оставить отзыв
        li.order-before-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Танцы
                div.small-screen-price
                  .price-money
                    .old
                      span 109
                      span= ' грн'
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -50%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
        li.order-before-work
          a(href="order-2.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18.00-20.00
                div
                  span Тип работы:
                  span Онлайн решение
                div
                  span Предмет:
                  span Химия
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .new 25
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
        li.order-waiting
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В обработке
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физика
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 2501
                  span= ' грн'
                .new 2300
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Изменить
        li.order-in-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В работе
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Рисование
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 1700
                  span= ' грн'
                .new 1250
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Чат
        li.order-archive-finished2-2type.order-full-end
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Архив
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физкультура
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .old
                  span 700
                  span= ' грн'
                .new 330
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Восстановить
        li.order-finished
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Астрофи́зика — наука, объединяющая то и это астрономию и физику, изучающая физические процессы в астрономических объектах, таких, как звёзды, галактики и т. д.
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span= 'Скидка '
                  span -50%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Скачать файл <span>(3)</span>
        li.order-finished.order-archive-finished2-1type
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Астрофи́зика — наука, объединяющая то и это астрономию и физику, изучающая физические процессы в астрономических объектах, таких, как звёзды, галактики и т. д.
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span= 'Скидка '
                  span -50%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Оставить отзыв
        li.order-archive-finished2-2type.order-full-end
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Тригонометрия
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .new 456
                  span= ' грн'
              //- button.pay.order-color(data-link="google.com") Оставить отзыв
              button.pay.order-color(onclick="location.href='/';return false;") Оставить отзыв
      ul.list-orders.slider.verticalCarouselGroup.vc_list.order-variant#order-waiting(style='display:none')
        li.order-before-work
          a(href="order-2.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18.00-20.00
                div
                  span Тип работы:
                  span Онлайн решение
                div
                  span Предмет:
                  span Химия
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .new 25
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
        li.order-waiting
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В обработке
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физика
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 2501
                  span= ' грн'
                .new 2300
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Изменить
        li.order-in-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В работе
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Рисование
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 1700
                  span= ' грн'
                .new 1250
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Чат
        li.order-archive-finished2-2type.order-full-end
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Архив
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физкультура
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .old
                  span 700
                  span= ' грн'
                .new 330
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Восстановить
        li.order-finished
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Астрофи́зика — наука, объединяющая то и это астрономию и физику, изучающая физические процессы в астрономических объектах, таких, как звёзды, галактики и т. д.
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span= 'Скидка '
                  span -50%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Скачать файл <span>(3)</span>
      ul.list-orders.slider.verticalCarouselGroup.vc_list.order-variant#order-before-work(style='display:none')
        li.order-before-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Танцы
                div.small-screen-price
                  .price-money
                    .old
                      span 109
                      span= ' грн'
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -50%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
      ul.list-orders.slider.verticalCarouselGroup.vc_list.order-variant#order-in-work(style='display:none')
        li.order-before-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Танцы
                div.small-screen-price
                  .price-money
                    .old
                      span 109
                      span= ' грн'
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -50%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
      ul.list-orders.slider.verticalCarouselGroup.vc_list.order-variant#order-archive(style='display:none')
        li.order-before-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Танцы
                div.small-screen-price
                  .price-money
                    .old
                      span 109
                      span= ' грн'
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -50%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
      ul.list-orders.slider.verticalCarouselGroup.vc_list.order-variant#order-full-end(style='display:none')
        li.order-before-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Танцы
                div.small-screen-price
                  .price-money
                    .old
                      span 109
                      span= ' грн'
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -50%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
        li.order-before-work
          a(href="order-2.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Предложение
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18.00-20.00
                div
                  span Тип работы:
                  span Онлайн решение
                div
                  span Предмет:
                  span Химия
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .new 25
                  span= ' грн'
              button.pay.order-color(onclick="location.href='checkout.html';return false;") Оплатить
        li.order-waiting
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В обработке
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физика
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 2501
                  span= ' грн'
                .new 2300
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Изменить
        li.order-in-work
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color В работе
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Рисование
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span.desc__order-discount-size-indent Скидка
                  span -100%
                  span.desc__order-discount-sign ?
            .price
              .price-money
                .old
                  span 1700
                  span= ' грн'
                .new 1250
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Чат
        li.order-archive-finished2-2type.order-full-end
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Архив
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Физкультура
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .old
                  span 700
                  span= ' грн'
                .new 330
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Восстановить
        li.order-finished
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Астрофи́зика — наука, объединяющая то и это астрономию и физику, изучающая физические процессы в астрономических объектах, таких, как звёзды, галактики и т. д.
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span= 'Скидка '
                  span -50%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Скачать файл <span>(3)</span>
        li.order-finished.order-archive-finished2-1type
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
                  span !
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Астрофи́зика — наука, объединяющая то и это астрономию и физику, изучающая физические процессы в астрономических объектах, таких, как звёзды, галактики и т. д.
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
                .desc__order-discount-size(title="Самая лучшая скидка!")
                  span= 'Скидка '
                  span -50%
                  span.desc__order-discount-sign ?
                .desc__order-discount-message.desc__order-discount-message-big
                  span !
                  span Новое сообщение
            .price
              .price-money
                .old
                  span 10 000
                  span= ' грн'
                .new 100
                  span= ' грн'
              button.pay.order-color(onclick="location.href='/';return false;") Оставить отзыв
        li.order-archive-finished2-2type.order-full-end
          a(href="order.html")
            .desc
              .desc__order-status
                div
                  span Заказ:
                  span №1233
                div
                  span Статус:
                  span.order-color Завершен
                .desc__order-discount-message.desc__order-discount-message-small
              .desc__order-details
                div
                  span Срок сдачи:
                  span 15.12.18 18:00
                div
                  span Тип работы:
                  span Магистерская робота
                div
                  span Предмет:
                  span Тригонометрия
                div.small-screen-price
                  .price-money
                    .new 100
                      span= ' грн'
              .desc__order-discount
            .price
              .price-money
                .new 456
                  span= ' грн'
              //- button.pay.order-color(data-link="google.com") Оставить отзыв
              button.pay.order-color(onclick="location.href='/';return false;") Оставить отзыв