section.profile
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    form(action="", method="").new-form-style.profile-cabinet-form
      h3 Информация профиля
      .profile-cabinet-form__part-one-wrapper
        input(type="text" value="Твоё Имя").custom-combobox-input.backgraundNone.readonly
        select#combobox3
          option(value="")
          option(value="КПИ") КПИ
          option(value="Могилянка") Могилянка
          option(value="НУХТ") НУХТ
        .form-second-block
          select#combobox4.form-second-item-big
            option(value="")
            option(value="Економический") Економический
            option(value="Механический") Механический
            option(value="ФЕиТ") ФЕиТ
          select#combobox5.form-second-item-little
            option(value="")
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5") 5
            option(value="6") 6
        .button-wrapper
          button.btn-primary Редактировать
          button.btn-cansel Отмена
      h3 Контактная информация
      .profile-cabinet-form__part-two-wrapper
        .input-btn-wrapper
          .profile-cabinet-form__input-button-wrapper
            input(type="email" value="some@your.mail").custom-combobox-input.backgraundNone.readonly
            .button-wrapper
              button.btn-primary.built-in Изменить
              //- button.btn-cansel.cancel-mobile Отмена
          button.btn-cansel Отмена
        .input-btn-wrapper
          .profile-cabinet-form__input-button-wrapper.profile-cabinet-form__input-button-wrapper-2.not-filled
            input(type="text" value="Введите номер телефона").custom-combobox-input.backgraundNone.readonly
            .button-wrapper
              button.btn-primary.built-in Потдвердить
                span(title="Подтверди меня и получи чебурек!").show-tooltip ?
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="ok"><path d="M8.5 0C3.78636 0 0 3.78636 0 8.5C0 13.2136 3.78636 17 8.5 17C13.2136 17 17 13.2136 17 8.5C17 3.78636 13.2136 0 8.5 0ZM13.4068 5.83409L7.225 12.2477C7.14773 12.325 7.07045 12.3636 6.95455 12.3636C6.83864 12.3636 6.72273 12.325 6.68409 12.2477L3.67045 9.00227L3.59318 8.925C3.51591 8.84773 3.47727 8.73182 3.47727 8.65454C3.47727 8.57727 3.51591 8.46136 3.59318 8.38409L4.13409 7.84318C4.28864 7.68864 4.52045 7.68864 4.675 7.84318L4.71364 7.88182L6.83864 10.1614C6.91591 10.2386 7.03182 10.2386 7.10909 10.1614L12.2864 4.79091H12.325C12.4795 4.63636 12.7114 4.63636 12.8659 4.79091L13.4068 5.33182C13.5614 5.44773 13.5614 5.67955 13.4068 5.83409Z" fill="#18C783"/></svg>
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="notok"><path d="M16.8495 14.3397L9.46406 1.54575C9.03598 0.804431 7.96402 0.804431 7.53593 1.54575L0.150539 14.3397C-0.277549 15.081 0.258431 16.0103 1.11461 16.0103H15.8854C16.7416 16.0103 17.2775 15.081 16.8495 14.3397ZM8.51044 5.48556C8.98377 5.48556 9.36661 5.87884 9.35269 6.35217L9.21348 11.2108C9.20303 11.5936 8.8898 11.8964 8.50696 11.8964C8.12411 11.8964 7.81088 11.5902 7.80044 11.2108L7.6647 6.35217C7.65426 5.87884 8.03362 5.48556 8.51044 5.48556ZM8.5 14.2735C8.01622 14.2735 7.62294 13.8803 7.62294 13.3965C7.62294 12.9127 8.01622 12.5194 8.5 12.5194C8.98377 12.5194 9.37705 12.9127 9.37705 13.3965C9.37705 13.8803 8.98377 14.2735 8.5 14.2735Z" fill="#FBA85C"/></svg>
              //- button.btn-cansel.cancel-mobile Отмена
          button.btn-cansel Отмена
      h3 Новостная рассылка
      .profile-cabinet-form__part-three-wrapper
        .profile-cabinet-form__email-wrapper
          span oleksanderkoshevoi@gmail.com
          //-.btn-unsubscribe 
          button.btn-primary Подписаться
      h3 Смена пароля
      .profile-cabinet-form__part-four-wrapper
        input(type="text" value="Старый пароль*").backgraundNone.custom-combobox-input.readonly
        input(type="text" value="Новый пароль*").backgraundNone.custom-combobox-input.readonly
        input(type="text" value="Повторите новый пароль*").backgraundNone.custom-combobox-input.readonly
        .button-wrapper
          button.btn-primary Изменить
          button.btn-cansel Отмена


