section.home#home
    .container
        h1 Помощь в написании любых студенческих работ!
        .text
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        form(action="#").new-form-style
          ul.form.list-inline
            li
              select.custom-combobox-input.combobox1.width-of-select.error
                option
                option(value="Реферат") Реферат
                option(value="Курсовая работа") Курсовая работа
                option(value="Лабораторная") Лабораторная
                option(value="Диплом") Диплом
                option(value="Диплом") Диплом c очень длинным названием тут
              label.error Выберите тип работы
            li
              input(type="text" placeholder="Email" required).custom-combobox-input.backgraundNone.error
              label.error Введите Ваш Email
            li
              button.btn-primary Рассчитать стоимость
              .accept
                .work-type__checkbox.clearfix
                  label(for='one')
                      input(type='checkbox', checked='checked' id='one')
                      span.checkbox-custom
                      a(href='#') Принимаю условия конфиденциальности
                      label.error Подтвердите условия конфиденциальности
        .social#social
            h4 Оформить заказ через соц сети!
            ul.list-inline
                li
                    a(href="#" target="_blank")
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 82.7 82.7', style='enable-background:new 0 0 82.7 82.7;', xml:space='preserve')
                            style(type='text/css').
                                .st1 {
                                    fill: #ffffff;
                                }
                            g(id='Слой_3')
                                g
                                    g
                                        //-path.st1(d='M310-150.7c-23.7,0-43,19.3-43,43c0,23.7,19.3,43,43,43c23.7,0,43-19.3,43-43     C353-131.4,333.7-150.7,310-150.7z M320.7-106.2h-7c0,11.2,0,24.9,0,24.9h-10.4c0,0,0-13.6,0-24.9h-4.9v-8.8h4.9v-5.7     c0-4.1,1.9-10.5,10.5-10.5l7.7,0v8.6c0,0-4.7,0-5.6,0s-2.2,0.5-2.2,2.4v5.2h7.9L320.7-106.2z')
                                path.st1(d='M41.3,0C18.5,0,0,18.5,0,41.3s18.5,41.3,41.3,41.3c22.8,0,41.3-18.5,41.3-41.3S64.2,0,41.3,0z M69.2,58l-8.6,0   c-2.2,0.2-4-0.7-5.5-2.2c-1.2-1.2-2.3-2.5-3.4-3.8c-0.5-0.5-1-1-1.5-1.4c-1.2-0.8-2.2-0.5-2.9,0.7c-0.7,1.2-0.8,2.6-0.9,4   c-0.1,2-0.7,2.6-2.7,2.7c-4.3,0.2-8.5-0.5-12.3-2.6c-3.4-1.9-6-4.7-8.3-7.8c-4.4-6-7.8-12.6-10.9-19.4c-0.7-1.5-0.2-2.4,1.5-2.4   c2.8-0.1,5.6-0.1,8.4,0c1.1,0,1.9,0.7,2.3,1.7c1.5,3.7,3.4,7.3,5.7,10.6c0.6,0.9,1.3,1.8,2.2,2.4c1,0.7,1.8,0.5,2.2-0.7   c0.3-0.7,0.4-1.5,0.5-2.2c0.2-2.6,0.3-5.2-0.1-7.8c-0.2-1.6-1.1-2.7-2.8-3c-0.8-0.2-0.7-0.5-0.3-0.9c0.7-0.8,1.3-1.3,2.6-1.3h9.7   c1.5,0.3,1.9,1,2.1,2.5l0,10.8c0,0.6,0.3,2.4,1.4,2.8c0.9,0.3,1.4-0.4,1.9-1c2.3-2.5,4-5.4,5.5-8.4c0.7-1.3,1.2-2.7,1.8-4.1   c0.4-1,1-1.5,2.2-1.5l9.4,0c0.3,0,0.6,0,0.8,0.1c1.6,0.3,2,0.9,1.5,2.5c-0.8,2.4-2.3,4.4-3.7,6.5c-1.6,2.2-3.2,4.2-4.8,6.4   c-1.4,2-1.3,3,0.5,4.7c2,1.9,4,3.7,5.8,5.8c0.8,0.9,1.5,1.9,2.1,3C71.3,56.2,70.6,57.9,69.2,58z')
                                g
                                    //-path.st1(d='M463.4-121.5l-22.3,13.7c-0.9,0.5-1.3,1.6-1,2.5l2.4,8.5c0.2,0.6,1,0.5,1.1-0.1l0.6-4.6    c0.1-0.9,0.5-1.7,1.2-2.3l18.4-17.1C464.2-121.2,463.8-121.8,463.4-121.5z')
                                    //-path.st1(d='M449.9-150.3c-22.8,0-41.3,18.5-41.3,41.3c0,22.8,18.5,41.3,41.3,41.3c22.8,0,41.3-18.5,41.3-41.3    C491.2-131.7,472.7-150.3,449.9-150.3z M474.5-128.8l-8.4,40.4c-0.2,1-1.3,1.4-2.1,0.8L452.6-96c-0.7-0.5-1.6-0.5-2.3,0.1    l-6.3,5.2c-0.7,0.6-1.8,0.3-2.1-0.6l-4.4-14.2l-11.4-4.3c-1.2-0.4-1.2-2.1,0-2.5l46.7-18C473.7-130.7,474.8-129.9,474.5-128.8z')

                li
                    a(href="#" target="_blank")
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 82.3 82.7', style='enable-background:new 0 0 82.3 82.7;', xml:space='preserve')
                            style(type='text/css').
                                .st1 {
                                    fill: #ffffff;
                                }
                            g(id='Слой_3')
                                g
                                    g
                                        path.st1(d='M41.3,0.2C18.6,0.2,0.2,18.6,0.2,41.2c0,22.7,18.4,41.1,41.1,41.1c22.7,0,41.1-18.4,41.1-41.1     C82.3,18.6,63.9,0.2,41.3,0.2z M51.5,42.7h-6.7c0,10.7,0,23.8,0,23.8h-9.9c0,0,0-13,0-23.8h-4.7v-8.4h4.7v-5.4     c0-3.9,1.9-10,10-10l7.3,0V27c0,0-4.5,0-5.3,0c-0.9,0-2.1,0.4-2.1,2.3v4.9h7.5L51.5,42.7z')
                                //-path.st1(d='M266.9-32.2c-22.8,0-41.3,18.5-41.3,41.3s18.5,41.3,41.3,41.3c22.8,0,41.3-18.5,41.3-41.3   S289.7-32.2,266.9-32.2z M294.7,25.8l-8.6,0c-2.2,0.2-4-0.7-5.5-2.2c-1.2-1.2-2.3-2.5-3.4-3.8c-0.5-0.5-1-1-1.5-1.4   c-1.2-0.8-2.2-0.5-2.9,0.7c-0.7,1.2-0.8,2.6-0.9,4c-0.1,2-0.7,2.6-2.7,2.7c-4.3,0.2-8.5-0.5-12.3-2.6c-3.4-1.9-6-4.7-8.3-7.8   c-4.4-6-7.8-12.6-10.9-19.4c-0.7-1.5-0.2-2.4,1.5-2.4c2.8-0.1,5.6-0.1,8.4,0c1.1,0,1.9,0.7,2.3,1.7c1.5,3.7,3.4,7.3,5.7,10.6   c0.6,0.9,1.3,1.8,2.2,2.4c1,0.7,1.8,0.5,2.2-0.7c0.3-0.7,0.4-1.5,0.5-2.2c0.2-2.6,0.3-5.2-0.1-7.8c-0.2-1.6-1.1-2.7-2.8-3   c-0.8-0.2-0.7-0.5-0.3-0.9c0.7-0.8,1.3-1.3,2.6-1.3h9.7c1.5,0.3,1.9,1,2.1,2.5l0,10.8c0,0.6,0.3,2.4,1.4,2.8c0.9,0.3,1.4-0.4,1.9-1   c2.3-2.5,4-5.4,5.5-8.4c0.7-1.3,1.2-2.7,1.8-4.1c0.4-1,1-1.5,2.2-1.5l9.4,0c0.3,0,0.6,0,0.8,0.1c1.6,0.3,2,0.9,1.5,2.5   c-0.8,2.4-2.3,4.4-3.7,6.5c-1.6,2.2-3.2,4.2-4.8,6.4c-1.4,2-1.3,3,0.5,4.7c2,1.9,4,3.7,5.8,5.8c0.8,0.9,1.5,1.9,2.1,3   C296.8,24,296.1,25.7,294.7,25.8z')
                                g
                                    //-path.st1(d='M463.4-121.5l-22.3,13.7c-0.9,0.5-1.3,1.6-1,2.5l2.4,8.5c0.2,0.6,1,0.5,1.1-0.1l0.6-4.6    c0.1-0.9,0.5-1.7,1.2-2.3l18.4-17.1C464.2-121.2,463.8-121.8,463.4-121.5z')
                                    //-path.st1(d='M449.9-150.3c-22.8,0-41.3,18.5-41.3,41.3c0,22.8,18.5,41.3,41.3,41.3c22.8,0,41.3-18.5,41.3-41.3    C491.2-131.7,472.7-150.3,449.9-150.3z M474.5-128.8l-8.4,40.4c-0.2,1-1.3,1.4-2.1,0.8L452.6-96c-0.7-0.5-1.6-0.5-2.3,0.1    l-6.3,5.2c-0.7,0.6-1.8,0.3-2.1-0.6l-4.4-14.2l-11.4-4.3c-1.2-0.4-1.2-2.1,0-2.5l46.7-18C473.7-130.7,474.8-129.9,474.5-128.8z')

                li
                    a(href="#" target="_blank")
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 82.3 82.7', style='enable-background:new 0 0 82.3 82.7;', xml:space='preserve')
                            style(type='text/css').
                                .st1 {
                                    fill: #ffffff;
                                }
                            g(id='Слой_3')
                                g
                                    g
                                      //-path.st1(d='M225.5,71.4c-22.7,0-41.1,18.4-41.1,41.1c0,22.7,18.4,41.1,41.1,41.1c22.7,0,41.1-18.4,41.1-41.1     C266.6,89.8,248.2,71.4,225.5,71.4z M235.7,113.9h-6.7c0,10.7,0,23.8,0,23.8h-9.9c0,0,0-13,0-23.8h-4.7v-8.4h4.7v-5.4     c0-3.9,1.9-10,10-10l7.3,0v8.2c0,0-4.5,0-5.3,0s-2.1,0.4-2.1,2.3v4.9h7.5L235.7,113.9z')
                                //-path.st1(d='M266.9-32.2c-22.8,0-41.3,18.5-41.3,41.3s18.5,41.3,41.3,41.3c22.8,0,41.3-18.5,41.3-41.3   S289.7-32.2,266.9-32.2z M294.7,25.8l-8.6,0c-2.2,0.2-4-0.7-5.5-2.2c-1.2-1.2-2.3-2.5-3.4-3.8c-0.5-0.5-1-1-1.5-1.4   c-1.2-0.8-2.2-0.5-2.9,0.7c-0.7,1.2-0.8,2.6-0.9,4c-0.1,2-0.7,2.6-2.7,2.7c-4.3,0.2-8.5-0.5-12.3-2.6c-3.4-1.9-6-4.7-8.3-7.8   c-4.4-6-7.8-12.6-10.9-19.4c-0.7-1.5-0.2-2.4,1.5-2.4c2.8-0.1,5.6-0.1,8.4,0c1.1,0,1.9,0.7,2.3,1.7c1.5,3.7,3.4,7.3,5.7,10.6   c0.6,0.9,1.3,1.8,2.2,2.4c1,0.7,1.8,0.5,2.2-0.7c0.3-0.7,0.4-1.5,0.5-2.2c0.2-2.6,0.3-5.2-0.1-7.8c-0.2-1.6-1.1-2.7-2.8-3   c-0.8-0.2-0.7-0.5-0.3-0.9c0.7-0.8,1.3-1.3,2.6-1.3h9.7c1.5,0.3,1.9,1,2.1,2.5l0,10.8c0,0.6,0.3,2.4,1.4,2.8c0.9,0.3,1.4-0.4,1.9-1   c2.3-2.5,4-5.4,5.5-8.4c0.7-1.3,1.2-2.7,1.8-4.1c0.4-1,1-1.5,2.2-1.5l9.4,0c0.3,0,0.6,0,0.8,0.1c1.6,0.3,2,0.9,1.5,2.5   c-0.8,2.4-2.3,4.4-3.7,6.5c-1.6,2.2-3.2,4.2-4.8,6.4c-1.4,2-1.3,3,0.5,4.7c2,1.9,4,3.7,5.8,5.8c0.8,0.9,1.5,1.9,2.1,3   C296.8,24,296.1,25.7,294.7,25.8z')
                                g
                                    path.st1(d='M54.6,28.6L32.4,42.3c-0.8,0.5-1.3,1.6-1,2.5l2.4,8.4c0.2,0.6,1,0.5,1.1-0.1l0.6-4.6c0.1-0.9,0.5-1.7,1.2-2.3    l18.3-17C55.4,28.9,55,28.4,54.6,28.6z')
                                    path.st1(d='M41.2,0C18.4,0,0,18.4,0,41.2c0,22.7,18.4,41.2,41.2,41.2c22.7,0,41.2-18.4,41.2-41.2    C82.3,18.4,63.9,0,41.2,0z M65.8,21.3l-8.4,40.2c-0.2,0.9-1.3,1.4-2.1,0.8l-11.4-8.3c-0.7-0.5-1.6-0.5-2.3,0.1l-6.3,5.2    c-0.7,0.6-1.8,0.3-2.1-0.6l-4.4-14.1l-11.3-4.2c-1.2-0.4-1.2-2.1,0-2.5l46.6-18C65,19.4,66,20.3,65.8,21.3z')

            
            p.main-page__or или
            p.main-page__start-contacts
                a(href="tel:+380501111111") +38(050)-111-11-11
            p.main-page__start-contacts
                a(href="mailto:request@zachet.com.ua") request@zachet.com.ua

            //-.down_b
                //a(href="#services") >