mixin itemServices()
	li
		.icon
			img(src="img/icons/services-icon.png")
		.block-info
			.desc
				h4 Курсовая

			.price
				.old 1000
				//.to От
				.new 1250
				span грн
			a(href="/work-types.html") Подробнее

mixin itemDiscounts(size, to)
	li
		.size= size
			.to= to
		.desc Для новых клиентов

mixin itemDone(title, sum)
	li
		.title= title
		.sum(data-sum= sum)= 0


section.services#services
	.container
		h2 Выполним любой вид задания!
		ul.list_services
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)
			+itemServices(
			)

		ul.discounts
			+itemDiscounts(
			'-15%'
			)
			+itemDiscounts(
			'-15%'
			)
			+itemDiscounts(
			'-40%',
			'До'
			)

	.done
		.container
			ul#progress-sum
				+itemDone(
				'Выполнено заказов',
				'10764'
				)
				+itemDone(
				'Выполнено заказов',
				'2375'
				)
				+itemDone(
				'Сотрудники',
				'209'
				)