mixin itemPlus()
	li
		.icon
			img(src="#")
		.title Широкий выбор предметов
		.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

section.advantage#advantage
	.container
		h2 Выбирая нас, ты выбираешь лучший сервис
		ul.list_plus
			+itemPlus(
			)
			+itemPlus(
			)
			+itemPlus(
			)
			+itemPlus(
			)
			+itemPlus(
			)
			+itemPlus(
			)

