mixin itemStages(num, title)
	li
		.stages-block__card-header
			.number= num
			.title= title
		.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

section.stages#stages
	.container
		h2 Сотрудничать с нами быстро и приятно!
		h4 Как это работает?
	ul.circle-list
		li
			.circle
		li
			.circle
		li
			.circle
		li
			.circle
		li
			.circle
	.container
		ul.list_stages
			+itemStages(
			'1',
			'Сделайте заказ на сайте или через доступные социальные сети'
			)
			+itemStages(
			'2',
			'После оценивания работы внесите предоплату'
			)
			+itemStages(
			'3',
			'Ожидайте выполнения работы'
			)
			+itemStages(
			'4',
			'Получите уведомление о готовности работы'
			)
			+itemStages(
			'5',
			'Внесите оставшуюся сумму и получите заказ'
			)
		.text
			p Мы всегда на связи!
			p Если в Вас возникли вопросы по заказу, наши менеджеры незамедлительно проконсультируют Вас
		a.price-b(href='#home') Узнать стоимость работы
