mixin itemPartners(title)
    li
        .icon
            img(src="http://mignews.com/aimages/01_15/310115_212757_27759_2.jpg")
        .block-info
            .title= title
            .text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            a.more(href="partners.html") Подробнее

section.partners#partners
    .container
        h2 Наши партнёрские программы!
        .short-text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        ul.list-partners
            +itemPartners('Для студентов')
            +itemPartners('Для Агенств')
            +itemPartners('Веб-мастерам')
