.slider-cabinet.new-cabinet
  ul.owl-carousel.owl-theme.order-slider
    li.item-slider
      .icon
        img(src='img/icon-slide.png')
      .content
        h2 День знаний!
        .text
          p Получи много знаний, и очень много тоже получи
    li.item-slider
      .icon
        img(src='img/icon-slide.png')
      .content
        h2 День знаний!
        .text
          p Получи много знаний, и очень много тоже получи
    li.item-slider
      .icon
        img(src='img/icon-slide.png')
      .content
        h2 День знаний!
        .text
          p Получи много знаний, и очень много тоже получи