#inform-modal.modal-new
  .modal-content
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.04504 6.49997L12.68 1.86499C13.1067 1.43833 13.1067 0.746587 12.68 0.319992C12.2534 -0.106664 11.5617 -0.106664 11.135 0.319992L6.49998 4.95504L1.86494 0.319931C1.43828 -0.106725 0.746602 -0.106725 0.319946 0.319931C-0.106649 0.746587 -0.106649 1.43833 0.319946 1.86493L4.95499 6.49991L0.319946 11.135C-0.106649 11.5616 -0.106649 12.2534 0.319946 12.6799C0.746602 13.1066 1.43828 13.1066 1.86494 12.6799L6.49998 8.0449L11.135 12.6799C11.5616 13.1066 12.2534 13.1066 12.68 12.6799C13.1067 12.2533 13.1067 11.5616 12.68 11.135L8.04504 6.49997Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="13" height="13" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    h3 Ваш заказ принят!
    p Вы успешно оформили новую заявку!  Специалист уже оценивает Ваш запрос и скоро с Вами свяжемся

