nav.cabinet
  ul
    li.order-green
      a(href="order-account.html") Заказать
    li
      a(href="cabinet.html") Главная
    li.orders.has-order
      a(href="orders.html").message 
        span Мои заказы
    li.active
      a(href="discount.html") Заработай
    li
      a(href="finance.html") Финансы