section.make
  .container.nav-wrapper
    include 3-nav
  .container
    form()#cabinet-form.cabinet-form.new-form-style
      #tabs
        .tabContent-1.tabContent
          h4 Для оформления заказа заполните пустые поля:
          .form-first
            select#combobox3.form-first-item
              option(value="")
              option(value="КПИ") КПИ
              option(value="Могилянка") Могилянка
              option(value="НУХТ") НУХТ
            .form-second-block
              select#combobox4.form-second-item.form-second-item-big
                option(value="")
                option(value="Економический") Економический
                option(value="Механический") Механический
                option(value="ФЕиТ") ФЕиТ
              select#combobox5.form-second-item.form-second-item-little
                option(value="")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
              //- select#comboboxHide
              //-   option(value="22222") 222222
              //-   option(value="22223") 222223
            select.form-first-item.combobox1#typeOfWork(name="typeOfWork")
              option
              option(value="Реферат") Реферат
              option(value="Экзамен") Экзамен
              option(value="Курсовая работа") Курсовая работа
              option(value="Лабораторная") Лабораторная
              option(value="Диплом") Диплом
            select#combobox2.form-first-item.typeAll(onclick="$(this).autocomplete('enable');")
              option
              option(value="Информатика") Информатика
              option(value="Геометрия") Геометрия
              option(value="Тригонометрия") Тригонометрия
              option(value="Высшая математика") Высшая математика
            #part-type-form
              .type-one-wrapper
                input(type="text" class="form-first-item" placeholder="Тема*" id="theme" required='' name="theme").typeOne
                input(type="text" class="form-first-item" data-timepicker="true" placeholder="Срок сдачи*" readonly="true" name="datepicker" id='timepicker-actions-with-time').typeOne
              .type-two-wrapper
                input(type="text" class="form-first-item" placeholder="Количество заданий*" name="quantity").typeTwo
                input(type="text" class="form-first-item" placeholder="Дата сдачи*" readonly="true" name="datepicker" id='timepicker-actions-without-time').typeTwo
                .form-second-list.time-chose.typeTwo
                  input(type="time" class="form-first-item form-second-item" id="time" placeholder="Время начала*" name="startTime" required="required")
                  input(type="time" class="form-first-item form-second-item" id="time2" placeholder="Время окончания*" name="stopTime" required="required")
            textarea(type="text" rows="1" class="form-first-item" id="textArea" placeholder="Требования/Комментарий").typeAll
            .button_add.typeAll
              label(for="file")
                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M8.83248 8.47441C9.09295 8.21395 9.09295 7.79069 8.83248 7.53023C8.57202 7.26976 8.14876 7.26976 7.8883 7.53023L4.35574 11.0628C3.75341 11.6651 3.42783 12.4465 3.42783 13.293C3.42783 14.1395 3.75341 14.9209 4.35574 15.5232C5.59295 16.7605 7.59527 16.7605 8.8162 15.5232L16.7929 7.54651C17.6232 6.71627 18.079 5.6093 18.079 4.4372C18.079 3.26511 17.6232 2.15813 16.7929 1.3279C15.0674 -0.397681 12.2836 -0.397681 10.5581 1.3279L2.5976 9.28837C1.52318 10.3628 0.937134 11.7791 0.937134 13.293C0.937134 14.807 1.52318 16.2395 2.5976 17.2977C3.67202 18.3721 5.0883 18.9581 6.60225 18.9581C8.1162 18.9581 9.54876 18.3721 10.6069 17.2977L14.1395 13.7651C14.3999 13.5046 14.3999 13.0814 14.1395 12.8209C13.879 12.5605 13.4557 12.5605 13.1953 12.8209L9.66271 16.3535C8.84876 17.1674 7.75806 17.6233 6.60225 17.6233C5.44644 17.6233 4.35574 17.1674 3.54178 16.3535C2.72783 15.5395 2.27202 14.4488 2.27202 13.293C2.27202 12.1372 2.72783 11.0465 3.54178 10.2326L11.5022 2.27209C12.0883 1.68604 12.8534 1.37674 13.6674 1.37674C14.4813 1.37674 15.2627 1.70232 15.8325 2.27209C16.4185 2.85813 16.7278 3.62325 16.7278 4.4372C16.7278 5.25116 16.4022 6.03255 15.8325 6.60232L7.85574 14.5791C7.15574 15.2791 5.99992 15.2791 5.28365 14.5791C4.94178 14.2372 4.74644 13.7814 4.74644 13.293C4.74644 12.8046 4.94178 12.3488 5.28365 12.007L8.83248 8.47441Z" fill="#40297B")
                #add_cont(type="file") Прикрепить документ<br>(методичка, требования, условие и т.д)
            input(type="file" multiple class="disNone" id="file").hide
            .files-inputed.typeAll
            
            input(type="text" class="form-first-item" placeholder="Промокод" id="promo")
          button.button_add_order(type="submit") Оценить