section.orders.orders-order-wrapper
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    a.back(href="orders.html") Назад к заказам
    .order.blue-buttons
      .desc-wrapper
        .desc-header Заказ №78346994
        .desc
          .desc__order-firstcolumn
            div
              span Статус:
              span В обработке
            div
              span ВУЗ:
              span КПІ им. И. Сикорського
            div
              span Факультет:
              span МЭИМ
            div
              span Курс:
              span 4
            div
              span Предмет:
              span Международная экономика
          .desc__order-secondcolumn
            div
              span Срок сдачи:
              span 15.12.18 18:00
            div
              span Тип работы:
              span Магистерская робота
            div
              span Тема работы:
              span Ошибки бухгалтерии в эпоху марксизма и Ошибки бухгалтерии в эпоху марксизма
            div
              span Документы:
              span Методичка.док, Методичка.док, Методичка.док
        .desc-footer Требования к работе / Комментарий: <br>
          span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, dolores maxime. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, dolores maxime. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, dolores maxime. Ex, dolores maxime. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, dolores maxime. Ex, dolores maxime. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          .show-more-wrapper
            span ...
            span.show-more Показать еще
      .price
        .money-button-wrapper
          .price-money
            .old
              span 1700
              span= ' грн'
            .new 1250
              span= ' грн'
          a(href="#").pay Скачать файл <span>(6)</span>
        .date-of-order-wrapper
          .date-of-order-name Дата поступления заказа:
          .date-of-order 13.11.18 22:00
      a(href="#").pay.small-pay-button Скачать файл <span>(6)</span>
    .chat
      .chat__header
        .chat__header-wrapper
          button(data-num="one").active Чат с менеджером
            span.message
          button(data-num="two") Чат с автором
          button(data-num="three") Чат для примера
            span.message
      .chat__wrapper
        .chat-wrapper__content-wrapper
          #one.chat-variant
            i.fa.fa-search
            form.search-form
              .hide-wrapper
                input(type="text")
                .serch-nums <span class="one">0</span> из <span class="two">0</span>
                .search-btns-wrapper
                  i.fa.fa-caret-down(aria-hidden="true")
                  i.fa.fa-caret-up(aria-hidden="true")
            .chat-history#chat-history
              ul
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team. <a href="#">Document to download</a>
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:31 AM, Today
                  .dots-wrapper
                    i.fa.fa-circle.online.one
                    i.fa.fa-circle.online.two
                    i.fa.fa-circle.online.three
            //- end chat-history
            .chat-message.clearfix
              form.message-wrapper
                label.attach-area
                  .fa.fa-paperclip.fa-rotate-270
                  input(type="file")
                textarea.message-to-send(name='message-to-send' placeholder='Написать сообщение...' rows='1')
                button Отправить
            //- end chat-message
            i.fa.fa-arrow-circle-down(aria-hidden="true")
          #two.chat-variant(style='display:none')
            i.fa.fa-search
            form.search-form
              .hide-wrapper
                input(type="text")
                .serch-nums <span class="one">0</span> из <span class="two">0</span>
                .search-btns-wrapper
                  i.fa.fa-caret-down(aria-hidden="true")
                  i.fa.fa-caret-up(aria-hidden="true")
            .chat-history#chat-history
              ul
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:31 AM, Today
                  .dots-wrapper
                    i.fa.fa-circle.online.one
                    i.fa.fa-circle.online.two
                    i.fa.fa-circle.online.three
            //- end chat-history
            .chat-message.clearfix
              form.message-wrapper
                label.attach-area
                  .fa.fa-paperclip.fa-rotate-270
                  input(type="file")
                textarea.message-to-send(name='message-to-send' placeholder='Написать сообщение...' rows='1')
                button Отправить
            //- end chat-message
            i.fa.fa-arrow-circle-down(aria-hidden="true")
          #three.chat-variant(style='display:none')
            i.fa.fa-search
            form.search-form
              .hide-wrapper
                input(type="text")
                .serch-nums <span class="one">0</span> из <span class="two">0</span>
                .search-btns-wrapper
                  i.fa.fa-caret-down(aria-hidden="true")
                  i.fa.fa-caret-up(aria-hidden="true")
            .chat-history#chat-history
              ul
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:10 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Hi Vincent, how are you? How is the project coming along?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:12 AM, Today
                  .message.my-message
                    | Are we meeting today? Project has been already finished and I have results to show you.
                    i.fa.fa-reply(aria-hidden="true")
                li.clearfix
                  .message-data.align-right
                    span.message-data-time 10:14 AM, Today
                    span.message-data-name Olia
                    i.fa.fa-circle.me
                  .message.other-message.float-right
                    | Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:20 AM, Today
                  .message.my-message
                    | Actually everything was fine. I&apos;m very excited to show this to our team.
                    i.fa.fa-reply(aria-hidden="true")
                li
                  .message-data
                    span.message-data-name
                      i.fa.fa-circle.online
                      |  Vincent
                    span.message-data-time 10:31 AM, Today
                  .dots-wrapper
                    i.fa.fa-circle.online.one
                    i.fa.fa-circle.online.two
                    i.fa.fa-circle.online.three
            //- end chat-history
            .chat-message.clearfix
              form.message-wrapper
                label.attach-area
                  .fa.fa-paperclip.fa-rotate-270
                  input(type="file")
                textarea.message-to-send(name='message-to-send' placeholder='Написать сообщение...' rows='1')
                button Отправить
            //- end chat-message
            i.fa.fa-arrow-circle-down(aria-hidden="true")



