section.cabinet-main-section
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    .cabinet-main-wrapper
      .main-links-wrapper
        .main-links-wrapper__profile
          .header-wrapper
            .icon
              img(src="img/icons/cabinet-profile.svg", alt="profile")
            .header Мой профиль
            .text Указывайте только правдивую информацию! Это поможет подобрать самого лучшего автора для вашего заказа
          a(href="profile.html", title="Редактировать профиль").btn-primary Редактировать профиль
        .main-links-wrapper__faq
          .header-wrapper
            .icon
              img(src="img/icons/cabinet-faq.svg", alt="faq")
            .header FAQ
            .text Ознакомьтесь с правилами работы в личном кабинете, чтобы работа с нами была еще быстрее и эффективнее.
          a(href="faq.html", title="Прочитать инструкцию").btn-primary Прочитать инструкцию
        .main-links-wrapper__reviews
          .header-wrapper
            .icon
              img(src="img/icons/cabinet-reviews.svg", alt="reviews")
            .header Отзывы
            .text Помогите другим студентам узнать о нас! Оцените нашу работу и оставьте отзыв в Facebook
          a(href="reviews.html", title="Оценить").btn-primary Оценить
      .orders-links-wrapper
        .orders-links-wrapper__last-orders-wrapper
          h3 Последние заказы
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status
                span Статус:
                span 5656 грн
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых сверхтвердых сверх твердых сверхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота Магистерская робота Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
        .orders-links-wrapper__ready-orders-wrapper
          h3 Готовые заказы
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status
                span Статус:
                span 5656 грн
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых сверхтвердых сверх твердых сверхтвердых
      .profile-activity
        h3 Активность профиля
        .profile-activity__wrapper
          ul
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>