section.orders.orders-order-wrapper
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    a.back(href="orders.html") Назад к заказам
    .order.grey-buttons
      .desc-wrapper
        .desc-header Заказ №78346994
        .desc
          .desc__order-firstcolumn
            div
              span Статус:
              span В обработке
            div
              span ВУЗ:
              span КПІ им. И. Сикорського
            div
              span Факультет:
              span МЭИМ
            div
              span Курс:
              span 4
            div
              span Предмет:
              span Международная экономика
          .desc__order-secondcolumn
            div
              span Дата сдачи:
              span 15.12.18
            div
              span Время:
              span 15:00-18:00
            div
              span Тип работы:
              span Онлайн решение
            div
              span Кол-во заданий:
              span 16
            div
              span Документы:
              span Методичка.док, Методичка.док, Методичка.док
        .desc-footer Требования к работе / Комментарий:
          span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, dolores maxime. Dolor minima sunt maiores id? Fuga, nobis itaque? Esse obcaecati totam perspiciatis. Consequatur, delectus? Quidem odit cupiditate iure minima, laboriosam possimus a vitae velit dolorum. Repudiandae ullam quas quidem aspernatur officiis alias corporis vitae natus laborum. Modi, culpa non! Dignissimos itaque nam placeat at tempora officia esse sunt laboriosam, optio asperiores est voluptas quasi omnis id hic veniam corporis dolores velit enim aspernatur doloremque molestias alias obcaecati? Debitis quaerat blanditiis, voluptas repudiandae illum praesentium qui earum eos, nihil doloribus et explicabo dolorem laboriosam tempora excepturi dolore beatae perspiciatis natus.
          .show-more-wrapper
            span ...
            span.show-more Показать еще
      .price
        .money-button-wrapper
          .price-money
            .old
              span 1700
              span= ' грн'
            .new 1250
              span= ' грн'
          a(href="#").pay Оплатить
        .date-of-order-wrapper
          .date-of-order-name Дата поступления заказа:
          .date-of-order 13.11.18 22:00
      a(href="#").pay.small-pay-button Оплатить
    .chat
      .chat__header Чат с менеджером
      .chat__wrapper