doctype html
html(lang='ru')
  block vars
  head
    title #{title}
    block head
      include head
  body(class= bodyClass)
    block noscript
      include noscript

    block navigation
      include navigation-cabinet-new

    block content

    block footer
      include footer-new

    block modals
      //-include modals

    block scripts
      include scripts
