// footer
footer.footer.new-footer
    .container.container_first_order
        .footer_corp
            p   Компания Зачёт<br>Все права защищены.<br>2011-2018
        .about-list
            ul
                li
                    a(href="#home" ) Главная
                li
                    a(href="#about" ) О нас
                li
                    a(href="#home" ) Личный кабинет
        .footer_social
            h4 Мы в соц.сетях!
            ul.list-item
                li
                    a(href="#" target="_blank")
                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1")
                            path(style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 12.484375 0 C 5.59375 0 0 5.59375 0 12.484375 C 0 19.378906 5.59375 24.96875 12.484375 24.96875 C 19.378906 24.96875 24.96875 19.378906 24.96875 12.484375 C 24.96875 5.59375 19.40625 0 12.484375 0 Z M 20.917969 17.535156 L 18.320312 17.535156 C 17.652344 17.59375 17.109375 17.320312 16.65625 16.867188 C 16.292969 16.503906 15.960938 16.113281 15.628906 15.71875 C 15.476562 15.566406 15.328125 15.417969 15.175781 15.296875 C 14.8125 15.054688 14.511719 15.144531 14.296875 15.507812 C 14.085938 15.871094 14.058594 16.292969 14.027344 16.71875 C 13.996094 17.320312 13.816406 17.503906 13.210938 17.535156 C 11.910156 17.59375 10.640625 17.382812 9.492188 16.746094 C 8.464844 16.171875 7.679688 15.328125 6.984375 14.390625 C 5.652344 12.574219 4.625 10.582031 3.6875 8.523438 C 3.476562 8.070312 3.628906 7.800781 4.140625 7.800781 C 4.988281 7.769531 5.835938 7.769531 6.679688 7.800781 C 7.011719 7.800781 7.253906 8.011719 7.375 8.3125 C 7.828125 9.433594 8.402344 10.519531 9.097656 11.515625 C 9.28125 11.789062 9.492188 12.0625 9.765625 12.242188 C 10.066406 12.453125 10.308594 12.394531 10.429688 12.03125 C 10.519531 11.820312 10.550781 11.578125 10.582031 11.367188 C 10.640625 10.582031 10.671875 9.792969 10.550781 9.007812 C 10.488281 8.523438 10.21875 8.191406 9.703125 8.101562 C 9.460938 8.042969 9.492188 7.949219 9.613281 7.828125 C 9.824219 7.585938 10.007812 7.4375 10.398438 7.4375 L 13.332031 7.4375 C 13.785156 7.527344 13.90625 7.738281 13.964844 8.191406 L 13.964844 11.457031 C 13.964844 11.636719 14.058594 12.183594 14.390625 12.304688 C 14.660156 12.394531 14.8125 12.183594 14.964844 12 C 15.660156 11.246094 16.171875 10.367188 16.625 9.460938 C 16.839844 9.070312 16.988281 8.644531 17.171875 8.222656 C 17.292969 7.921875 17.472656 7.769531 17.835938 7.769531 L 20.675781 7.769531 C 20.769531 7.769531 20.859375 7.769531 20.917969 7.800781 C 21.402344 7.890625 21.523438 8.070312 21.371094 8.554688 C 21.128906 9.28125 20.675781 9.886719 20.253906 10.519531 C 19.769531 11.183594 19.285156 11.789062 18.804688 12.453125 C 18.378906 13.058594 18.410156 13.363281 18.953125 13.875 C 19.558594 14.449219 20.164062 14.992188 20.707031 15.628906 C 20.949219 15.902344 21.160156 16.203125 21.34375 16.535156 C 21.554688 16.988281 21.34375 17.503906 20.917969 17.535156 Z M 20.917969 17.535156 ")
                li
                    a(href="#" target="_blank")
                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1")
                            path(style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 16.585938 8.671875 L 9.84375 12.785156 C 9.597656 12.933594 9.445312 13.265625 9.539062 13.535156 L 10.265625 16.054688 C 10.328125 16.238281 10.570312 16.207031 10.601562 16.027344 L 10.785156 14.644531 C 10.8125 14.375 10.9375 14.136719 11.148438 13.957031 L 16.707031 8.855469 C 16.828125 8.761719 16.707031 8.613281 16.585938 8.671875 Z M 16.585938 8.671875 ")
                            path(style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 12.515625 0.0898438 C 5.589844 0.0898438 0 5.613281 0 12.453125 C 0 19.265625 5.589844 24.820312 12.515625 24.820312 C 19.410156 24.820312 25.03125 19.296875 25.03125 12.453125 C 25 5.613281 19.410156 0.0898438 12.515625 0.0898438 Z M 19.988281 6.484375 L 17.4375 18.546875 C 17.375 18.816406 17.042969 18.96875 16.796875 18.789062 L 13.335938 16.296875 C 13.121094 16.144531 12.847656 16.144531 12.636719 16.328125 L 10.722656 17.886719 C 10.511719 18.066406 10.175781 17.976562 10.085938 17.707031 L 8.75 13.476562 L 5.316406 12.214844 C 4.953125 12.09375 4.953125 11.585938 5.316406 11.464844 L 19.472656 6.0625 C 19.746094 5.914062 20.046875 6.183594 19.988281 6.484375 Z M 19.988281 6.484375 ")
                li
                    a(href="#" target="_blank")
                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1")
                            path(style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 12.546875 0.152344 C 5.648438 0.152344 0.0625 5.671875 0.0625 12.453125 C 0.0625 19.265625 5.648438 24.789062 12.546875 24.789062 C 19.441406 24.789062 25.03125 19.265625 25.03125 12.453125 C 25 5.671875 19.410156 0.152344 12.546875 0.152344 Z M 15.644531 12.90625 L 13.609375 12.90625 C 13.609375 16.117188 13.609375 20.046875 13.609375 20.046875 L 10.601562 20.046875 C 10.601562 20.046875 10.601562 16.144531 10.601562 12.90625 L 9.171875 12.90625 L 9.171875 10.382812 L 10.601562 10.382812 L 10.601562 8.761719 C 10.601562 7.59375 11.179688 5.761719 13.640625 5.761719 L 15.855469 5.761719 L 15.855469 8.195312 C 15.855469 8.195312 14.488281 8.195312 14.246094 8.195312 C 13.972656 8.195312 13.609375 8.3125 13.609375 8.882812 L 13.609375 10.355469 L 15.886719 10.355469 Z M 15.644531 12.90625 ")



