//- google analytics
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-125413338-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-125413338-1');
//- chat bitrix
//- script(data-skip-moving='true').
  (function(w,d,u){
  var s=d.createElement('script');s.async=1;s.src=u+'?'+(Date.now()/60000|0);
  var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
  })(window,document,'https://bitrix24.zachet.com.ua/upload/crm/site_button/loader_1_kmt3jd.js');


//- meta
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

meta(name="description" content="")
meta(name="keywords" content="")

//- generate image here http://realfavicongenerator.net/
link(rel="apple-touch-icons", sizes="180x180", href="img/icons/favicons/apple-touch-icons.png")
link(rel="icon", type="image/png", href="img/icons/favicons/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="img/icons/favicons/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="img/icons/favicons/manifest.json")
link(rel="mask-icons", href="img/icons/favicons/safari-pinned-tab.svg", color="#5bbad5")
meta(name="theme-color", content="#ffffff")
link(rel='manifest' href='img/icons/favicons/site.webmanifest')
meta(name='msapplication-TileColor' content='#da532c')

// open graph
meta(property="og:type" content="website")
meta(property="og:title" content="---")
meta(property="og:description" content="---")
meta(property="og:image" content="---")
meta(property="og:url" content="---")
meta(name="twitter:image" content="---")
meta(name="twitter:title" content="---")
meta(name="twitter:url" content="---")
meta(name="twitter:card" content="summary")
meta(name="twitter:description" content="---")

//- link(rel='stylesheet', href='external/---')
link(rel='stylesheet', href='external/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='external/owl.carousel/dist/assets/owl.carousel.css')
link(rel='stylesheet', href='external/owl.carousel/dist/assets/owl.theme.default.css')
link(rel='stylesheet', href='external/datetimepicker/build/jquery.datetimepicker.min.css')
link(rel='stylesheet', href='external/jquery-bar-rating/dist/themes/fontawesome-stars.css')
link(rel='stylesheet', href='external/jquery-nice-select/css/nice-select.css')
link(rel='stylesheet', href='external/animate/animate.css')
link(rel='stylesheet', href='external/Vertical-Carousel/css/jQuery.verticalCarousel.css')

link(rel="stylesheet" href="css/datepicker.min.css")
link(rel="stylesheet" href="external/autocomplite/jquery-ui.css")




link(rel='stylesheet', href='css/build.min.css')