header.cabinet
	.container
		.logo.top-menu
			a(href="index.html")
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', id='Слой_2', x='0px', y='0px', viewbox='0 0 282.8 68.4', style='enable-background:new 0 0 282.8 68.4;', xml:space='preserve')
					style(type='text/css').
						.st0 {
							fill: #04FF9C;
						}
					g
						path.st0(d='M23.8,26.7h4.8c2.2,0,4.6-0.4,6.7-2.5c1.8-1.7,2.8-4.3,2.8-6.4c0-1.8-0.7-3-1.3-3.8c-1.5-1.6-3.5-1.7-5-1.7   c-1.3,0-3.7,0.2-5.7,1.3c-1.9,1.1-3.6,3.4-3.6,6.4v0.2l-10.8-1.1c0-0.2-0.2-0.8-0.2-1.7c0-2.8,1-8.3,7.9-12.1c4.6-2.5,9.4-3,13.9-3   c3.4,0,11.4,0.3,15.7,4.6c2.8,2.8,3.3,6,3.3,7.9c0,4.8-1.7,8.1-3.9,10.7c-2.3,2.8-4.7,4.3-7.9,5.1L40.5,31c2.8,0.6,5.1,2,6.5,3.9   c1.1,1.5,2.2,3.7,2.2,7.1c0,4.7-2.1,10.7-9,15.3c-6.2,4.2-13,4.7-18.1,4.7c-4.5,0-8.5-0.7-12.5-2.5c-2.6-1.2-5.1-3-7.1-5l7.2-8.1   c0.9,0.9,3,2.8,6,4.1c2.5,1.1,5.3,1.6,7.8,1.6c3.9,0,6.9-0.9,9.3-3.1c2.1-2,3-4.3,3-6.7c0-1.1-0.2-2.8-1.9-4.3   c-2-1.6-4.8-1.8-6.8-1.8H22L23.8,26.7z')
						path.st0(d='M81.7,56.5c-0.3,0.3-1.6,1.6-3.3,2.7c-2.4,1.6-5.7,2.7-9.5,2.7c-5.4,0-9.9-2.3-12.4-5.9   c-1.6-2.4-2.4-5.7-2.4-9.6c0-8,3.4-17.5,10.6-22.7c3.8-2.7,8.8-4.3,14.2-4.3c2.9,0,6.5,0.7,9.4,1.6c2.5,0.8,5.6,2.1,7.9,3.4   l-5.1,26.4l-1.2,11.1h-6L81.7,56.5z M83.1,30.1c-2.2-1.9-4-2.2-5.4-2.2c-2.2,0-3.9,0.4-5.9,2.1c-3.2,2.8-3.7,6-4.3,9.2L67,42.4   c-0.2,1.4-0.7,3.3-0.7,5.1c0,1.5,0.2,3,1.1,4c0.6,0.7,1.8,1.9,4.3,1.9c2.4,0,4.1-0.9,5.4-2.1c2.6-2.5,3-5.8,3.6-8.6L83.1,30.1z')
						path.st0(d='M131.3,60.9h-12l3-15.3c-3,0.7-6.4,1.2-8.9,1.2c-4.5,0-9.3-1.3-11.5-4c-1.3-1.7-1.7-3.9-1.7-5.7   c0-1.6,0.3-3.1,0.5-4l2.5-12.6h12L112.6,33c-0.1,0.3-0.2,0.8-0.2,1.3c0,0.7,0.2,1.6,0.7,2.3c0.6,0.7,1.9,1.5,4.8,1.5   c1.7,0,3.8-0.2,6-0.8l3.3-16.9h12L131.3,60.9z')
						path.st0(d='M178.4,57c-2.5,1.4-5.1,2.5-7.6,3.4c-3.1,1-6.5,1.6-10.6,1.6c-5,0-10.5-1-14.3-5.7c-1.6-2.1-3.4-5.2-3.4-10.3   c0-7.1,2.6-15,8-20.2s11.6-6.3,16.6-6.3c3.8,0,7.3,0.6,10.3,2.6c3.4,2.3,4.5,5.4,4.5,8.7c0,3-1.3,6.8-5.8,10.1   c-5.7,4-14.1,5.1-19.9,5.1h-1.3v0.4c0,2.2,0.6,4,2,5.2c1.6,1.3,4.4,1.7,6.3,1.7c2.4,0,4.2-0.2,6.6-1c2.2-0.7,4-1.4,5.9-2.4   L178.4,57z M157.2,3.7c3.4,0,6.1,2.7,6.1,6.1s-2.7,6.1-6.1,6.1c-3.4,0-6.1-2.7-6.1-6.1S153.8,3.7,157.2,3.7z M164.2,37.5   c2.3-0.7,6.1-2,6.1-6.1c0-1.8-0.7-2.8-1.4-3.4c-1.2-1.1-3-1.1-3.4-1.1c-1.8,0-3.9,0.7-5.6,2.4c-2.2,2.1-3.9,5.7-4.3,9.3   C157.1,38.6,160.5,38.5,164.2,37.5z M175.3,3.7c3.4,0,6.1,2.7,6.1,6.1s-2.7,6.1-6.1,6.1c-3.4,0-6.1-2.7-6.1-6.1S172,3.7,175.3,3.7z   ')
						path.st0(d='M186.1,60.9l6.2-32h-4.7l1.6-8.5h14.6l-0.7,3.5l1-0.7c3.3-2.5,7.6-3.8,11.7-3.8c1.2,0,4.2,0.2,6.6,1.7   c1.5,1,2.5,2.4,2.7,2.8c4.1-4,8.9-4.5,11.2-4.5c3,0,6.8,0.6,9.3,2.4c3.2,2.4,3.9,5.9,3.9,8.8c0,1.7-0.2,3.2-0.4,4.2l-5.1,26.2h-12   l5.3-27.5c0.1-0.6,0.2-1.1,0.2-1.6c0-1.2-0.3-2-0.7-2.6c-0.4-0.6-1.4-1.4-3.4-1.4c-2.5,0-4.5,1.3-6.6,2.8l-5.9,30.3h-12l5.3-27.5   c0.1-0.6,0.2-1.1,0.2-1.6c0-1.2-0.3-2-0.7-2.5c-0.4-0.6-1.4-1.4-3.4-1.4c-2.5,0-4.5,1.3-6.6,2.8l-5.9,30.3H186.1z')
						path.st0(d='M256.4,60.9l2-10.7h11.5l-2.1,10.7H256.4z M279.9,3.5l-10.7,42.4h-8.4l5.7-42.4H279.9z')

		.but
			a.profile(href="#in") Антоха МС
		.hamburger-menu
			.bar

