header
  .container
    .logo
      a(href="#home")
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', id='Слой_2', x='0px', y='0px', viewbox='0 0 282.8 68.4', style='enable-background:new 0 0 282.8 68.4;', xml:space='preserve')
          style(type='text/css').
            .st0 {
              fill: #04FF9C;
            }
          g
            path.st0(d='M23.8,26.7h4.8c2.2,0,4.6-0.4,6.7-2.5c1.8-1.7,2.8-4.3,2.8-6.4c0-1.8-0.7-3-1.3-3.8c-1.5-1.6-3.5-1.7-5-1.7   c-1.3,0-3.7,0.2-5.7,1.3c-1.9,1.1-3.6,3.4-3.6,6.4v0.2l-10.8-1.1c0-0.2-0.2-0.8-0.2-1.7c0-2.8,1-8.3,7.9-12.1c4.6-2.5,9.4-3,13.9-3   c3.4,0,11.4,0.3,15.7,4.6c2.8,2.8,3.3,6,3.3,7.9c0,4.8-1.7,8.1-3.9,10.7c-2.3,2.8-4.7,4.3-7.9,5.1L40.5,31c2.8,0.6,5.1,2,6.5,3.9   c1.1,1.5,2.2,3.7,2.2,7.1c0,4.7-2.1,10.7-9,15.3c-6.2,4.2-13,4.7-18.1,4.7c-4.5,0-8.5-0.7-12.5-2.5c-2.6-1.2-5.1-3-7.1-5l7.2-8.1   c0.9,0.9,3,2.8,6,4.1c2.5,1.1,5.3,1.6,7.8,1.6c3.9,0,6.9-0.9,9.3-3.1c2.1-2,3-4.3,3-6.7c0-1.1-0.2-2.8-1.9-4.3   c-2-1.6-4.8-1.8-6.8-1.8H22L23.8,26.7z')
            path.st0(d='M81.7,56.5c-0.3,0.3-1.6,1.6-3.3,2.7c-2.4,1.6-5.7,2.7-9.5,2.7c-5.4,0-9.9-2.3-12.4-5.9   c-1.6-2.4-2.4-5.7-2.4-9.6c0-8,3.4-17.5,10.6-22.7c3.8-2.7,8.8-4.3,14.2-4.3c2.9,0,6.5,0.7,9.4,1.6c2.5,0.8,5.6,2.1,7.9,3.4   l-5.1,26.4l-1.2,11.1h-6L81.7,56.5z M83.1,30.1c-2.2-1.9-4-2.2-5.4-2.2c-2.2,0-3.9,0.4-5.9,2.1c-3.2,2.8-3.7,6-4.3,9.2L67,42.4   c-0.2,1.4-0.7,3.3-0.7,5.1c0,1.5,0.2,3,1.1,4c0.6,0.7,1.8,1.9,4.3,1.9c2.4,0,4.1-0.9,5.4-2.1c2.6-2.5,3-5.8,3.6-8.6L83.1,30.1z')
            path.st0(d='M131.3,60.9h-12l3-15.3c-3,0.7-6.4,1.2-8.9,1.2c-4.5,0-9.3-1.3-11.5-4c-1.3-1.7-1.7-3.9-1.7-5.7   c0-1.6,0.3-3.1,0.5-4l2.5-12.6h12L112.6,33c-0.1,0.3-0.2,0.8-0.2,1.3c0,0.7,0.2,1.6,0.7,2.3c0.6,0.7,1.9,1.5,4.8,1.5   c1.7,0,3.8-0.2,6-0.8l3.3-16.9h12L131.3,60.9z')
            path.st0(d='M178.4,57c-2.5,1.4-5.1,2.5-7.6,3.4c-3.1,1-6.5,1.6-10.6,1.6c-5,0-10.5-1-14.3-5.7c-1.6-2.1-3.4-5.2-3.4-10.3   c0-7.1,2.6-15,8-20.2s11.6-6.3,16.6-6.3c3.8,0,7.3,0.6,10.3,2.6c3.4,2.3,4.5,5.4,4.5,8.7c0,3-1.3,6.8-5.8,10.1   c-5.7,4-14.1,5.1-19.9,5.1h-1.3v0.4c0,2.2,0.6,4,2,5.2c1.6,1.3,4.4,1.7,6.3,1.7c2.4,0,4.2-0.2,6.6-1c2.2-0.7,4-1.4,5.9-2.4   L178.4,57z M157.2,3.7c3.4,0,6.1,2.7,6.1,6.1s-2.7,6.1-6.1,6.1c-3.4,0-6.1-2.7-6.1-6.1S153.8,3.7,157.2,3.7z M164.2,37.5   c2.3-0.7,6.1-2,6.1-6.1c0-1.8-0.7-2.8-1.4-3.4c-1.2-1.1-3-1.1-3.4-1.1c-1.8,0-3.9,0.7-5.6,2.4c-2.2,2.1-3.9,5.7-4.3,9.3   C157.1,38.6,160.5,38.5,164.2,37.5z M175.3,3.7c3.4,0,6.1,2.7,6.1,6.1s-2.7,6.1-6.1,6.1c-3.4,0-6.1-2.7-6.1-6.1S172,3.7,175.3,3.7z   ')
            path.st0(d='M186.1,60.9l6.2-32h-4.7l1.6-8.5h14.6l-0.7,3.5l1-0.7c3.3-2.5,7.6-3.8,11.7-3.8c1.2,0,4.2,0.2,6.6,1.7   c1.5,1,2.5,2.4,2.7,2.8c4.1-4,8.9-4.5,11.2-4.5c3,0,6.8,0.6,9.3,2.4c3.2,2.4,3.9,5.9,3.9,8.8c0,1.7-0.2,3.2-0.4,4.2l-5.1,26.2h-12   l5.3-27.5c0.1-0.6,0.2-1.1,0.2-1.6c0-1.2-0.3-2-0.7-2.6c-0.4-0.6-1.4-1.4-3.4-1.4c-2.5,0-4.5,1.3-6.6,2.8l-5.9,30.3h-12l5.3-27.5   c0.1-0.6,0.2-1.1,0.2-1.6c0-1.2-0.3-2-0.7-2.5c-0.4-0.6-1.4-1.4-3.4-1.4c-2.5,0-4.5,1.3-6.6,2.8l-5.9,30.3H186.1z')
            path.st0(d='M256.4,60.9l2-10.7h11.5l-2.1,10.7H256.4z M279.9,3.5l-10.7,42.4h-8.4l5.7-42.4H279.9z')
    nav.menu
      ul.top-menu
        li(style="display: none")
          a(href="#home") Главная
        li
          a(href="#services") Услуги
        li
          a(href="#advantage") Преимущества
        li
          a(href="#reviews") Отзывы
        li
          a(href="#job") Работа
        li
          a(href="#partners") Партнерам
        li
          a(href="#about") О компании
    //-hide
    a.btn-primary.personal-account-header-btn#personal-account Личный кабинет
    //- hide
    .header__accordion.header__accordion-main.hide
      a(href="cabinet.html").header__accordion-b Константиндлинный
        <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 11L0.937823 0.499999L13.0622 0.5L7 11Z" fill="white"/></svg>
    .hamburger-menu.hamburger-menu-new.main-page-hamburger
      .bar
    .mobile-menu-wrapper.main-page-hamburger-wrapper
      .mobile-menu-wrapper__main-content-wrappper
        nav.mobile-menu-wrapper__nav
          ul.menu
            li
              a(href="#services") Услуги
            li
              a(href="#advantage").active Преимущества
            li
              a(href="#reviews") Отзывы
            li
              a(href="#job") Работа
            li
              a(href="#partners") Партнерам
            li
              a(href="#about") О компании
            //- .hide
            li
              ul.wrapper
                li
                  a(href="profile.html") Мой профиль
                li
                  a(href="reviews.html") Отзывы
                li
                  a(href="faq.html") FAQ
                li
                  form
                    button(type="submit").exit
                      svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M19.9367 8.84817C19.8942 8.74649 19.8333 8.65399 19.7558 8.57649L17.2567 6.07731C16.9308 5.75231 16.4042 5.75231 16.0783 6.07731C15.7525 6.40313 15.7525 6.93063 16.0783 7.25563L17.1558 8.33313H12.5008C12.04 8.33313 11.6675 8.70645 11.6675 9.16645C11.6675 9.62645 12.04 9.99977 12.5008 9.99977H17.1558L16.0783 11.0773C15.7525 11.4031 15.7525 11.9306 16.0783 12.2556C16.2408 12.4189 16.4541 12.4998 16.6675 12.4998C16.8808 12.4998 17.0942 12.419 17.2567 12.2556L19.7558 9.75641C19.8333 9.67973 19.8942 9.58723 19.9367 9.48473C20.0208 9.28149 20.0208 9.05149 19.9367 8.84817Z' fill='white')
                        path(d='M14.1671 11.6667C13.7063 11.6667 13.3338 12.04 13.3338 12.5V16.6667H10.0005V3.33332C10.0005 2.96582 9.75881 2.64082 9.40631 2.535L6.51213 1.66668H13.3338V5.83336C13.3338 6.29336 13.7063 6.66668 14.1671 6.66668C14.6279 6.66668 15.0004 6.29336 15.0004 5.83336V0.833359C15.0004 0.37332 14.6279 0 14.1671 0H0.833809C0.803809 0 0.777129 0.0125 0.747988 0.0158203C0.708809 0.02 0.672988 0.0266406 0.635488 0.0358203C0.547988 0.0583203 0.468809 0.0925 0.394668 0.139141C0.376348 0.15082 0.353848 0.151641 0.336348 0.164961C0.329629 0.17 0.327129 0.17918 0.320449 0.18418C0.229629 0.25582 0.153809 0.34332 0.0988086 0.4475C0.0871289 0.47 0.0846289 0.49418 0.0754883 0.5175C0.0488086 0.58082 0.019668 0.6425 0.00966797 0.7125C0.00548828 0.7375 0.0129883 0.76082 0.012168 0.785C0.0113477 0.80168 0.000488281 0.81668 0.000488281 0.83332V17.5C0.000488281 17.8975 0.281309 18.2392 0.670488 18.3167L9.00381 19.9834C9.05799 19.995 9.11299 20 9.16713 20C9.35795 20 9.54545 19.9342 9.69545 19.8109C9.88795 19.6525 10.0004 19.4167 10.0004 19.1667V18.3334H14.1671C14.6279 18.3334 15.0004 17.96 15.0004 17.5V12.5C15.0004 12.04 14.6279 11.6667 14.1671 11.6667Z' fill='white')
                      span Выйти
      //- .hide
      a.btn-primary#personal-account-small.hide Личный кабинет
      .personal-account-menu-wrapper-small.display-none
        .personal-account-menu
          form.new-form-style
            input(type="tel" placeholder="Телефон").custom-combobox-input.backgraundNone
            label.error error
            input(type="password" placeholder="Пароль").custom-combobox-input.backgraundNone
            label.error error
            button.btn-primary Вход
            a(href="#", title="title").restore Восстановить пароль
.personal-account-menu-wrapper.personal-account-menu-wrapper-main-page
  .container
    .personal-account-menu
      form.new-form-style
        input(type="tel" placeholder="Телефон").custom-combobox-input.backgraundNone
        label.error error2
        input(type="password" placeholder="Пароль").custom-combobox-input.backgraundNone
        label.error.hide error
        button.btn-primary Вход
        a(href="#", title="title").restore Восстановить пароль
.cabinet-profile-exit.cabinet-profile-exit-main-page
  .container
    .cabinet-profile-exit__menu
      ul
        li
          a(href="profile.html") Мой профиль
        li
          a(href="reviews.html") Отзывы
        li
          a(href="faq.html") FAQ
        li
          form
            button(type="submit").exit
              svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M19.9367 8.84817C19.8942 8.74649 19.8333 8.65399 19.7558 8.57649L17.2567 6.07731C16.9308 5.75231 16.4042 5.75231 16.0783 6.07731C15.7525 6.40313 15.7525 6.93063 16.0783 7.25563L17.1558 8.33313H12.5008C12.04 8.33313 11.6675 8.70645 11.6675 9.16645C11.6675 9.62645 12.04 9.99977 12.5008 9.99977H17.1558L16.0783 11.0773C15.7525 11.4031 15.7525 11.9306 16.0783 12.2556C16.2408 12.4189 16.4541 12.4998 16.6675 12.4998C16.8808 12.4998 17.0942 12.419 17.2567 12.2556L19.7558 9.75641C19.8333 9.67973 19.8942 9.58723 19.9367 9.48473C20.0208 9.28149 20.0208 9.05149 19.9367 8.84817Z' fill='white')
                path(d='M14.1671 11.6667C13.7063 11.6667 13.3338 12.04 13.3338 12.5V16.6667H10.0005V3.33332C10.0005 2.96582 9.75881 2.64082 9.40631 2.535L6.51213 1.66668H13.3338V5.83336C13.3338 6.29336 13.7063 6.66668 14.1671 6.66668C14.6279 6.66668 15.0004 6.29336 15.0004 5.83336V0.833359C15.0004 0.37332 14.6279 0 14.1671 0H0.833809C0.803809 0 0.777129 0.0125 0.747988 0.0158203C0.708809 0.02 0.672988 0.0266406 0.635488 0.0358203C0.547988 0.0583203 0.468809 0.0925 0.394668 0.139141C0.376348 0.15082 0.353848 0.151641 0.336348 0.164961C0.329629 0.17 0.327129 0.17918 0.320449 0.18418C0.229629 0.25582 0.153809 0.34332 0.0988086 0.4475C0.0871289 0.47 0.0846289 0.49418 0.0754883 0.5175C0.0488086 0.58082 0.019668 0.6425 0.00966797 0.7125C0.00548828 0.7375 0.0129883 0.76082 0.012168 0.785C0.0113477 0.80168 0.000488281 0.81668 0.000488281 0.83332V17.5C0.000488281 17.8975 0.281309 18.2392 0.670488 18.3167L9.00381 19.9834C9.05799 19.995 9.11299 20 9.16713 20C9.35795 20 9.54545 19.9342 9.69545 19.8109C9.88795 19.6525 10.0004 19.4167 10.0004 19.1667V18.3334H14.1671C14.6279 18.3334 15.0004 17.96 15.0004 17.5V12.5C15.0004 12.04 14.6279 11.6667 14.1671 11.6667Z' fill='white')
              span Выйти
.bg-dark.display-none