script(src="external/jquery/dist/jquery.js")
//-script(src="external/datetimepicker/build/jquery.datetimepicker.full.js")
//-script(src="external/jquery-bar-rating/jquery.barrating.js")
//-script(src="external/jquery-nice-select/js/jquery.nice-select.js")

script(src="external/owl.carousel/dist/owl.carousel.js")
script(src="external/Vertical-Carousel/js/jQuery.verticalCarousel.js")

//-script(src="external/tabs/tabs.js")
//-script(src="js/jquery.maskedinput.js")
//-script(src="js/jquery.nicescroll.min.js")

script(src="external/autocomplite/jquery-ui.js")
script(src="external/air-datepicker/datepicker.min.js")
script(src="external/time/jquery.maskedinput.js")
script(src="external/jquery-validation/jquery.validate.min.js")
script(src="js/jquery.nicescroll.min.js")
script(src="external/jquery-bar-rating/jquery.barrating.js")
script(src="external/uploader-1.0.2/js/jquery.dm-uploader.min.js")
script(src="external/markjs/jquery.mark.min.js")

script(src='js/main.min.js')