section.work-type.container
	.work-type__left-part
		h1 НАУЧНАЯ СТАТЬЯ
		p Консультации по написанию
		p.work-type__1-haract Количество страниц:
		p.work-type__1-2-haract.work-type__m-top 5 - 15
		p.work-type__2-haract.work-type__m-top Цена:
		p.work-type__2-2-haract.work-type__m-top
			span.work-type__red-string.work-type__first-span
				span.work-type__old-price 250
				span.work-type__first-span &nbspгрн.
			span.work-type__last-price-span-from oт&nbsp
			span.work-type__last-price-span 200 грн.
		p.work-type__3-haract.work-type__m-top Стандартный срок выполнения:
		p.work-type__3-2-haract.work-type__m-top 14 дней
		p.work-type__4-haract.work-type__m-top Специалист:
			p.work-type__4-2-haract.work-type__m-top научный сотрудник, кандидат наук
		p.work-type__description Как правило, научная статья пишется на базе диссертационной работы. Для того чтобы защитить диссертацию, необходимо несколько публикаций в межвузовских журналах, а также журналах, рекомендованных ВАК. Наша компания может помочь не только в написании научной статьи, но и опубликовать Вашу статью в ведущих журналах Москвы и Петербурга, рекомендованных ВАК.Как правило, научная статья пишется на базе диссертационной работы. Для того чтобы защитить диссертацию, необходимо несколько публикаций в межвузовских журналах, а также журналах, рекомендованных ВАК. Наша компания может помочь не только в написании научной статьи, но и опубликовать Вашу статью в ведущих журналах Москвы и Петербурга, рекомендованных ВАК.Как правило, научная статья пишется на базе диссертационной работы. Для того чтобы защитить диссертацию, необходимо несколько публикаций в межвузовских журналах, а также журналах, рекомендованных ВАК.
		form.clearfix
			input(type='text', placeholder='Тема рaботы')
			input(type='text', placeholder='Дата сдачи')
			input(type='submit', value='Узнать стоимость')
			br
			.work-type__checkbox.clearfix
				label(for='one')
					input(type='checkbox', checked='checked' id='one')
					span.checkbox-custom
					a(href='#') Принимаю условия конфиденциальности
		img(src='img/atom.png', alt='background').work-type__img
	.work-type__right-part
		ul
			li
				a(href='#') Дипломная робота
			li
				a(href='#') Маркетинговые исследования
			li
				a(href='#') Бакалаврская работа
			li
				a(href='#') Дипломная работа
			li
				a(href='#') Контрольная робота
			li
				a(href='#') Реферат
			li
				a(href='#') Рецензия
			li
				a(href='#') Эссе
			li
				a(href='#') Научная статья
			li
				a(href='#') Монография
			li
				a(href='#') Бакалаврская работа
			li
				a(href='#') Дипломная работа
			li
				a(href='#') Контрольная робота
			li
				a(href='#') Реферат
			li
				a(href='#') Рецензия
			li
				a(href='#') Эссе
			li
				a(href='#') Дипломная робота
			li
				a(href='#') Маркетинговые исследования
			li
				a(href='#') Бакалаврская работа
			li
				a(href='#') Дипломная работа
			li
				a(href='#') Контрольная робота
			li
				a(href='#') Реферат
			li
				a(href='#') Рецензия
			li
				a(href='#') Эссе
			li
				a(href='#') Научная статья
			li
				a(href='#') Монография
			li
				a(href='#') Бакалаврская работа
			li
				a(href='#') Дипломная работа
			li
				a(href='#') Контрольная робота
			li
				a(href='#') Реферат
			li
				a(href='#') Рецензия
			li
				a(href='#') Эссе

