section.enter-page-wrapper
  .container
    h1 Введите новый пароль
    p.error.hide Ваш Email уже зарегистрирован. Войдите в свой аккаунт
    form.enter-page-form.new-form-style
      input(type="password" placeholder="Новый пароль" required).custom-combobox-input.backgraundNone
      label.error.hide Текст ошибки
      input(type="password" placeholder="Повторить пароль" required).custom-combobox-input.backgraundNone
      label.error.hide Текст ошибки
      button(type="submit").btn-primary.btn-change-pass Изменить
