#passwordDoneMail.modal-new.password-sent
  .modal-content
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="close-modale">
    <g clip-path="url(#clip0)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.04504 6.49997L12.68 1.86499C13.1067 1.43833 13.1067 0.746587 12.68 0.319992C12.2534 -0.106664 11.5617 -0.106664 11.135 0.319992L6.49998 4.95504L1.86494 0.319931C1.43828 -0.106725 0.746602 -0.106725 0.319946 0.319931C-0.106649 0.746587 -0.106649 1.43833 0.319946 1.86493L4.95499 6.49991L0.319946 11.135C-0.106649 11.5616 -0.106649 12.2534 0.319946 12.6799C0.746602 13.1066 1.43828 13.1066 1.86494 12.6799L6.49998 8.0449L11.135 12.6799C11.5616 13.1066 12.2534 13.1066 12.68 12.6799C13.1067 12.2533 13.1067 11.5616 12.68 11.135L8.04504 6.49997Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="13" height="13" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    svg(width='82' height='82' viewbox='0 0 82 82' fill='none' xmlns='http://www.w3.org/2000/svg').ok
      circle(cx='41' cy='41' r='41' fill='white')
      path(d='M41 0C18.2636 0 0 18.2636 0 41C0 63.7364 18.2636 82 41 82C63.7364 82 82 63.7364 82 41C82 18.2636 63.7364 0 41 0ZM64.6682 28.1409L34.85 59.0773C34.4773 59.45 34.1045 59.6364 33.5455 59.6364C32.9864 59.6364 32.4273 59.45 32.2409 59.0773L17.7045 43.4227L17.3318 43.05C16.9591 42.6773 16.7727 42.1182 16.7727 41.7455C16.7727 41.3727 16.9591 40.8136 17.3318 40.4409L19.9409 37.8318C20.6864 37.0864 21.8045 37.0864 22.55 37.8318L22.7364 38.0182L32.9864 49.0136C33.3591 49.3864 33.9182 49.3864 34.2909 49.0136L59.2636 23.1091H59.45C60.1955 22.3636 61.3136 22.3636 62.0591 23.1091L64.6682 25.7182C65.4136 26.2773 65.4136 27.3955 64.6682 28.1409Z' fill='#18C783')
    p Вы успешно изменили <br>пароль. Теперь вы можете<br> войти в ваш аккаунт
    a(href="#").btn-primary Войти