section.reviews
  .container.nav-wrapper
    include ../order-account/3-nav
  .container.content-wrapper
    .big-left-part-wrapper
      .search
        form(method='get', action='/search').new-form-style
          input.custom-combobox-input.backgraundNone(type='text', name='q', placeholder='Поиск заказа')
          input#button-search.butt(type='submit', value='')
          svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 56.966 56.966', style='enable-background:new 0 0 56.966 56.966;', xml:space='preserve')
            path(d='M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17s-17-7.626-17-17S14.61,6,23.984,6z')
      .reviews-wrap
        //- .hide
        .none-result.hide
          p.hide Ничего не найдено
          p Нет заказов для оценивания
        //- .hide
        ul.slider.verticalCarouselGroup.vc_list
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item.active
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
          li.item
            .number
              span Заказ:
              span № 14667
            .type
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых теввевываыа
          .small-screens-rating-wrapper
            form.star-block
              ul
                .first-part-wrapper
                  li
                    .speed-processing Скорость обработки заказа
                      .star-rating
                        select.star-js.one
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .fairness-price Справедливость цены
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                .second-part-wrapper
                  li
                    .quality Качество выполнения
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
                  li
                    .contentment Довольны ли вы работой
                      .star-rating
                        select.star-js
                          option(value='1') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5') 5
              .message.form-holder
                textarea(placeholder='Оставить комментарий...').textArea-autosize
              .text-center
                button.btn-primary.submit Оценить
              .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.
    //- rating start
    //- .hide
    .big-right-part-wrapper
      form.star-block
        ul
          .first-part-wrapper
            li
              .speed-processing Скорость обработки заказа
                .star-rating
                  select.star-js.one
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
            li
              .fairness-price Справедливость цены
                .star-rating
                  select.star-js
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
          .second-part-wrapper
            li
              .quality Качество выполнения
                .star-rating
                  select.star-js
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
            li
              .contentment Довольны ли вы работой
                .star-rating
                  select.star-js
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
        .message.form-holder
          textarea(placeholder='Оставить комментарий...').textArea-autosize
          button.btn-primary.submit Оценить
        .error.hide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis repudiandae dolores odio at asperiores, suscipit voluptates similique? Cum facilis suscipit aspernatur dicta libero sapiente, nesciunt dolorum iure placeat sequi doloribus possimus iste necessitatibus a ea tempore amet odio illo excepturi sint enim, porro ad distinctio! Quos doloremque molestias nam pariatur eligendi odio expedita facilis temporibus quae corporis consectetur doloribus aliquam, consequatur deserunt officia! Perspiciatis esse fugit ipsam dolorum dicta, voluptatibus repellat quisquam minus, unde non quasi porro temporibus at reiciendis! Pariatur sit doloribus veritatis ex porro aliquam, corporis eaque nulla doloremque, molestias unde, ipsam iusto accusamus adipisci eum dolorum eos sequi. Officia modi, omnis accusantium, tenetur cumque recusandae excepturi voluptatum obcaecati deleniti, ullam ex doloremque ducimus quia sint? Architecto officiis dolorem, velit ducimus ratione aliquid beatae sit inventore praesentium temporibus illo vero excepturi dolore laudantium minima provident. Dolorem exercitationem est, corporis reiciendis cum perspiciatis eos odio voluptatum ut cupiditate culpa.