#orderDoneMail.modal-new.orderDoneMail
  .modal-content
    h3 Вы успешно <br/> оформили заказ!
    p На почту мы выслали вам письмо с подтверждением. После подтверждения заказ пойдет в обработку.
    a(href="/").btn-primary На главную
//- #preloader-main.preloader-main-wrapper
#preloader-main.preloader-main-wrapper.hidden.visuallyhidden
  .preloader
    .circ1.circle
    .circ2.circle
    .circ3.circle
    .circ4.circle
    .percents 10%