extends partials/autor-reg-layout

block vars
	- var title = "Зачёт"

block content
	main
		.register-body
			.register-container
				.personal-data.container-512
					.register-succsess
						.register-succsess__title.
							Успешная регистрация!
						p.register-succsess__text.
							Вы успешно оформили заявку! Наш менеджер свяжется с вами в течении 48 часов.
				.container-353
					.register-succsess__questions.
						Если у вас возникли вопросы, задайте вопросы в телеграм или по телефону.

					.register-succsess__text.
						Пока вы ожидаете ответ, посмотрите какие преимущества вам даст сотрудничество к компанией «Зачёт!»

					.wrap-btn
						button.js-next.btn-details.btn-primary.
							Подробнее





