extends partials/autor-reg-layout

block vars
	- var title = "Зачёт"
	- var bodyClass = "register-body1"
block content
	main
		.register-body
			.register-container.register-container__step--2
				.register-progress__bar
					span.line-progress.step-2
					span.stage-1.stage.active.
						1
					span.stage-2.stage.active.
						2
					span.stage-3.stage.
						3
					span.stage-4.stage.
						4
				.personal-data.container-353
					.register-autor__title.
						Квалификация
					form.new-form-style
						.form-add__all

							.form-add__files.n-visible
								input.custom-combobox-input.backgraundNone(placeholder="Кпи")
								input.custom-combobox-input.backgraundNone(placeholder="ФММ")
								input.custom-combobox-input.backgraundNone(placeholder="Год окончания/Курс")
								.button_add
									label(for='file2')
										a
											svg(width='19', height='19', viewBox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
												path(d='M8.83248 8.47441C9.09295 8.21395 9.09295 7.79069 8.83248 7.53023C8.57202 7.26976 8.14876 7.26976 7.8883 7.53023L4.35574 11.0628C3.75341 11.6651 3.42783 12.4465 3.42783 13.293C3.42783 14.1395 3.75341 14.9209 4.35574 15.5232C5.59295 16.7605 7.59527 16.7605 8.8162 15.5232L16.7929 7.54651C17.6232 6.71627 18.079 5.6093 18.079 4.4372C18.079 3.26511 17.6232 2.15813 16.7929 1.3279C15.0674 -0.397681 12.2836 -0.397681 10.5581 1.3279L2.5976 9.28837C1.52318 10.3628 0.937134 11.7791 0.937134 13.293C0.937134 14.807 1.52318 16.2395 2.5976 17.2977C3.67202 18.3721 5.0883 18.9581 6.60225 18.9581C8.1162 18.9581 9.54876 18.3721 10.6069 17.2977L14.1395 13.7651C14.3999 13.5046 14.3999 13.0814 14.1395 12.8209C13.879 12.5605 13.4557 12.5605 13.1953 12.8209L9.66271 16.3535C8.84876 17.1674 7.75806 17.6233 6.60225 17.6233C5.44644 17.6233 4.35574 17.1674 3.54178 16.3535C2.72783 15.5395 2.27202 14.4488 2.27202 13.293C2.27202 12.1372 2.72783 11.0465 3.54178 10.2326L11.5022 2.27209C12.0883 1.68604 12.8534 1.37674 13.6674 1.37674C14.4813 1.37674 15.2627 1.70232 15.8325 2.27209C16.4185 2.85813 16.7278 3.62325 16.7278 4.4372C16.7278 5.25116 16.4022 6.03255 15.8325 6.60232L7.85574 14.5791C7.15574 15.2791 5.99992 15.2791 5.28365 14.5791C4.94178 14.2372 4.74644 13.7814 4.74644 13.293C4.74644 12.8046 4.94178 12.3488 5.28365 12.007L8.83248 8.47441Z', fill='#40297B')
										.add_cont(type='file').
											Прикрепить документы о подтверждении образования
								input#file2.disNone.files(type='file', multiple)
								.files-inputed
							.form-add__files
								.copied
									input.custom-combobox-input.backgraundNone(placeholder="ВУЗ")
									.wrap-inputs
										input.inputs-together__1.custom-combobox-input.backgraundNone(placeholder="Факультет*")
										input.inputs-together__2.custom-combobox-input.backgraundNone(placeholder="Курс*")
									input.custom-combobox-input.backgraundNone(placeholder="Дата окончания")
									.button_add
										label(for='file')
											a
												svg(width='19', height='19', viewBox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M8.83248 8.47441C9.09295 8.21395 9.09295 7.79069 8.83248 7.53023C8.57202 7.26976 8.14876 7.26976 7.8883 7.53023L4.35574 11.0628C3.75341 11.6651 3.42783 12.4465 3.42783 13.293C3.42783 14.1395 3.75341 14.9209 4.35574 15.5232C5.59295 16.7605 7.59527 16.7605 8.8162 15.5232L16.7929 7.54651C17.6232 6.71627 18.079 5.6093 18.079 4.4372C18.079 3.26511 17.6232 2.15813 16.7929 1.3279C15.0674 -0.397681 12.2836 -0.397681 10.5581 1.3279L2.5976 9.28837C1.52318 10.3628 0.937134 11.7791 0.937134 13.293C0.937134 14.807 1.52318 16.2395 2.5976 17.2977C3.67202 18.3721 5.0883 18.9581 6.60225 18.9581C8.1162 18.9581 9.54876 18.3721 10.6069 17.2977L14.1395 13.7651C14.3999 13.5046 14.3999 13.0814 14.1395 12.8209C13.879 12.5605 13.4557 12.5605 13.1953 12.8209L9.66271 16.3535C8.84876 17.1674 7.75806 17.6233 6.60225 17.6233C5.44644 17.6233 4.35574 17.1674 3.54178 16.3535C2.72783 15.5395 2.27202 14.4488 2.27202 13.293C2.27202 12.1372 2.72783 11.0465 3.54178 10.2326L11.5022 2.27209C12.0883 1.68604 12.8534 1.37674 13.6674 1.37674C14.4813 1.37674 15.2627 1.70232 15.8325 2.27209C16.4185 2.85813 16.7278 3.62325 16.7278 4.4372C16.7278 5.25116 16.4022 6.03255 15.8325 6.60232L7.85574 14.5791C7.15574 15.2791 5.99992 15.2791 5.28365 14.5791C4.94178 14.2372 4.74644 13.7814 4.74644 13.293C4.74644 12.8046 4.94178 12.3488 5.28365 12.007L8.83248 8.47441Z', fill='#40297B')
											.add_cont(type='file').
												Прикрепить документы о подтверждении образования
									input#file.disNone(type='file', multiple)
									.files-inputed
						.wrap-add__education
							a.add-education.
								+ Добавить образование

						.arr-check__all
							.check-questions.arr-check
								.title-questions.
									В какой форме вы рассматриваете сотрудничество с компанией «Зачёт!»?
								label.contain-label(for='1') Постоянная занятость
									input.checkbox-reg#1(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='2') Неполная занятость
									input.checkbox-reg#2(type='checkbox')
									span.checkbox-custom__reg
							.check-questions.arr-check
								.title-questions.
									Какой у вас опыт написание студенческих работ /научных работ на заказ
								label.contain-label(for='3') у меня еще нет опытa
									input.checkbox-reg#3(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='4') до 1 года
									input.checkbox-reg#4(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='5') от 1 до 3 лет
									input.checkbox-reg#5(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='6') более 3 лет
									input.checkbox-reg#6(type='checkbox')
									span.checkbox-custom__reg
							.check-questions.arr-check
								.title-questions.
									Работы какой сложности вы предпочли бы выполнять?
								label.contain-label(for='7') Простые работы (эссе, рефераты, рецензии, рассчётные работы)
									input.checkbox-reg#7(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='8') Научные работы (Исследования, статьи, диссертации)
									input.checkbox-reg#8(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='9') Сложные работы
									input.checkbox-reg#9(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='10') Не имеет значения
									input.checkbox-reg#10(type='checkbox')
									span.checkbox-custom__reg
							.check-questions.arr-check
								.title-questions.
									Выберите типы работ, которые вы можете выполнять?
								.sub-title.
									Редактировать или добавить информацию вы сможете в личном кабинете.
								label.contain-label(for='11') Курсовая
									input.checkbox-reg#11(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='12') Дипломная
									input.checkbox-reg#12(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='13') Эссе
									input.checkbox-reg#13(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='14') Бизнес-план
									input.checkbox-reg#14(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='15') Доклад
									input.checkbox-reg#15(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='16') Курсовая
									input.checkbox-reg#16(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='17') Дипломная
									input.checkbox-reg#17(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='18') Эссе
									input.checkbox-reg#18(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='19') Бизнес-план
									input.checkbox-reg#19(type='checkbox')
									span.checkbox-custom__reg
								label.contain-label(for='20') Доклад
									input.checkbox-reg#20(type='checkbox')
									span.checkbox-custom__reg
					button.js-next.btn-next.btn-primary.
						Далее

