extends partials/autor-reg-layout

block vars
  - var title = "Зачёт"
  - var bodyClass = "register-body1"

block content
  main
    .register-body
      .register-container.register-container__step--1
        .register-progress__bar
          //-Что бы урпавлять прогресс баром, просто добавляем
          //- класс .step-$ (1.2.3.4)
          //- Круги закрашиваються  класом .active на нужный шаг
          span.line-progress.step-1
          span.stage-1.stage.active.
            1
          span.stage-2.stage.
            2
          span.stage-3.stage.
            3
          span.stage-4.stage.
            4
        .personal-data.container-353
          .register-autor__title.
            Приветствие
          .register-autor__title--second.
            Добрый день, уважаемый Автор.
          p.
            Мы очень рады, что наше предложения
            о сотрудничестве тебя заинтересовало!
            Чтобы на этапе первого знакомства существенно
            сэкономить время, заполни, пожалуйста, анкету.
            Указывай только достоверную и правдивую информацию,
            так как это очень важно для нашего будущего
            сотрудничества.
          p.
            Если у тебя возникли какие-то вопросы,
            ты можешь написать или позвонить нашему менеджеру.
        .important
          p.
            Важно! Самым главным критерием для нас
            является качество выполняемой работы.
            Мы принимаем на работу только специалистов
            с минимальным баллом 4/B/80. Если ваши академические
            результаты не удовлетворяют данное условие,
            рекомендуем не заполнять анкету.

        .personal-data.container-353
          form.new-form-style
            input.custom-combobox-input.backgraundNone(placeholder="Введите Ваш Email")
            label.error error error error error error error error error error error error error error 
            .error-wrapper
              label.contain-label(for='one') Принимаю условия конфиденциальност и условия обработки персональных данных
                input.checkbox-reg#one(type='checkbox')
                span.checkbox-custom__reg.

          button.js-next.btn-next.btn-primary.
            Дале





