extends partials/autor-reg-layout

block vars
  - var title = "Зачёт"
  - var bodyClass = "register-body1"

block content
  main
    .register-body
      .register-container.register-container__step--4
        .register-progress__bar
          span.line-progress.step-4
          span.stage-1.stage.active.
            1
          span.stage-2.stage.active.
            2
          span.stage-3.stage.active.
            3
          span.stage-4.stage.active.
            4
        .personal-data.container-435
          .register-autor__title.
            Квалификация 2
          .register-autor__title--second.
            Выберите предметы, по которым вы готовы выполнять работы
          form.new-form-style
            .form-search
              .wrap-for__icon
                select#treaSearch.form-first-item
                  option(value="")
                  option(value="1-1-2").
                    Экономика, 1 вид кономика, 1 вид кономика, 1 вид кономика, 1 вид кономика, 1 вид
                  option(value="1-1-3").
                    Экономика, 2 вид
                  option(value="1-1-4").
                    Математика, вид Z
                  option(value="1-1-5").
                    Английский, вид У
            .add-items
              .add-items__title
                span.
                  Выбранные предметы:
                span.
                  Список всех передметов:

            .wrap-tree
              ul.tree-view.tree.three-checked
                li.main-branch
                  input(type="checkbox")#tree-left-1.tree-input
                  label(for="tree-left-1").tree-label.
                    Гуманитарные науки
                  ul
                    li.second-branch
                      input(type="checkbox")#tree-left-2.tree-input
                      label(for="tree-left-2").tree-label.
                        Тип специальности 1
                      ul
                        li
                          label(for="tree-left-5").tree-label.contain-label Предмет 1
                            input(type="checkbox" value="5")#tree-left-5.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-left-1-1-2").tree-label.contain-label Экономика
                            input(type="checkbox" value="1-1-2")#tree-left-1-1-2.checkbox-reg
                            span.checkbox-custom__reg
                    li.second-branch
                      input(type="checkbox")#tree-left-3.tree-input
                      label(for="tree-left-3").tree-label.
                        Тип специальности 2
                      ul
                        li
                          label(for="tree-left-7").tree-label.contain-label Предмет 1
                            input(type="checkbox" value="7")#tree-left-7.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-left-8").tree-label.contain-label Предмет 2
                            input(type="checkbox" value="8")#tree-left-8.checkbox-reg
                            span.checkbox-custom__reg
                    li.second-branch
                      input(type="checkbox")#tree-left-4.tree-input
                      label(for="tree-left-4").tree-label.
                        Тип специальности 3
                      ul
                        li
                          label(for="tree-left-9").tree-label.contain-label Предмет 1
                            input(type="checkbox" value="9")#tree-left-9.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-left-10").tree-label.contain-label Предмет 2
                            input(type="checkbox" value="10")#tree-left-10.checkbox-reg
                            span.checkbox-custom__reg

                li.main-branch
                  input(type="checkbox")#tree-left-11.tree-input
                  label(for="tree-left-11").tree-label.
                    Естественные науки
                  ul
                    li.second-branch
                      input(type="checkbox")#tree-left-12.tree-input
                      label(for="tree-left-12").tree-label.
                        Тип специальности 1
                      ul
                        li
                          label(for="tree-left-15").tree-label.contain-label Предмет 1
                            input(type="checkbox" value="15")#tree-left-15.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-left-1-1-4").tree-label.contain-label Математика
                            input(type="checkbox" value="1-1-4")#tree-left-1-1-4.checkbox-reg
                            span.checkbox-custom__reg
                    li.second-branch
                      input(type="checkbox")#tree-left-13.tree-input
                      label(for="tree-left-13").tree-label.
                        Тип специальности 2
                      ul
                        li
                          label(for="tree-left-17").tree-label.contain-label Предмет 1
                            input(type="checkbox" value="17")#tree-left-17.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-left-18").tree-label.contain-label Предмет 2
                            input(type="checkbox" value="18")#tree-left-18.checkbox-reg
                            span.checkbox-custom__reg
                    li.second-branch
                      input(type="checkbox")#tree-left-14.tree-input
                      label(for="tree-left-14").tree-label.
                        Тип специальности 3
                      ul
                        li
                          label(for="tree-1-1-3").tree-label.contain-label Экономика
                            input(type="checkbox" value="1-1-3")#tree-left-1-1-3.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-1-1-5").tree-label.contain-label Английский
                            input(type="checkbox" value="1-1-5")#tree-left-1-1-5.checkbox-reg
                            span.checkbox-custom__reg



              span.add-items__title--media.
                Список всех передметов:
              ul.tree-view.tree.tree-right
                li.main-branch
                  input(type="checkbox")#tree-1.tree-input
                  label(for="tree-1").tree-label.
                    Гуманитарные науки
                  ul
                    li.tree-type
                      input(type="checkbox")#tree-2.tree-input
                      label(for="tree-2").tree-label.
                        Тип специальности 1
                      ul
                        li
                          label(for="tree-5").tree-label.contain-label Предмет contain-label
                            input(type="checkbox" value="5")#tree-5.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-1-1-2").tree-label.contain-label Экономика
                            input(type="checkbox" value="1-1-2")#tree-1-1-2.checkbox-reg
                            span.checkbox-custom__reg
                    li.tree-type
                      input(type="checkbox")#tree-3.tree-input
                      label(for="tree-3").tree-label.
                        Тип специальности 2
                      ul
                        li
                          label(for="tree-7").tree-label.contain-label Предмет contain-label
                            input(type="checkbox" value="7")#tree-7.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-8").tree-label.contain-label Предмет contain-label
                            input(type="checkbox" value="8")#tree-8.checkbox-reg
                            span.checkbox-custom__reg
                    li.tree-type
                      input(type="checkbox")#tree-4.tree-input
                      label(for="tree-4").tree-label.
                        Тип специальности 3
                      ul
                        li
                          label(for="tree-9").tree-label.contain-label Предмет contain-label
                            input(type="checkbox" value="9")#tree-9.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-10").tree-label.contain-label Предмет contain-label
                            input(type="checkbox" value="10")#tree-10.checkbox-reg
                            span.checkbox-custom__reg

                li.main-branch
                  input(type="checkbox")#tree-11.tree-input
                  label(for="tree-11").tree-label.
                    Естественные науки
                  ul
                    li.tree-type
                      input(type="checkbox")#tree-12.tree-input
                      label(for="tree-12").tree-label.
                        Тип специальности 1
                      ul
                        li
                          label(for="tree-15").tree-label.contain-label Предмет 100
                            input(type="checkbox" value="15")#tree-15.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-1-1-4").tree-label.contain-label Математика
                            input(type="checkbox" value="1-1-4")#tree-1-1-4.checkbox-reg
                            span.checkbox-custom__reg
                    li.tree-type
                      input(type="checkbox")#tree-13.tree-input
                      label(for="tree-13").tree-label.
                        Тип специальности 2
                      ul
                        li
                          label(for="tree-17").tree-label.contain-label Предмет 100
                            input(type="checkbox" value="17")#tree-17.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-18").tree-label.contain-label Предмет 200
                            input(type="checkbox" value="18")#tree-18.checkbox-reg
                            span.checkbox-custom__reg
                    li.tree-type
                      input(type="checkbox")#tree-14.tree-input
                      label(for="tree-14").tree-label.
                        Тип специальности 3
                      ul
                        li
                          label(for="tree-1-1-3").tree-label.contain-label Экономика
                            input(type="checkbox" value="1-1-3")#tree-1-1-3.checkbox-reg
                            span.checkbox-custom__reg
                        li
                          label(for="tree-1-1-5").tree-label.contain-label Английский
                            input(type="checkbox" value="1-1-5")#tree-1-1-5.checkbox-reg
                            span.checkbox-custom__reg
          button.js-next.btn-next.btn-primary.
            Далее