extends partials/autor-reg-layout

block vars
  - var title = "Зачёт"
  - var bodyClass = "register-body1"
block content
  main
    .register-body
      .register-container.register-container__step--2
        .register-progress__bar
          span.line-progress.step-2
          span.stage-1.stage.active.
            1
          span.stage-2.stage.active.
            2
          span.stage-3.stage.
            3
          span.stage-4.stage.
            4
        .personal-data.container-353
          .register-autor__title.
            Персональные данные
          .register-autor__title--second.
            Заполните следующие поля
          form.new-form-style
            .error-wrapper
              input.custom-combobox-input.backgraundNone(placeholder="ФИО")
              label.error Выберите тип работы
            input.custom-combobox-input.backgraundNone(placeholder="Дата рождения")
            input.custom-combobox-input.backgraundNone(placeholder="Номер телефона")
            .error-wrapper
              select.custom-combobox-input.custom-select.nice
                option.ui-autocomplete(data-display="Откуда Вы узнали о нас?", value="")
                option(value="1").
                  Специалист
                option(value="2").
                  Бакалавр
              label.error Выберите тип работы
            select.custom-combobox-input.custom-select.nice
              option.placeholder(data-display="Ваш академический статус", value="")
              option(value="1").
                Специалист
              option(value="2").
                Бакалавр

          button.js-next.btn-next.btn-primary.
            Далеe






