extends partials/cabinet-layout-new

block vars
  - var title = "Зачёт"

block content
  section
    include ./partials/order-account/1-slider
  main
    include ./partials/finance/1-main

block scripts
  include ./partials/scripts-register-forms