extends partials/layout

block vars
  - var title = "Зачёт!"
  - var bodyClass = "make-first-order"

block navigation
  include ./partials/navigation-new

block content
  main
    include ./partials/first-order-homework/first-order-homework

block footer
  include ./partials/footer-new

block modals
  include ./partials/first-order-homework/modals
  
block scripts
  include ./partials/scripts-register-forms
