extends partials/layout

block vars
  - var title = "Зачёт"
  //- - var bodyClass = "main-index-page"

block content
  main
    include ./partials/index/1-home-block
    include ./partials/index/2-services-block
    include ./partials/index/3-advantage-block
    include ./partials/index/4-stages-block
    include ./partials/index/5-reviews-block
    include ./partials/index/6-job-block
    include ./partials/index/7-partners-block
    include ./partials/index/8-events-block
    include ./partials/index/9-about-block