extends partials/layout-page

mixin itemReviews()
	li
		.associate
			.foto
				img(src="http://mignews.com/aimages/01_15/310115_212757_27759_2.jpg")
			.name Антоха Головастый
			.name_status Выпускник
		.text
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.


block vars
	- var title = "Зачёт!"
	- var bodyClass = "wrap_partners"
block content
	main
		section.orders
			.slider-cabinet
				ul.owl-carousel.owl-theme.order-slider
					li.item-slider(style='background-image: url(img/bg/bg-slogan.png);')
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи Получи много знаний, и очень много тоже получи Получи много знаний, и очень много тоже получи
					li.item-slider(style='background-image: url(img/bg/bg-slogan.png);')
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
					li.item-slider(style='background-image: url(img/bg/bg-slogan.png);')
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
		section.become-author
			.container
				h1 Стать автором очень просто!
				.text
					p Хочешь стать автором и закарабатывать от 3000 грн. в месяц не выходя из дома?
				ul.stages-author
					li.item
						.icon
							img(src="img/icons/add-new-user.png")
						.num
							span 1
							h3 Регистрируйся
						.text2
							p Заполни анкету и проди аккретидацию спициалистом
					li.item
						.icon
							img(src="img/icons/notepad.png")
						.num
							span 2
							h3 Выполняй заказы
						.text2
							p Выбирай заказы и повышай свой рейтинг
					li.item
						.icon
							img(src="img/icons/currency.png")
						.num
							span 3
							h3 Зарабатывай
						.text2
							p Выполняй заказы качественно и в срок
				button.go-author.open_modal(href="#job-feedback") Хочу стать автором
		section.conditions-for-you
			.container
				h2 Выгодные условия для:
				.slider-list
					ul.owl-carousel.owl-theme#conditions-for
						li.item
							.name Научных работников
							.foto
								img(src="img/job_foto-slider/nauchniy.png")
						li.item
							.name Студентов
							.foto
								img(src="img/job_foto-slider/student.png")
						li.item
							.name Выпускников университетов
							.foto
								img(src="img/job_foto-slider/vipusknik.png")
						li.item
							.name Репетиторов
							.foto
								img(src="img/job_foto-slider/repetitor.png")
						li.item
							.name Аспирантов
							.foto
								img(src="img/job_foto-slider/aspirant.png")
						//li.item
							.name Проффесоров
							.foto
								img(src="img/job_foto-slider/nauchniy.png")

		section.with-us
			.container
				h2 Преимущества работы с нами
				ul
					li
						.num
							span 1
						.text
							p 7 лет на рынке образовательных услуг
					li
						.num
							span 2
						.text
							p Надежная защита персональных данных
					li
						.num
							span 3
						.text
							p Более 2000 заказов в месяц
					li
						.num
							span 4
						.text
							p Поддержка персонального менеджера
					li
						.num
							span 5
						.text
							p Выплаты каждые 2 недели
					li
						.num
							span 6
						.text
							p Удаленная работа


		section.reviews-list.reviews-employees

			.container
				h2 Что говорят наши сотрудники
				ul.owl-carousel.owl-theme#reviews-employees
					+itemReviews(
					)
					+itemReviews(
					)
					+itemReviews(
					)
					+itemReviews(
					)
					+itemReviews(
					)
				.question-job
					h3 У Вас возникли вопросы? Свяжись с нами
					.mail
						img(src="img/icons/mail-green.png")
						a(href="mailto:za4et.ukraine@ukr.net") za4et.ukraine@ukr.net
					.phone
						img(src="img/icons/phone-green.png")
						a(href="tel:+380503123666") +38(050)-312-36-66
