extends partials/cabinet-layout

block vars
	- var title = "Зачёт"

block content
	main
		section.make
			.slider-cabinet
				ul.owl-carousel.owl-theme.order-slider
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
			.container
				nav.cabinet
					ul
						li.active
							a(href="make-order.html") Сделать заказ
						li
							a(href="orders.html") Заказы
						li
							a(href="reviews.html") Отзывы
						li
							a(href="discount.html") Скидки
				form
					ul.direction
						li
							input(type='text', name='university', placeholder='Университет')
						li
							input(type='text', name='faculty', placeholder='Факультет')
						li
							input(type='text', name='course', placeholder='Курс')
						li.sure
							input(type='text', name='subject', placeholder='Предмет')
						li.promo
							span Промокод
							input(type='text', name='promo', placeholder='')
					ul.task
						li.type.sure
							//input(type='text', name='tupe', placeholder='Тип работы:')
							select.nice.g(required  onchange="className=selectedIndex?'b':'g'")
								option.g(disabled selected value="") Тип работы:
								option.b(value="1") Тип 1
								option.b(value="2") Тип 2
								option.b(value="3") Тип 3
								option.b(value="4") Тип 4
						li.theme
							input(type='text', name='theme', placeholder='Тема/Вариант')
							.add +
						li.sure
							input#datetimepicker(type='text', name='term', placeholder='Срок выполнения работы' required)
						li.comment
							textarea(name='comment', placeholder='Требования к работе/Комментарий')
						li.file-upload
							input(type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple)
							label(for="file")
								span Прикрепить файл

					.btn
						button Отправить заявку
