extends partials/cabinet-layout-new

block vars
  - var title = "Зачёт!"
  //- var bodyClass = "enter"

block navigation
  include ./partials/navigation-new

block content
  main
    include ./partials/new-password/1-main

block footer
  include ./partials/footer-new

block modals
  include ./partials/new-password/2-modal

block scripts
  include ./partials/scripts-register-forms
