extends partials/cabinet-layout

block vars
	- var title = "Зачёт"

block content
	main
		section.orders
			.slider-cabinet
				ul.owl-carousel.owl-theme.order-slider
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
			.container
				nav.cabinet
					ul
						li
							a(href="make-order.html") Сделать заказ
						li.active
							a(href="orders.html") Заказы
						li
							a(href="reviews.html") Отзывы
						li
							a(href="discount.html") Скидки

				.sort-order
					span Сортировать:
					ul
						li.status-order
							a.all(href="#") Все
						li.status-order
							a.process(href="#") В обработке
						li.status-order
							a.pending(href="#") В ожидании
						li.status-order
							a.work(href="#") В работе
						li.status-order
							a.finished(href="#") Завершен
						li.status-order
							a.inalization(href="#") В доработке
				.verticalCarousel-orders
					.verticalCarouselHeader
						a.vc_goUp(href='#')
							i.fa.fa-fw.fa-angle-up

					ul.list-orders.slider.verticalCarouselGroup.vc_list
						li

							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.process В обработке
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”

								.price

									.new 0
										span грн
									button.pay Оплатить
						li

							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.process В обработке
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”

								.price

									.new 0
										span грн
									button.pay Оплатить
						li

							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.process В обработке
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”

								.price

									.new 0
										span грн
									button.pay Оплатить
						li
							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.pending В ожидании
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА” Анализ макросреды можно представить в виде процесса, состоящего из ряда операций.
								.discounts
									.promo-code
										span Промокод: 657hyt
									.discount
										span Скидка 15%
								.price
									.old 1000
									.new 1250
										span грн
									button.pay Оплатить
						li
							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.work В работе
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								.price
									.new 330
										span грн
									button.pay Оплатить
						li
							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.finished Завершен
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								.price
									.new 330
										span грн
									button.pay Оплатить
						li
							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.process В доработке
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								.price
									.new 456
										span грн
									button.pay Оплатить
						li
							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.work В работе
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								.price
									.new 330
										span грн
									button.pay Оплатить
						li
							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.finished Завершен
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								.price
									.new 330
										span грн
									button.pay Оплатить
						li
							a(href="order.html")
								.desc
									.number
										span № 14667
									.status-order
										span Статус:
										span.process В доработке
									.date-placement
										span Дата размещения: 14.12.2017
									.theme
										span Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								.price
									.new 456
										span грн
									button.pay Оплатить
					.verticalCarouselHeader
						a.vc_goDown(href='#')
							i.fa.fa-fw.fa-angle-down
