extends partials/layout-page

block vars
	- var title = "Зачёт"
	- var bodyClass = "wrap_partners"
block content
	main
		section.slogan(style='background-image: url(img/bg/bg-slogan.png);')
			h1 Сотрудничать с нами очень выгодно !
		section.list-partners
			.container
				ul
					li.item
						.icon
							img(src="img/icons/support.png")
						h3 Агенствам
						.text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

						button.go-partner.open_modal(href="#job-partners") Стать партнёром
					li.item
						.icon
							img(src="img/icons/graduated.png")
						h3 Веб-мастерам
						.text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

						button.go-partner.open_modal(href="#job-partners") Стать партнёром
					li.item
						.icon
							img(src="img/icons/student.png")
						h3 Студентам
						.text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

						a.go-partner.open_modal(href="#job-partners") Стать партнёром
		section.with-us
			.container
				h2 Почему лучшие стоит работать с нами?
				ul
					li
						.num
							span 1
						.text
							p Разработана удобная система личных кабинетов, что Вам поможет удобно кооперировать с нами
					li
						.num
							span 2
						.text
							p Многолетний опыт позволил нам создать огроную базу квалифицированных авторов
					li
						.num
							span 3
						.text
							p К Вашему удобсвту предлагается отдел по контролю качества. Мы работаем над тем, чтобы удовлетворить клиентов на 100%
					li
						.num
							span 4
						.text
							p Мы предлагаем совместное развитие
					li
						.num
							span 5
						.text
							p Удобная и прозрачная система выплат и бонусов
					li
						.num
							span 6
						.text
							p Еще очень важная штука без которой ты не сможешь спать по ночам

		section.question
			.container
				h2 У тебя возникли вопросы?
				.text
					p Мы тебя с удовольствием проконсультируем и предоставим удобную систему для долгосрочного сотруднчества
				.phone
					img(src="img/icons/phone.png")
					a(href="tel:+380503123666") +38(050)-312-36-66
				.mail
					img(src="img/icons/mail.png")
					a(href="mailto:za4et.ukraine@ukr.net") za4et.ukraine@ukr.net
