extends partials/cabinet-layout

block vars
	- var title = "Зачёт"

block content
	main
		section.reviews
			.slider-cabinet
				ul.owl-carousel.owl-theme.order-slider
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
					li.item-slider
						.icon
							img(src='img/icon-slide.png')
						.content
							h2 День знаний!
							.text
								p Получи много знаний, и очень много тоже получи
			.container
				nav.cabinet
					ul
						li
							a(href="make-order.html") Сделать заказ
						li
							a(href="orders.html") Заказы
						li.active
							a(href="reviews.html") Отзывы
						li
							a(href="discount.html") Скидки
				.search
					form(method='get', action='/search')
						input(type='text', name='q', placeholder='Пошук')
						input#button-search.butt(type='submit', value='')
						svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 56.966 56.966', style='enable-background:new 0 0 56.966 56.966;', xml:space='preserve')
							path(d='M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17s-17-7.626-17-17S14.61,6,23.984,6z')
				.reviews-wrap
					.verticalCarousel-reviews
						.verticalCarouselHeader
							a.vc_goUp(href='#')
								i.fa.fa-fw.fa-angle-up
						.list-review-item
							ul.slider.verticalCarouselGroup.vc_list
								li.item
									.number
										span № 14667
									.theme
										span.bold Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								li.item
									.number
										span № 14667
									.theme
										span.bold Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА” макросреды макросреды макросреды
								li.item
									.number
										span № 14667
									.theme
										span.bold Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
								li.item
									.number
										span № 14667
									.theme
										span.bold Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА” макросреды макросреды макросреды
								li.item
									.number
										span № 14667
									.theme
										span.bold Тема работы:
										h3 Анализ макросреды ТОВ “ЛАСТОЧКА”
						.verticalCarouselHeader
							a.vc_goDown(href='#')
								i.fa.fa-fw.fa-angle-down

					.star-block
						ul
							li
								.speed-processing Скорость обработки заказа
									.star-rating
										select.star-js
											option(value='1') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4') 4
											option(value='5' selected) 5
							li
								.fairness-price Справедливость цены
									.star-rating
										select.star-js
											option(value='1') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4' selected) 4
											option(value='5') 5
							li
								.quality Качество выполнения
									.star-rating
										select.star-js
											option(value='1') 1
											option(value='2') 2
											option(value='3') 3
											option(value='4') 4
											option(value='5' selected) 5
							li
								.contentment Довольны ли вы работой с нами
									.star-rating
										select.star-js
											option(value='1') 1
											option(value='2') 2
											option(value='3' selected) 3
											option(value='4') 4
											option(value='5') 5
						.message.form-holder
							textarea(placeholder='Напишите Ваши впечатления', name='message')
						.text-center
							.submit Оценить


