extends partials/cabinet-layout-new

block vars
  - var title = "Зачёт"

block content
  section
    include ./partials/order-account/1-slider
  main
    include ./partials/reviews/1-main

block modals
  include ./partials/reviews/2-modals

block scripts
  include ./partials/scripts-register-forms