extends partials/layout

block vars
    - var title = "Зачёт!"

block navigation
    include ./partials/work-types-main-navigation

block content
  main
    include ./partials/work-types-main
    include ./partials/work-types-reviews
