section.enter-page-wrapper
  .container
    h1 Востановить пароль
    form.enter-page-form.new-form-style
      p.error.hide Данный номер не подтверждён, введите ваш емейл для восстановления пароля
      input(type="password" placeholder="Ваш Email или номер телефона" required).custom-combobox-input.backgraundNone.error
      .forgot-submit-wrapper
        a(href="#") Назад
        button(type="submit").btn-primary Востановить
